<th:block th:include="@{_header.html}"/>
    <script>
        function highlight(i){
            let row = document.querySelectorAll(".faq-question")[i];
            let rowLength = document.querySelectorAll(".faq-question").length;
            let answer = document.querySelectorAll(".faq-answer")[i];

            if(!row.classList.contains('faq-question-focus')){
                for(let j =0; j < rowLength; j++){
                    document.querySelectorAll(".faq-question")[j].classList.remove('faq-question-focus');
                    document.querySelectorAll(".faq-answer")[j].classList.remove('on');
                }
            }

            row.classList.toggle('faq-question-focus');
            answer.classList.toggle('on');
        }

        function clicked(i){
        	// 사용자가 클릭한 버튼 하이라이트
            let button = document.querySelectorAll(".faq-table-tabs > input[type='button']")[i];

            for(let j=0; j <5; j++){
                document.querySelectorAll(".faq-table-tabs > input[type='button']")[j].classList.remove('on');
            }

            button.classList.add('on');
            
         // 버튼의 subcate 값에 맞는 글 가져오기 및 출력(ajax fetch api)
            let subcate = i * 10 + 10;
            let headers = new Headers();
            headers.append("Content-Type", "applicatoin/json; charset=utf-8");
            fetch("/swiftER/cs/faqByCate?subcateCode=" + subcate, {headers:headers, method:"GET"})
            .then(response => response.json())
            .then(function(json){
            	document.querySelector('.faq-table').innerHTML = '';
            	
       			for(let k =0; k < json.faqList.length; k++){
       				let html = `
       				 <tr class="faq-question">
                        <td onclick="highlight(${k})">
                            <i class="fa-solid fa-q"></i>${json.faqList[k].title}
                            <a href="#"><i class="fa-solid fa-angle-down"></i></a> 
                        </td>
                    </tr>
                    <tr class="faq-answer">
                        <td>
                            <i class="fa-solid fa-a"></i>
                            <br>
                            <br>
                            ${json.faqList[k].content}
                        </td>
                    </tr> 
       				`;
       				
       				document.querySelector('.faq-table').insertAdjacentHTML('beforeend', html);
       			}
            }
            )
            .catch(err => console.error(err));
        }
    </script>
        <main class="faq-page">
            <div class="faq-banner">
                <h1>자주하는 질문</h1>
                <p>swiftER의 이용에 가장 유용한 질문들로 모았습니다</p>
            </div>
            <div class="faq-table-tabs">
                <input type="button" value="회원 정보" onclick="clicked(0)">
                <input type="button" value="증상 검색" onclick="clicked(1)">
                <input type="button" value="응급실 검색" onclick="clicked(2)">
                <input type="button" value="커뮤니티" onclick="clicked(3)">
                <input type="button" value="기타" onclick="clicked(4)">
            </div>
            <div class="faq-table-wrapper">
                <table class="faq-table">
	                <th:block th:each="article, status: ${faqList}">     
	                    <tr class="faq-question">
	                        <td th:onclick="|highlight(${status.index})|">
	                            <i class="fa-solid fa-q"></i>[[${article.title}]]
	                            <a href="#"><i class="fa-solid fa-angle-down"></i></a> 
	                        </td>
	                    </tr>
	                    <tr class="faq-answer">
	                        <td>
	                            <i class="fa-solid fa-a"></i>
	                            <br>
	                            <br>
	                            [[${article.content}]]
	                        </td>
	                    </tr> 
	                </th:block>      
                </table>
            </div>
        </main>
<th:block th:include="@{_footer.html}"/>        