<th:block th:include="@{_header.html}"/>
<script>
function beat(i){
    let arrow = document.getElementsByClassName("fa-arrow-right-long")[i];
    arrow.classList.add("fa-beat-fade");
}

function stop(i){
    let arrow = document.getElementsByClassName("fa-arrow-right-long")[i];
    arrow.classList.remove("fa-beat-fade");
}

function search(){
	let keyword = document.querySelector('.search-bar').value;
	location.href = "/swiftER/cs/faq?keyword=" + keyword;
}
</script>
<main class="cs-index">
    <div class="cs-banner">
        <h1>swiftER 고객센터</h1>
    </div>
    <section class="notice">
        <h1>공지사항</h1>
        <a th:href="@{/cs/notice}" onmouseover="beat(0)" onmouseout="stop(0)">더보기&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-long"></i></a>
    <div>
        <table class="notice-table">
            <tr th:each="notice:${noticeList}">
                <td>[[${notice.subcate}]]&nbsp;&nbsp;</td>
                <td><a th:href="@{/cs/notice/view?no=__${notice.no}__}">|&nbsp;&nbsp;[[${notice.title}]]</a></td>
                <td>[[${notice.rdate}]]</td>
            </tr>
        </table>
    </div>
</section>
<section class="faq">
    <h1>자주하는 질문</h1>
    
    <div class="type-search">
        <div>
            <div>
                <a th:href="@{/cs/faq(subcateCode=10)}"><i class="fa-solid fa-user"></i>회원 정보</a>
            </div>
            <div>
                <a th:href="@{/cs/faq(subcateCode=20)}"><i class="fa-solid fa-magnifying-glass"></i>증상 검색</a>
            </div>
            <div>
                <a th:href="@{/cs/faq(subcateCode=30)}"><i class="fa-solid fa-hospital"></i>응급실 검색</a>
            </div>
            <div>
                <a th:href="@{/cs/faq(subcateCode=40)}"><i class="fa-solid fa-comments"></i>커뮤니티</a>
            </div>
            <div>
                <a th:href="@{/cs/faq(subcateCode=50)}"><i class="fa-solid fa-headset"></i>기타</a>
            </div>
        </div>
    </div>
    <div class="quick-search">
        <h1>빠르게 찾기</h1>
        <input class="search-bar" type="text">
        <input class="search-button" type="button" value="검색" onclick="search()">
    </div>
</section>
<section class="qna">
    <h1>문의하기</h1>
    <a th:href="@{/cs/qna}" onmouseover="beat(1)" onmouseout="stop(1)">더보기&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-long"></i></a>
                <div>
                    <table class="qna-table">
                        <tr th:each="qna: ${qnaList}">
                            <td>[[${qna.subcate}]]&nbsp;&nbsp;</td>
                            <td><a th:href="@{/cs/qna/view?no=__${qna.no}__}">|&nbsp;&nbsp;[[${qna.title}]]</a></td>
                            <td>[[${qna.member_uid}]]</td>
                            <td>[[${qna.rdate}]]</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section class="qna-buttons">
                <div>
                    <input type="button" value="1:1 문의내역 확인하기" th:onclick="|location.href='@{/cs/qna/my}'|">
                    <input type="button" value="1:1 문의하기" th:onclick="|location.href='@{/cs/qna/write}'|">
                </div>
            </section>
        </main>
<th:block th:include="@{_footer.html}"/>        