<th:block th:include="@{_header.html}"/>
<script>
    function numHightlight(i){
    	i -= 1; // 버튼 시작 value가 1이고, 첫번째 버튼을 여기서 가리키려면 document.querySelectorAll(".num")[0]이기 때문
        let num = document.querySelectorAll(".num")[i];
        let numLength = document.querySelectorAll(".num").length;

        for(let j =0; j < numLength; j++){
            document.querySelectorAll(".num")[j].classList.remove('on');    
        }

        num.classList.add('on');
        
        location.href = "/swiftER/cs/notice?subcateCode=" + [[${subcateCode}]] + "&pg=" + (i + 1);
    }
    
    function selectCate(code){
    	location.href = "/swiftER/cs/notice?subcateCode=" + code;
    }
    
    function search(){
    	let keyword = document.querySelector('.notice-search-bar').value;
    	alert(keyword);
    }
    
    window.onload = () => {
    	let pg = [[${pg}]];
    	// 사용자가 선택한 subcate(옵션)을 select 박스 맨 위에 놓기
    	document.querySelector('#notice-cate').value = [[${subcateCode}]];
    	
    	// 페이지 로드 시 페이지 파라미터로 넘어온 pg 페이지 버튼이 highlight 되도록
    	document.querySelectorAll('.num')[pg - 1].classList.add('on');
    }
</script>
       <main class="notice-page">
           <div class="notice-banner">
               <h1>공지사항</h1>
               <p>swiftER의 공지사항을 알려드립니다</p>
           </div>
           <div class="notice-search">
               <input type="text" value="키워드를 검색하세요" class="notice-search-bar" onfocus="this.value=''">
               <input type="button" value="검색" class="notice-search-button" onclick="search()">
           </div>
            <div style="text-align:right; padding-right:30px;">
				<select name="subcateCode" id="notice-cate" onchange="selectCate(value);">
			            <option value="0">전체</option>
			            <option value="10">회원정보</option>
			            <option value="20">증상 검색</option>
			            <option value="30">응급실 검색</option>
			            <option value="40">커뮤니티</option>
			            <option value="50">기타</option>
			    </select>
			</div>
           <div class="notice-page-table-wrapper">
               <table class="notice-page-table">
                   <tr>
                       <th>카테고리</th>
                       <th>제목</th>
                       <th>등록일자</th>
                       <th>조회수</th>
                   </tr>
                   <tr th:each="notice:${noticeList}">
                       <td>[[${notice.subcate}]]</td>
                       <td><a th:href="@{/cs/notice/view?no=__${notice.no}__}">[[${notice.title}]]</a></td>
                       <td>[[${notice.rdate}]]</td>
                       <td>[[${notice.view}]]</td>
                   </tr>
               </table>
               <div class="notice-page-table-buttons">
               	<th:block th:if="${groups[0]>1}">
                   	<input type="button" value="이전" class="before" th:onclick="|location.href='@{/cs/notice(subcateCode=${subcateCode}, pg=${groups[0]-1})}'|">
                 	</th:block>
                 	<th:block th:if="${groups[1] !=0}">
                 		<th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                   		<input type="button" th:value="${num}" class="num" onclick="numHightlight(value)">
                		</th:block>
                	</th:block>
                	<th:block th:if="${groups[1]<lastPageNum}">
                    	<input type="button" value="다음" class="next" th:onclick="|location.href='@{/cs/notice(subcateCode=${subcateCode}, pg=${groups[1]+1})}'|">
                    </th:block>
                </div>
            </div>
        </main>
<th:block th:include="@{_footer.html}"/>        