<th:block th:include="@{_header.html}"/>
        <main class="notice-view">
            <div class="notice-banner">
                <h1>공지사항</h1>
                <p>swiftER의 공지사항을 알려드립니다</p>
            </div>
            <div class="notice-view-panel">
                <table class="notice-view-table">
                    <tr>
                        <th colspan="2">[[${article.title}]]</th>
                    </tr>
                    <tr th:if="${files != null}" class="notice-view-table-attachment">
                    	<td>첨부파일&nbsp;&nbsp;
                   			<th:block th:each="file, status:${files}">
                   				<a th:href="@{/download(parent=${article.no}, num=${status.index})}">[[${file.oriName}]]&nbsp;</a>
                   			</th:block>
                    	</td>
                    </tr>
                    <tr class="notice-view-table-content">
                        <td colspan="2">
                        	[(${article.content})]
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>이전글</p>
                            <th:block th:if="${priorArticle == null}">
                            	<p>이전 글이 없습니다</p>
                            </th:block>
                            <th:block th:unless="${priorArticle == null}">
                            	<p><a th:href="@{/cs/notice/view(no=${priorArticle.no})}">[[${priorArticle.title}]]</a></p>
                            </th:block>
                        </td>
                        <td>
                            <p>다음글</p>
                            <th:block th:if="${nextArticle == null}"> 
                            	<p>다음 글이 없습니다</p>
                            </th:block>
                            <th:block th:unless="${nextArticle == null}">
                            	<p><a th:href="@{/cs/notice/view(no=${nextArticle.no})}">[[${nextArticle.title}]]</a></p>
                            </th:block>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="back-to-notice-list">
                <input type="button" value="목록으로" class="back-to-notice-button" th:onclick="|location.href='@{/cs/notice}'|">
            </div>
        </main>
<th:block th:include="@{_footer.html}"/>        