<th:block th:include="@{_header.html}"/>
        <script>
            function numHightlight(i){
                let num = document.querySelectorAll(".num")[i];
                let numLength = document.querySelectorAll(".num").length;

                for(let j =0; j < numLength; j++){
                    document.querySelectorAll(".num")[j].classList.remove('on');    
                }

                num.classList.add('on');
            }
        </script>
        <main class="qna-page">
            <div class="qna-banner">
                <h1>문의하기</h1>
                <p>무엇이든, 언제든 여기서 물어보세요</p>
            </div>
            <div class="qna-page-table-wrapper">
                <table class="qna-page-table">
                    <tr>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                    </tr>
                    <tr th:each="qna:${qnaList}">
                    	<td>[[${qna.subcate}]]</td>
                    	<td><a th:href="@{/qna/view?no=__${qna.no}__}">[[${qna.title}]]</a></td>
                    	<td>[[${qna.member_uid}]]</td>
                    	<td>[[${qna.rdate}]]</td>
                    </tr>
                </table>
                <div class="qna-write-button">
                    <input type="button" value="문의하기" th:onclick="|location.href='@{/cs/qna/write}'|">
                </div>
                <div class="qna-page-table-buttons">
                    <input type="button" value="이전" class="before">
                    <input type="button" value="1" class="num on" onclick="numHightlight(0)">
                    <input type="button" value="2" class="num" onclick="numHightlight(1)" >
                    <input type="button" value="3" class="num" onclick="numHightlight(2)">
                    <input type="button" value="4" class="num" onclick="numHightlight(3)">
                    <input type="button" value="5" class="num" onclick="numHightlight(4)">
                    <input type="button" value="6" class="num" onclick="numHightlight(5)">
                    <input type="button" value="7" class="num" onclick="numHightlight(6)">
                    <input type="button" value="8" class="num" onclick="numHightlight(7)">
                    <input type="button" value="9" class="num" onclick="numHightlight(8)">
                    <input type="button" value="10" class="num" onclick="numHightlight(9)">
                    <input type="button" value="다음" class="next">
                </div>
            </div>
        </main>
<th:block th:include="@{_footer.html}"/>        