<th:block th:include="@{_header.html}"/>
<script>
function numHightlight(i){
	i -= 1; // 버튼 시작 value가 1이고, 첫번째 버튼을 여기서 가리키려면 document.querySelectorAll(".num")[0]이기 때문
    let num = document.querySelectorAll(".num")[i];
    let numLength = document.querySelectorAll(".num").length;

    for(let j =0; j < numLength; j++){
        document.querySelectorAll(".num")[j].classList.remove('on');    
    }

    num.classList.add('on');
    
    location.href = "/swiftER/cs/qna?subcateCode=" + [[${subcateCode}]] + "&pg=" + (i + 1);
}

function selectCate(code){
	location.href = "/swiftER/cs/qna?subcateCode=" + code;
}

window.onload = () => {
	let pg = [[${pg}]];
	// 사용자가 선택한 subcate(옵션)을 select 박스 맨 위에 놓기
	document.querySelector('#qna-cate').value = [[${subcateCode}]];
	
	// 페이지 로드 시 페이지 파라미터로 넘어온 pg 페이지 버튼이 highlight 되도록
	document.querySelectorAll('.num')[pg - 1].classList.add('on');
}
</script>
<main class="qna-page">
    <div class="qna-banner">
        <h1>나의 문의사항</h1>
        <p>문의 현황은 여기서 실시간으로 체크하세요</p>
    </div>
    <div style="text-align:right; padding-right:30px;">
	<select name="subcateCode" id="qna-cate" onchange="selectCate(value);">
            <option value="0">전체</option>
            <option value="10">회원정보</option>
            <option value="20">증상 검색</option>
            <option value="30">응급실 검색</option>
            <option value="40">커뮤니티</option>
            <option value="50">기타</option>
       </select>
	</div>
	 <div class="qna-page-table-wrapper">
	     <table class="qna-page-table">
	         <tr>
	             <th>카테고리</th>
	             <th>제목</th>
	             <th>등록일</th>
	             <th>답변 여부</th>
	         </tr>
	         <tr th:each="qna:${myQnaList}">
	         	<td>[[${qna.subcate}]]</td>
	         	<td><a th:href="@{/cs/qna/view?no=__${qna.no}__}">[[${qna.title}]]</a></td>
	         	<td>[[${qna.rdate}]]</td>
	         	<td></td>
	         </tr>
	     </table>
	     <div class="qna-write-button">
	         <input type="button" value="문의하기" th:onclick="|location.href='@{/cs/qna/write}'|">
	     </div>
	     <div class="qna-page-table-buttons" th:if="${myGroups != null}">
	     	<th:block th:if="${myGroups[0]>1}">
	        	<input type="button" value="이전" class="before" th:onclick="|location.href='@{/cs/qna(subcateCode=${subcateCode},pg=${groups[0]-1})}'|">
	        </th:block>
	        <th:block th:if="${myGroups[1] != 0}">
	        	<th:block th:each="num:${#numbers.sequence(myGroups[0],myGroups[1])}">
	        		<input type="button" th:value="${num}" class="num" onclick="numHightlight(value)">
	        	</th:block>
	        </th:block>
	        <th:block th:if="${myGroups[1]<myLastPageNum}">
	        	<input type="button" value="다음" class="next" th:onclick="|location.href='@{/cs/qna(subcateCode=${subcateCode},pg=${groups[1]+1})}'|">
	        </th:block>
        </div>
    </div>
</main>
<th:block th:include="@{_footer.html}"/>        