<th:block th:include="@{_header.html}"/>
        <script>
            function flick(element){
                let question = document.querySelector('.qna-view-question');
                let answer = document.querySelectorAll('.qna-view-answer')[0];

                if(element === answer){
                    if(element.classList.contains('selected')){
                        return;
                    }
                }

                if(answer.style.display == 'none'){
                    return;
                }

                console.log(answer.style.display == 'block');
                question.classList.toggle('selected');
                answer.classList.toggle('selected');
            }
        </script>
        <main class="qna-view">
            <div class="qna-banner">
                <h1>문의하기</h1>
                <p>무엇이든, 언제든 여기서 물어보세요</p>
            </div>
            <div class="qna-view-table-wrapper">
                <table class="qna-view-table">
                    <tr>
                        <th><i class="fa-solid fa-q"></i>[ [[${article.subcate}]] ]&nbsp;[[${article.title}]]</th>
                    </tr>
                    <tr>
                        <td>[[${article.member_uid}]] &nbsp; [[${article.rdate}]]</td>
                    </tr>
                    <tr>
                    	<th:block th:if="${files != null}">
                    		<td>첨부파일&nbsp;&nbsp;
                    			<th:block th:each="file, status:${files}">
                    				<a th:href="@{/download(parent=${article.no}, num=${status.index})}">[[${file.oriName}]]&nbsp;</a>
                    			</th:block>
                    		</td>
                    	</th:block>
                    </tr>
                    <tr class="qna-view-question" onmouseover="flick(this)">
                        <td>
                        	[(${article.content})]
                        </td>
                    </tr>
                    <th:block  th:if="${reply != null}">
                    <tr class="qna-view-answer selected" onmouseover="flick(this)" style="display:block;">
                        <th><i class="fa-solid fa-a"></i></th>
                    </tr>
                    <tr class="qna-view-answer" style="display:block;">
                        <td>
                           [(${reply.content})]
                        </td>
                    </tr>
                    </th:block>
                </table>
            </div>
            <div class="back-to-qna-page">
                <input type="button" value="목록으로" th:onclick="|location.href='@{/cs/qna}'|">
            </div>
        </main>
<th:block th:include="@{_footer.html}"/>        