/* fontawesome 그라데이션 */
#search i.fa-home{
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
}
/* rating */
#search h6.rating{
    font-size: 11px;
    background-image: url("/swiftER/img/rating_star.png");
    background-repeat: no-repeat;
    background-position: 36px 0px;
    background-size: auto 100%;
}
#search h6.rating.star1{width: 55px;}
#search h6.rating.star2{width: 70px;}
#search h6.rating.star3{width: 85px;}
#search h6.rating.star4{width: 100px;}
#search h6.rating.star5{width: 120px;}

#search h5.rating{
    width: 150px;
    height: 20px;
    font-size: 0px;
    background-image: url("/swiftER/img/ico_rating_star.png");
    background-repeat: no-repeat;
    background-position: 36px 0;
    text-indent: 86px;
}
#search h5.rating.star1{background-position: 0 -40px;}
#search h5.rating.star2{background-position: 0 -80px;}
#search h5.rating.star3{background-position: 0 -120px;}
#search h5.rating.star4{background-position: 0 -160px;}
#search h5.rating.star5{background-position: 0 -200px;}

/* select box css */
select {
    width: 200px; 
    border: 1px solid #999;
    font-family: inherit;  
    background: url(/swiftER/img/0004.jpg) no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {
    display: none;
}

/* 맵 크기 값 */
#search > .er > div.map{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#search > .er > div.map > div.search_map{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
/* info 창 */

#search > .er > div.map > div.search_map  .wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 360px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}
#search > .er > div.search_map  .wrap * {
	padding: 0;
	margin: 0;
}
#search > .er > div.map > div.search_map  .wrap .info {
	width: 360px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}
#search > .er > div.map > div.search_map  .wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}
#search > .er > div.map > div.search_map  .info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
}
#search > .er > div.map > div.search_map .info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
#search > .er > div.map > div.search_map   .info .close:hover {
	cursor: pointer;
}
#search > .er > div.map > div.search_map   .info .body {
	position: relative;
	overflow: hidden;
}
#search > .er > div.map > div.search_map   .info .desc {
	position: relative;
	margin: 10px 0 0 15px;
	height: 75px;
}
#search > .er > div.map > div.search_map  .desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#search > .er > div.map > div.search_map   .desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}
#search > .er > div.map > div.search_map  .info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
#search > .er > div.map > div.search_map   .info .link {
	color: #5085BB;
}


/* 검색 페이지 */
#search > .er{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    
}
#search > .er > div.map > div.search_map > div.fixed{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    border-right: #cdcdcd solid 1px;
    z-index: 999;
    background-color: rgb(241, 243, 249);
    box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -webkit-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -moz-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
}

#search > .er > div.map > div.search_map > div.selectBox.on{
	box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -webkit-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -moz-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    left: 111px;
}

#search > .er > div.map > div.search_map >  a.btnClose.on{
    left: 477px;
    background: url(/swiftER/img/hiraMap_close.png) no-repeat;
}
#search > .er > div.map > div.search_map >  a.btnClose{
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 107px;
    transform: translate(0,-50%);
    background: url(/swiftER/img/hiraMap_open.png) no-repeat;
    width: 35px;
    height: 62px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition-duration: .6s;
}

#search > .er > div.map > div.search_map >  div.selectBox{
    position: absolute;
    z-index: 500;
    left: -260px;
    top: 0;
    width: 370px;
    height: 100vh;
    border-right: #cdcdcd solid 1px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 12%) 2px 2px 2px;
    transition-duration: .6s;
    overflow: hidden;
}

#search > .er > div.map > div.search_map > div.selectBox > h2{
    color: #1b9bfe;
    font-size: 18px;
    font-weight: 700;
    border-bottom: #f5f5f5 solid 8px;
    line-height: 50px;
    padding: 0 20px;
}


#search > .er > div.map > div.search_map >  div.selectBox > form{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div{
    width: 100%;
    margin: 0 auto;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > h4{
	width:310px;
	color: #777777;
    font-weight: 700;
    font-size: 15px;
    margin: 0 auto;
    border-top: #e9e9e9 solid 1px !important;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset {
    border: none;   
    margin: 20px;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset > legend{
    color: #8c8c88;
    font-weight: 700;
    font-size: 17px;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset > legend > strong{
    color: #e12828 !important;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset.location > select{
    height: 27px;
    border: 1px solid #e2e2e2;
    margin: 5px;

}

#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset.med-department > li > input[type="checkbox"]{
    visibility: hidden;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset.med-department > li > input[type="checkbox"]:checked + label {
    background-image: url(/swiftER/img/checkbox_on.png);
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset.med-department > li > input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 0 4px;
    color: #000;
    background-image: url(/swiftER/img/checkbox.png);
    display: inline-block;
}

#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset.med-department > li {
    float: left;
    width: 50%;
    padding: 5px 2px 0 0;
    list-style: none;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > fieldset.med-department > li > label{
    font-size: 14px;
    display: inline-block;
    line-height: 25px;
    word-break: break-all;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > p{
    background: url(/swiftER/img/swifter_logo_resize.png) 0 20px no-repeat;
    background-size: 50px;
    padding: 20px 0 0 58px;
    color: #666;
    font-size: 12px;
    min-height: 70px;
    word-break: keep-all;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div.btn{
    width: 250px;
    height: 50px;
    margin: 0 auto;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div.btn > input{
    width: 100px;
    height: 40px;
    border: none;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
    margin-top: 7.5px;
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > input.resetBtn{
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
}
#search > .er > div.map > div.search_map >  div.selectBox > form > div > input.subBtn{
    background-color: #1b9cff;
    float: right;
}


/* 응급실 정보 페이지 */
#search > .Detail{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 40px;
    box-sizing: border-box;
    background-color: #f1f3f9;
    box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -webkit-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -moz-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    text-align: center;
}
#search > .Detail >   .board{
    vertical-align: middle;
    max-width: 980px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: rgb(-74, 14, 46) 1px 1px 10px;
    text-align: left;
    padding: 40px;
    border-radius: 17px 57px 17px 17px;
}


#search > .Detail > .board > div.ErInfo{
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
#search > .Detail > .board > div.ErInfo > nav{
    margin: 40px 25px 10px;
}
#search > .Detail > .board > div.ErInfo > nav > h1{
    font-size: 30px;
    font-weight: bold;
}
#search > .Detail > .board > div.ErInfo > article.part1, .part2{
    float: left;
    width: 50%;
    height: 400px;
}
#search > .Detail > .board > div.ErInfo > article.part1{
    width: 50%;
    height: auto;
}
#search > .Detail > .board > div.ErInfo > article.part1 > article{
    position: relative;
    margin: 30px;
}
#search > .Detail > .board > div.ErInfo > article.part1 > article > div.border1{
    width: 180px;
    height: 40px;
    margin-bottom: 10px;
    border:1px solid transparent;
    border-bottom: none;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-image:linear-gradient(#fff, #fff),linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}
#search > .Detail > .board > div.ErInfo > article.part1 > article > div > h2{
    position: relative;
    top: 20px;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    vertical-align: bottom;
}
#search > .Detail > .board > div.ErInfo > article.part1 > article > div.border2{
    position: absolute;
    width: 220px;
    top: 29px;
    right: -23px;
    margin: 10px;
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#search > .Detail > .board > div.ErInfo > article.part1 > article > p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}
#search > .Detail > .board > div.ErInfo > article.part2{
    width: 50%;
    height: auto;
}
#search > .Detail > .board > div.ErInfo > article.part2 > div{
	position:relative;
    margin-top: 100px;
}
#search > .Detail > .board > div.ErInfo > article.part2 > div  > nav{
	position:absolute;
    width: 400px;
    height: auto;
}
#search > .Detail > .board > div.ErInfo > article.part2 > div  > nav:nth-child(1){
	top: -83px;
	right:-35px;	
}
#search > .Detail > .board > div.ErInfo > article.part2 > div  > nav:nth-child(2){
	top: 4px;
	right:-62px;
}
#search > .Detail > .board > div.ErInfo > article.part2 > div  > nav > h2{
    font-size: 30px;
    margin: 20px;
}
#search > .Detail > .board > div.ErInfo > article.part2 > div  > nav > span{
    font-size: 17px;
    line-height: 55px;
}
/* 리뷰 */
#search > .Detail > .board > article.review{
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
#search > .Detail > .board > article.review > nav{
    margin: 30px 0 2px;
}
#search > .Detail > .board > article.review > nav > h1{
    font-size: 25px;
    line-height: 75px;
    border-bottom: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#search > .Detail > .board > .review > ul{
    padding: 10px;
    box-sizing: border-box;
}
#search > .Detail > .board > .review > ul > li{
    padding-top: 16px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
}
#search > .Detail > .board > .review > ul > li > div{
    overflow: hidden;
}
#search > .Detail > .board > .review > ul > li > div > h5{
    float: left;
}
#search > .Detail > .board > .review > ul > li > div > span{
    float: right;
    color: #555;
}
#search > .Detail > .board > .review > ul > li > h3{
    color: #555;
    margin-top: 6px;
}
#search > .Detail > .board > .review > ul > li > p{
    width: 100%;
    height: 60px;
    color: #555;
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 10px;
}
#search > .Detail > .board > .review > ul > li > p.tit{
	height: 100%;
}
#search > .Detail > .board > .review > .write{
    width: 100%;
    margin-top: 10px;
}
#search > .Detail > .board > .review > .write > div{
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    border: 1px solid #ddd;
}
#search > .Detail > .board > .review > .write > div > a{
    position: absolute;
    top: 10px;
    left: 28px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
#search > .Detail > .board > .review > .paging{
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
#search > .Detail > .board > .review > .paging >  a{
    color: #777;
    font-size: 11px;
    letter-spacing: -1px;
}
#search > .Detail > .board > .review > .paging > .num {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#search > .Detail > .board > .review > .paging > a:hover{
    border: 1px solid #454c5f;
    text-decoration: none;
    text-rendering: underline;
}
#search > .Detail > .board > .review > .paging > a:on{
    color: #fe434c;
    font-weight: bold;
}

#search > .Detail > .board > .review > p{
    font-size: 17px;
    line-height: 55px;
	
	
}


