/* 공통 부분*/
* {
	    margin: 0;
	    padding: 0;
	    font: normal 12px "맑은 고딕";
	}
	
	ul,ol {list-style: none;}
	
	a {text-decoration: none;color: #111;}
	
	input,textarea {outline: none;}
	
	#wrapper {
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	
	/*header*/
	header{
	    width: 100%;
	    height: 197px;
	}
	
	header > div{
	    width: 100%;
	    box-sizing: border-box;
	}
	
	.top{
	    height: 35px;
	}
	.top > div{
	    width: 1200px;
	    height: 100%;
	    margin: 0 auto;
	    text-align: right;
	}
	.top > div > a{
	    display: inline-block;
	    height: 100%;
	    line-height: 35px;
	    border-right: 1px solid #e9e9e9;
	    padding: 0 10px;
	    color: #646464;
	}
	.top > div > a:last-child{
	    border-right: none;
	}
	
	.logo{
	    height: 115px;
	    border-bottom: 1px solid #e9e9e9;
	}
	.logo > div{
	    position: relative;
	    width: 1200px;
	    height: 100%;
	    margin: 0 auto;
	}
	.logo > div > a{
	    display: inline-block;
	    margin-top: 30px;
	}
	.logo > div > form{
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -185px;
	    margin-top: -22px;
	    display: inline-block;
	    width: 370px;
	    height: 45px;
	}
	.logo > div > form> input{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    border: 1px solid #e9e9e9;
	    border-radius: 5px;
	    font-size: 20px;
	    padding-left: 10px;
	    padding-right: 30px;
	    box-sizing: border-box;
	}
	.logo > div > form > button{
	    position: absolute;
	    right: 6px;
	    top: 10px;
	    background: #fff;
	    border: none;
	    font-size: 20px;
	    color: #333;
	    outline: none;
	}
	.logo > div > form > button > a{
	    position: absolute;
	    font-size: 20px;
	    display: inline-block;
	    right: 0.3px;
	    top: 0px;
	}
	.logoImage{
	    width: 200px;
	    position: absolute;
	    left: -100px;
	    top: -50px;
	}
	
	.menu{
	    height: 50px;
	    background: #f2f2f2;
	    border-bottom: 1px solid #ddd;
	    box-sizing: border-box;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
	}
	.menu > div{
	    width: 1000px;
	    height: 100%;
	    margin: 0 auto;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.menu > div > ul{
	    display: inline-block;
	    padding-bottom: 1px;
	}
	.menu > div > ul:nth-child(1){float:left;}
	.menu > div > ul:nth-child(2){float:right;}
	.menu > div > ul > li{float:left;}
	.menu > div > ul > li > a{
	    padding: 0 55px;
	    font-size: 19px;
	    color: #fff;
	    font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.banner {
		width: 1500px;
		height: 360px;
		box-sizing: border-box;
		margin: 0 auto;
		margin-top: 3px;
	}
	.banner > img {
		width: 1500px;
		height: 360px;
	}
	.collection {
		width: 1200px;
		display: inline-block;
		margin: 80px auto 40px;
		
		
	}
	.collection > div {
		padding: 25px;
	    box-sizing: border-box;
	}
	.collection > div:hover {
		background: rgba(0,0,0,.05);
		transition: 0.5s;
	}
	.collection > div > a > img{
		width:200px;
		height:200px;
	}
	.collection > div > a > h2{
		font-size: 24px;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-weight: 700;
		padding: 20px;
		
	}
	.collection > div > h3 {
		font-size: 18px;
		font-family: 'IBM Plex Sans KR', sans-serif;
		padding: 20px;
	}
	.symptom {
		width: 33%;
		float: left;
		text-align: center;
	}
	.er {
		width: 33%;
		float: left;
		text-align: center;
	}
	.community {
		width: 33%;
		float: left;
		text-align: center;
	}
	.buttonSection{
		width: 100%;
		height: 70px;
		display: inline-block;
		margin: 0 auto;
		padding-top: 20px; 
	}
	.buttonSection > button {
		border: 1px solid red;
		font-size: 18px;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-weight: bold;
		padding: 10px 30px;
		width: 200px;
		border: 0px;
		border-radius: 30px;
		background: rgba(44,233,123,1) 0%;
		color: white;
		cursor: pointer;
	}
	.buttonSection > button:hover {
		background: rgba(1,177,255,1) 100%;
		 transition: 0.5s;
	}
	.buttonSection > button:first-child {
		margin: 10px 30px 10px 10px;
		
	}
	.buttonSection > button:nth-child(2) {
		margin: 10px 10px 10px 30px;
	}
	/*footer*/
	footer{
		margin: 0 auto;
		margin-top:50px;
	    height: 192px;
	    background: #fff;
	    border-top: 1px solid #e9e9e9;
	    box-sizing: border-box;
	    background: #01b1ff;
	    overflow: hidden;
	}
	footer > ul{
	    width: 1200px;
	    height: 39px;
	    margin: 0 auto;
	    padding: 15px 0;
	    box-sizing: border-box;
	    border-bottom: 1px solid #e9e9e9;
	    text-align: center;
	}
	footer > ul > li{
	    display: inline-block;
	    font-weight: bold;
	    border-right: 1px solid #d7d7d7;
	    padding: 0 10px;
	}
	footer > ul > li > a{color: #fff;}
	footer > ul > li:first-child{border-left: 1px solid #d7d7d7;}
	
	.footerLogoImage{
	    width: 170px;
	    -webkit-filter: grayscale(100%);
	    filter: grayscale(100%);
	    position: relative;
	    top: -30px;
	}
	
	footer > div{
	    width: 1200px;
	    height: auto;
	    padding-top: 20px;
	    box-sizing: border-box;
	    margin: 0 auto;
	    display: block;
	}
	footer > div > p{
		margin: 0 auto;
	    float: left;
	    height: 100%;
	    font-size: 11px;
	    line-height: 15px;
	    color: #fff;
	    font-family: 'IBM Plex Sans KR', sans-serif;
	}
	footer > div > p > strong{
	    display: inline-block;
	    padding: 6px 15px 7px 0;
	    color: #fff;
	    font-size: 12px;
	    font-weight: bold;
	}
	footer > div > p:nth-of-type(2){
	    width: 300px;
	    margin-left: 30px;
	    margin-right: 30px;
	}
	
/* review pop창 */
/* 마이페이지 팝업 */
.popup {                
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup.on {display: block;}

.popup > div {
    display: table;        
    width: auto;
    height: auto;                
    margin: 0 auto;
    margin-top: 200px;
    background: #fff;

}

.popup > div > nav {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    overflow: hidden;
}
.popup > div > nav > h2 {
    float: left;               
    font-size: 18px;
    font-weight: bold;
    color: white;

}
.popup > div > nav > button {
    float: right;
    width: 30px;
    height: 30px;
    background-image: url('/swiftER/img/ico_sprites.png');
    background-color: transparent;
    background-position: 227px -25px;
    border: none;
    font-size: 0;
    color: white;
    cursor: pointer;
}
.popup > div > section {
    padding: 16px;
    box-sizing: border-box;
}

.popup > div > section > article {}
.popup > div > section > article > h3 {
    font-size: 15px;
    margin-bottom: 4px;
}
.popup > div > section > article > table {
    width: 100%;
    border-top: 2px solid #444;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
    margin-bottom: 10px;
}
    
.popup > div > section > article > table td {
    padding: 10px;
    box-sizing: border-box;
    border-left: 1px solid #f1f1f1;
    vertical-align: top;                
}
.popup > div > section > article > table td:first-child {
    border-left: none;
}

.popup > div > section > article:nth-child(1) > table td:nth-child(1) {width: 150px;}
.popup > div > section > article:nth-child(1) > table td:nth-child(2) {width: 300px;}
.popup > div > section > article:nth-child(1) > table td:nth-child(3) {width: 160px;}
.popup > div > section > article:nth-child(1) > table td:nth-child(4) {width: 80px; text-align: center; vertical-align: middle;}
.popup > div > section > article:nth-child(1) > table th {
    background: #a5a7a5;
    padding: 4px;
    box-sizing: border-box;
    color: white;
}
.popup > div > section > article:nth-child(1) > table img {
    float: left;
}
.popup > div > section > article:nth-child(1) > table ul {
    float: left;
    margin-left: 10px;
}
.popup > div > section > article:nth-child(1) > table ul > li {
    line-height: 18px;
}

.popup > div > section > article:nth-child(1) > table ol {}
.popup > div > section > article:nth-child(1) > table ol > li {
    line-height: 18px;
    overflow: hidden;                
}
.popup > div > section > article:nth-child(1) > table ol > li > span {
    display: inline-block;
}
.popup > div > section > article:nth-child(1) > table ol > li > span:nth-child(1){float: left;}
.popup > div > section > article:nth-child(1) > table ol > li > span:nth-child(2){float: right;}

.popup > div > section > article:nth-child(2) table th {width: 150px;}
.popup > div > section > article:nth-child(2) table tr {
    border-bottom: 1px solid #f1f1f1;
}

.popup > div > section > table {
    width: 100%;
    border-top: 2px solid #444;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.popup > div > section > table th {
    width: 120px;                
}
.popup > div > section > table tr {
    border-bottom: 1px solid #f1f1f1;
}

.popup > div > section > table tr > td {
    padding: 10px;
    border-left: 1px solid #f1f1f1;
    box-sizing: border-box;
}

.popup > div > section > table tr > td:nth-child(2) {
    width: 360px;
}

.popup > div > section > div {
    text-align: center;
}

.popup > div > section > form > table {
    width: 600px;
    border-top: 2px solid #444;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.popup > div > section > form > table label {
    margin-right: 10px;
}

.popup > div > section > form > table input[type=text] {
    width: 100%;                
    padding: 4px;
    box-sizing: border-box;                
    border: 1px solid #f1f1f1;
    vertical-align: middle;
}
.popup > div > section > form > table textarea.title {
    width: 100%;
    height: 30px;
    padding: 2px;
    box-sizing: border-box;                
    border: 1px solid #f1f1f1;
    vertical-align: middle;
    resize: none;
}
.popup > div > section > form > table textarea.content {
    width: 100%;
    height: 160px;
    padding: 4px;
    box-sizing: border-box;                
    border: 1px solid #f1f1f1;
    vertical-align: middle;
    resize: none;
}
.popup > div > section > form > table th {
    width: 120px;                
}
.popup > div > section > form > table tr {
    border-bottom: 1px solid #f1f1f1;
}

.popup > div > section > form > table tr > td {
    padding: 10px;
    border-left: 1px solid #f1f1f1;
    box-sizing: border-box;
}

.popup > div > section > form > table tr > td:nth-child(2) {
    width: 360px;
}

.popup > div > section > form > div {
    padding: 16px 0;
    text-align: center;                
}
.popup > div > section > form > div.hide {
	padding: 0;
}

.btnPositive {
    padding: 6px 12px;
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}

.btnNegative {
    padding: 6px 12px;
    background: #9e9e9e;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}