* {
    margin: 0;
    padding: 0;
    font: normal 12px "맑은 고딕";
}

ul,ol {list-style: none;}

a {text-decoration: none;color: #111;}

input,textarea {outline: none;}

#wrapper {width: 100%;}

/*header*/
header{
    width: 100%;
    height: 197px;
}

header > div{
    width: 100%;
    box-sizing: border-box;
}

.top{
    height: 35px;
}
.top > div{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}
.top > div > a{
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-right: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
.top > div > a:last-child{
    border-right: none;
}

.logo{
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}
.logo > div{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.logo > div > a{
    display: inline-block;
    margin-top: 30px;
}
.logo > div > form{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;
}
.logo > div > form> input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}
.logo > div > form > button{
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline: none;
}
.logo > div > form > button > a{
    position: absolute;
    font-size: 20px;
    display: inline-block;
    right: 0.3px;
    top: 0px;
}
.logoImage{
    width: 200px;
    position: absolute;
    left: -100px;
    top: -50px;
}

.menu{
    height: 50px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
}
.menu > div{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu > div > ul{
    display: inline-block;
    padding-bottom: 1px;
}
.menu > div > ul:nth-child(1){float:left;}
.menu > div > ul:nth-child(2){float:right;}
.menu > div > ul > li{float:left;}
.menu > div > ul > li > a{
    padding: 0 55px;
    font-size: 19px;
    color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* main */
main > div {
    padding-left: 300px;
    padding-right: 300px;
    width: auto;
    height: auto;
}
main > div > .title > h3{
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
}
.title > p {
    width: 1200px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border: 1px solid #01b1ff;
    border-radius: 30px;
    margin: 50px auto;
}
.disease {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
.disease > ul {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.disease > ul > li {
    width: 100%;
    box-sizing: border-box;

    
}
.disease > ul > li > a {
    display: block;
    width: 250px;
    padding: 20px 5px;
    border: 1px solid #01b1ff;
    background: #01b1ff;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
}

section {
    display: block;
    width: 1160px;
    height: 260px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid #01b1ff;
    border-radius: 30px;
    padding: 20px;

}
.imgbox {
    float: left;
    margin-right: 20px;
    width: 210px;
    height: 210px;
    border: 1px solid #ddd;
}
.imgbox img {
    width: 210px;
    height: 210px;
}
.contBox {
    float: left;
    width: 900px;
    position: relative;
    margin: 0 auto;
}
.dis_title {
    display: block;
    margin-bottom: 10px;
    color: #111;
    font-size: 15px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dis_title > h3{
    font-size: 40px;
    font-weight: bold;
}
.dis_title > h3 > b{
    font-size: 20px;
    color: gray;
}
.symp_wrapper {
    display: flex;
    width: 920px;
    margin: 40px 0px;
}
.symp_title {
    width: 73px;
    padding-right: 20px;
}
.symp_title > h4{
    font-size: 22px;
    font-weight: bold;
    width: 103px;
}
.symp_content {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    width:100%;
}
.symp_content > p {
	font-size: 16px;
    margin-right: 15px;
    text-align: right;
}
.department {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 900px;
}
.department > h5{
    width: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.department > .symp_sub{
    width: 100%;
    height: auto;
	margin-left: -10px;
}
.department > .symp_sub > ul{
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.department > .symp_sub > ul > li{
    margin-right: 5px;
    box-sizing: border-box;
}
.department > .symp_sub > ul > li > p{
    float: left;
    width: 200px;
    padding: 10px 5px;
    border: 1px solid #01b1ff;
    background: #01b1ff;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
}
main > div > .healthinfo{
    width: 100%;
}
main > div > .healthinfo > p{
    font-size: 15px;
}
.healthinfo > form {
    width: 100%;
}
.search_body_cate{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.bodylist{
    height: auto;
    width: 100%;
    border: 1px solid #01b1ff;
    overflow: hidden;
}
.bodylist > li {
    width: 16.66%;
    float: left;
    text-align: center;
    border-right: 1px solid #01b1ff;
    box-sizing: border-box;
}
.bodylist > li:last-child{
    border-right: none;
}
.bodylist > li > a{
    display: block;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 10px 16px;
    text-decoration: none;
}
.bodylist > li.on > a{
    background-color: #01b1ff;
    color: white;
}
div[class*=search_body_subcate] {
	border: 1px solid #01b1ff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div[class*=search_body_subcate] > h3 {
	margin: 35px 50px;
    font-size: 45px;
    font-weight: bold;
}
.search_body_subcate > h4 {
	font-size: 30px;
	padding: 20px;
	text-align:center;
}
.search_body_subcate > table {
	margin-left: 170px;
    height: auto;
    border-spacing: 20px;
}
.search_body_subcate > table > tbody > tr {}
.search_body_subcate > table > tbody > tr > th {
	padding-top: 20px;
    border: 1px solid #ccc;
    width: 200px;
}
.search_body_subcate > table > tbody > tr > th > img {}
.search_body_subcate > table > tbody > tr > th > span {
	font-size: 15px;
}
.search_body_subcate > table > tbody > tr > td {}
.search_body_subcate > table > tbody > tr > td > div {}
.search_body_subcate > table > tbody > tr > td > div > ul {
}
.search_body_subcate > table > tbody > tr > td > div > ul > li {
	width: 155px;
    margin-bottom: 4px;
	padding-left: 8px;
	padding: 5px 0 2px;
    line-height: 1.5;
    text-align: left;
}
.search_body_subcate > table > tbody > tr > td > div > ul > li > a {
	letter-spacing: -1px;
	color: #333;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}
.search_body_subcate > table > tbody > tr > td > div > ul > li > a:hover {
	color: #0e787c;
    text-decoration: underline;
}
.subcateBox {
	margin-left: 10%;
    padding-bottom: 20px;
    display: block;
    width: 100%;
}
.subcateBox > li{
    float: left;
    width: 30%;
    font-weight: normal;
    line-height: 60px;
}

.subcateBox > li > label {
    font-size: 20px;
}
.search_animal {
    width: 100%;
    border: 1px solid #01b1ff;
    text-align: center;
    margin-top: 20px;
}
.search_animal > div{
    display: block;
    width: 50%;

}

.search_animal > p {
    font-size: 20px;
    font-weight: bold;
}
.search_animal > label{
    font-size: 20px;   
}
.searchbtn{
    width: 100%;
    margin: 35px 0px;
    text-align: center;
    
}
.btnclear{
    padding: 10px 20px;
    margin-right: 50px;
    background-color: rgba(44,233,123,1);
    border: 1px solid #0063ce;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;

}
.btnresult{
    padding: 10px 20px;
    background-color: #01b1ff;
    border: 1px solid #0063ce;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;
    
}

.subwrapper {
    margin: 0 auto;
    width: 1160px;
    height: 80px;
}
.subwrapper > p {
    font-size: 12px;
}
/*footer*/
footer{
    width: 100%;
    height: 192px;
    background: #fff;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
    background: #01b1ff;
}
footer > ul{
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}
footer > ul > li{
    display: inline-block;
    font-weight: bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > ul > li:first-child{border-left: 1px solid #d7d7d7;}

.footerLogoImage{
    width: 170px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    position: relative;
    top: -30px;
}

footer > div{
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
footer > div > p{
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
footer > div > p > strong{
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
footer > div > p:nth-of-type(2){
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}
.size {
    width: 23%;
    text-align: center;
}