<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>swiftER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/symptoms.css}">
        <script>
            // 반려동물 정보 체크박스 둘중하나 선택
            function handleCheckboxClick(event, containerId) {
                var clickedCheckbox = event.target;
                if (clickedCheckbox.checked) {
                    var checkboxes = document.querySelectorAll('#' + containerId + ' input[type="checkbox"]');
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i] !== clickedCheckbox) {
                            checkboxes[i].checked = false;
                        }
                    }
                }
		    }

            // 체크박스 해제 (초기화 버튼)
            function uncheckAllCheckboxes() {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
            
            
            function validateCheckboxes() {
            	  const div1Checkbox1 = document.getElementById('div1-checkbox1');
            	  const div1Checkbox2 = document.getElementById('div1-checkbox2');
            	  
            	  const div2Checkbox1 = document.getElementById('div2-checkbox1');
            	  const div2Checkbox2 = document.getElementById('div2-checkbox2');
            	  
            	  const div3Checkbox1 = document.getElementById('div3-checkbox1');
            	  const div3Checkbox2 = document.getElementById('div3-checkbox2');

            	  if (!div1Checkbox1.checked && !div1Checkbox2.checked && !div2Checkbox1.checked && !div2Checkbox2.checked && !div3Checkbox1.checked && !div3Checkbox2.checked) {
            	    alert('동물 접촉 여부란에 체크하셔야 합니다!');
            	    return false;
            	  }

            	  return true;
            	}
            function checkboxresult() {
        		var chkarr = new Array();
            	var cnt = $("input[name='${bd1.symptom}']:checked").length;
            	$("input:checkbox[name='${bd1.symptom}']:checked").each(function(){
        			chkarr.push($(this).val());
        			console.log(chkarr);
        		});

            	let chk = confirm("검색 하시겠습니까?");
        			
       			if(cnt.length == 0){
	  				alert('증상을 체크해주세요!');
	  				return false;
       			}
       			let chks = chkarr.toString();
       			
       			if(chk){
       				$.ajax({
       					url:'/swiftER/symptoms/symptoms',
       					type:'post',
       					data:{'chkarr':chkarr},
       					datatype
       				
       				// location.href = "/swiftER/symptoms/resultsymptoms?symptom="+chks;
       				
       			});
       			}
            }
        </script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="top">
                <div>
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="#">
                        <img src="../img/swifter_logo.png" alt="logo" class="logoImage">
                    </a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li>
                            <a href="#">증상검색</a>
                        </li>
                        <li>
                            <a href="#">응급실검색</a>
                        </li>
                        <li>
                            <a href="#">약국검색</a>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                        </li>
                        <li>
                            <a href="#">고객센터</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>