<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>swiftER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/symptoms.css}">
        <script>
            // 반려동물 정보 체크박스 둘중하나 선택
            function handleCheckboxClick(event, containerId) {
                var clickedCheckbox = event.target;
                if (clickedCheckbox.checked) {
                    var checkboxes = document.querySelectorAll('#' + containerId + ' input[type="checkbox"]');
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i] !== clickedCheckbox) {
                            checkboxes[i].checked = false;
                        }
                    }
                }
		    }

            // 체크박스 해제 (초기화 버튼)
            function uncheckAllCheckboxes() {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
            
            // 검색 버튼 클릭시 Jquery 전송
            function checkboxresult(){
            	
            	const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                const checkedCheckboxes = Array.from(checkboxes).filter((checkbox) => checkbox.checked);
                const checkedValues = checkedCheckboxes.map((checkbox) => checkbox.name);
                const delimiter = "& ";
                console.log(checkedValues);
                
                if(checkedValues.length == 0) {
                	alert("체크해주세요!");
                	return false;
                }
                

                let symptom = checkedValues.join(delimiter);
         		
         		let ischk = confirm('검색하시겠습니까?');
         		
         		if(ischk){
         			location.href="/swiftER/symptoms/resultsymptoms?symptom="+symptom;
         		}else{
         			return false;
         		}
            }
        </script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="top">
                <div>
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="#">
                        <img src="../img/swifter_logo.png" alt="logo" class="logoImage">
                    </a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li>
                            <a href="#">증상검색</a>
                        </li>
                        <li>
                            <a href="#">응급실검색</a>
                        </li>
                        <li>
                            <a href="#">약국검색</a>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                        </li>
                        <li>
                            <a href="#">고객센터</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div>
                <div class="title">
                    <h3>증상검색</h3>
                </div>
                <div class="healthinfo">
                    <p>신체부위 내 증상을 선택 하신 후 검색 버튼을 클릭해 주세요.</p>
                    <!-- 신체부위 검색 탭 -->
                    <form th:action="@{/symptoms/symptoms}" method="post" id="myForm">
                        <div>
                            <div class="search_body_cate">
                                <ul class="bodylist">
                                    <li th:classappend="${body1_code} eq 10 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=10}">머리</a></li>
                                    <li th:classappend="${body1_code} eq 20 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=20}">팔다리</a></li>
                                    <li th:classappend="${body1_code} eq 30 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=30}">상반신</a></li>
                                    <li th:classappend="${body1_code} eq 40 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=40}">하반신</a></li>
                                    <li th:classappend="${body1_code} eq 50 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=50}">정신</a></li>
                                    <li th:classappend="${body1_code} eq 60 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=60}">신경</a></li>
                                </ul>
                                <th:block th:if="${body1_code} eq 10">
                                <div th:class="'search_body_subcate-' + ${cate.code}"  th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code} or ${bd1.part2b} eq ${cate.code}">
	                                            <input type="checkbox" id="cont001" th:name="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
								<th:block th:if="${body1_code} eq 20">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code} or ${bd1.part2b} eq ${cate.code}">
	                                            <input type="checkbox" id="cont001" th:name="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 30">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code}">
	                                            <input type="checkbox" id="cont001" th:name="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 40">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code} or ${bd1.part2b} eq ${cate.code}">
	                                            <input type="checkbox" id="cont001" th:name="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 50">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code}">
	                                            <input type="checkbox" id="cont001" th:name="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 60">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code}">
	                                            <input type="checkbox" id="cont001" th:name="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                            </div>
                            <div class="search_animal" id="checkbox-container-1">
                                <p>최근 일 주일 내 야생동물과 접촉했거나, 반려동물의 채액이 피부와 접촉한 적이 있습니까?</p><br/>
                                
                                    <input type="checkbox" id="div1-checkbox1" onclick="handleCheckboxClick(event, 'checkbox-container-1')"><label for="animalchk1" style="margin-right:50px;">예</label>
                                    <input type="checkbox" id="div1-checkbox2" onclick="handleCheckboxClick(event, 'checkbox-container-1')"><label for="animalchk2">아니요</label>
                            </div>
                            <div class="search_animal" id="checkbox-container-2">
                                <p>최근 일 주일 내 야생동물과 접촉했거나, 반려동물의 채액이 피부와 접촉한 적이 있습니까?</p><br/>
                                
                                    <input type="checkbox" id="div2-checkbox1" onclick="handleCheckboxClick(event, 'checkbox-container-2')"><label for="animalchk1" style="margin-right:50px;">예</label>
                                    <input type="checkbox" id="div1-checkbox2" onclick="handleCheckboxClick(event, 'checkbox-container-2')"><label for="animalchk2">아니요</label>
                            </div>
                            <div class="search_animal" id="checkbox-container-3">
                                <p>최근 일 주일 내 야생동물과 접촉했거나, 반려동물의 채액이 피부와 접촉한 적이 있습니까?</p><br/>
                                
                                    <input type="checkbox" id="div3-checkbox1" onclick="handleCheckboxClick(event, 'checkbox-container-3')"><label for="animalchk1" style="margin-right:50px;">예</label>
                                    <input type="checkbox" id="div3-checkbox2" onclick="handleCheckboxClick(event, 'checkbox-container-3')"><label for="animalchk2">아니요</label>
                            </div>
                        </div>
                        <div class="searchbtn">
                            <a href="#" class="btnclear" onclick="uncheckAllCheckboxes()">초기화</a>
                            <a href="#" class="btnresult" onclick="checkboxresult()">검색</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
<th:block th:insert="~{@{symptoms/_footer.html}}"/>