<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="@{_header.html}"/>
        <main>
            <div>
                <div class="title">
                    <h3>증상검색</h3>
                </div>
                <div class="healthinfo">
                    <p>신체부위 내 증상을 선택 하신 후 검색 버튼을 클릭해 주세요.</p>
                    <!-- 신체부위 검색 탭 -->
                    <form th:action="@{/symptoms/symptoms}" method="post" id="myForm">
                        <div>
                            <div class="search_body_cate">
                                <ul class="bodylist">
                                    <li th:classappend="${body1_code} eq 10 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=10}">머리</a></li>
                                    <li th:classappend="${body1_code} eq 20 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=20}">팔다리</a></li>
                                    <li th:classappend="${body1_code} eq 30 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=30}">상반신</a></li>
                                    <li th:classappend="${body1_code} eq 40 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=40}">하반신</a></li>
                                    <li th:classappend="${body1_code} eq 50 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=50}">정신</a></li>
                                    <li th:classappend="${body1_code} eq 60 ? 'on':'off'"><a th:href="@{/symptoms/symptoms?body1_code=60}">신경</a></li>
                                </ul>
                                <th:block th:if="${body1_code} eq null">
                                <div class="search_body_subcate">
                                	<h4>자주 찾는 증상</h4>
                                	<table>
	                                	<tr>
	                                		<th><img src="../img/ico_symptomIndex_18.gif" alt="골반아이콘"><br><span>골반</span></th>
	                                		<td>
	                                			<div>
	                                				<ul>
	                                					<li><a id="myLink" th:href="@{/symptoms/resultsymptoms(symptom=${'거품있는 소변'})}">거품있는 소변</a></li거>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'긴박뇨'})}">긴박뇨</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'거대자궁'})}">거대자궁</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'골반 통증'})}">골반통증</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'다뇨'})}">다뇨</a></li>
	                                				</ul>		
	                                			</div>
	                                		</td>
	                                		<th><img src="../img/ico_symptomIndex_09.gif" alt="귀 아이콘"><br><span>귀</span></th>
	                                		<td>
	                                			<div>
	                                				<ul>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'고막 충혈'})}">고막 충혈</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'고막에 수포형성'})}">고막에 수포형성</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'귀에서 냄새가 남'})}">귀에서 냄새가 남</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'귀 모양의 변형'})}">귀 모양의 변형</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'귀 상부가 두피에 매몰됨'})}">귀 상부가 두피에 매몰됨</a></li>
	                                				</ul>		
	                                			</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th><img src="../img/ico_symptomIndex_19.gif" alt="기타아이콘"><br><span>기타</span></th>
	                                		<td>
	                                			<div>
	                                				<ul>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'걸핏하면 눈물지음'})}">걸핏하면 눈물지음</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'고정된 믿음'})}">고정된 믿음</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'감정 변화'})}">감정 변화</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'강박증'})}">강박증</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'거짓 증상 호소'})}">거짓 증상 호소</a></li>
	                                				</ul>		
	                                			</div>
	                                		</td>
	                                		<th><img src="../img/ico_symptomIndex_08.gif" alt="다리아이콘"><br><span>다리</span></th>
	                                		<td>
	                                			<div>
	                                				<ul>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'관절 운동성 감소'})}">관절 운동성 감소</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'X자 다리'})}">X자 다리</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'O자 다리'})}">O자 다리</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'관절 불안정증'})}">관절 불안정증</a></li>
	                                					<li><a th:href="@{/symptoms/resultsymptoms(symptom=${'가늘어지는 팔다리'})}">가늘어지는 팔다리</a></li>
	                                				</ul>		
	                                			</div>
	                                		</td>
	                                	</tr>
                                	</table>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 10">
                                <div th:class="'search_body_subcate-' + ${cate.code}"  th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code} or ${bd1.part2b} eq ${cate.code}">
	                                            <input type="checkbox" th:id="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
								<th:block th:if="${body1_code} eq 20">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code} or ${bd1.part2b} eq ${cate.code}">
	                                            <input type="checkbox" th:id="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 30">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code}">
	                                            <input type="checkbox" th:id="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 40">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code} or ${bd1.part2b} eq ${cate.code}">
	                                            <input type="checkbox" th:id="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 50">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code}">
	                                            <input type="checkbox" th:id="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                                <th:block th:if="${body1_code} eq 60">
                                <div th:class="'search_body_subcate-' + ${cate.code}" th:each="cate : ${cate}" >
                                <input type="hidden" th:value="${cate.code}">
                                    <h3 th:value="${cate.code}">[[${cate.part}]]</h3>
	                                    <ul class="subcateBox">
	                                        <li th:each="bd1 : ${bd1}" th:if="${bd1.part2a} eq ${cate.code}">
	                                            <input type="checkbox" th:id="${bd1.symptom}" th:value="${bd1.part2a}">
	                                            <label for="chk01">[[${bd1.symptom}]]</label>
	                                        </li>
	                                    </ul>
                                </div>
                                </th:block>
                            </div>
                            <th:block th:if="${body1_code} ne null">
                            <div class="search_animal" id="checkbox-container-1">
                                <p>최근 일 주일 내 야생동물과 접촉했거나, 반려동물의 채액이 피부와 접촉한 적이 있습니까?</p><br/>
                                
                                    <input type="radio" name="chk1" id="우울&환부 통증" onclick="handleCheckboxClick(event, 'checkbox-container-1')"><label for="animalchk1" style="margin-right:50px;">예</label>
                                    <input type="radio" name="chk1" onclick="handleCheckboxClick(event, 'checkbox-container-1')"><label for="animalchk2">아니요</label>
                            </div>
                            <div class="search_animal" id="checkbox-container-2">
                                <p>최근 일 주일 내 야생동물 또는 개, 강아지에게 물린적이 있습니까?</p><br/>
                                
                                    <input type="radio" name="chk2" onclick="handleCheckboxClick(event, 'checkbox-container-2')"><label for="animalchk1" style="margin-right:50px;">예</label>
                                    <input type="radio" name="chk2" onclick="handleCheckboxClick(event, 'checkbox-container-2')"><label for="animalchk2">아니요</label>
                            </div>
                            <div class="search_animal" id="checkbox-container-3">
                                <p>최근 일 주일 내 닭고기, 돼지고기, 소고기 또는 유제품을 섭취하신적이 있습니까?</p><br/>
                                
                                    <input type="radio" name="chk3" id="우울&환부 통증" onclick="handleCheckboxClick(event, 'checkbox-container-3')"><label for="animalchk1" style="margin-right:50px;">예</label>
                                    <input type="radio" name="chk3" onclick="handleCheckboxClick(event, 'checkbox-container-3')"><label for="animalchk2">아니요</label>
                            </div>
							</th:block>
                        </div>
                        <th:block th:if="${body1_code} ne null"> 
                        <div class="searchbtn">
                            <a href="#" class="btnclear" onclick="uncheckAllCheckboxes()">초기화</a>
                            <a href="#" class="btnresult" onclick="checkboxresult()">검색</a>
                        </div>
                        </th:block> 
  						<a href="#" class="top">Top</a>
                    </form>
                </div>
            </div>
        </main>
<th:block th:include="@{_footer.html}"/>    