<th:block th:insert="~{@{_header.html}}"/>
  <section id="community">
      <div class="free">
        <section class="view">
          <aside>
            <h2>커뮤니티</h2>
             <ul>
              <li th:classappend="${cateCode} == '10' ? 'on' : 'off'"><a th:href="@{./freeList?cateCode=10}">자유 게시판</a></li>
              <li th:classappend="${cateCode} == '11' ? 'on' : 'off'"><a th:href="@{./freeList?cateCode=11}">질문 게시판</a></li>
              <li th:classappend="${cateCode} == '12' ? 'on' : 'off'"><a th:href="@{./freeList(cateCode=12, regionCode=100)}">내가 사는 동네</a></li>
            </ul>
          </aside>
          <article>
              <h1 th:text="${ccv.cate}"></h1>
              <a th:href="@{./freeList}" class="btnList">목록보기</a>
              <nav>
                <h2 class="title" th:text="${vo.title}"></h2>
                <p>
                 <span>[[${(vo.member_uid)}]]</span>
               	 <span>[[${(vo.rdate).substring(2, 10)}]]</span>
                </p>
              </nav>

              <div class="content">
                <p>
                  [[${vo.content}]]
                </p>
              </div>
              <!-- 아티클 부가 기능 -->
              <div class="article__ext">
              <div class="article__button">
                  <span><a href="#" onclick="" role="button" class="button--article-modify">수정</a> |</span>
                  <span><a href="#" onclick="" role="button" class="button--article-delete">삭제</a></span>
              </div>
              </div>
              <!-- // 아티클 부가 기능 -->
              <div class="comment">
                  <h3>댓글 <em class="comment__total" id="txt_CommentTotalCount">[[${vo.comments}]]</em></h3>
                      <div class="comment__form" role="form">
                          <form th:action="@{/community/freeView}" method="post">
                          	<input type="hidden" name="no" th:value="${no}">
                          	<input type="hidden" name="cateCode" th:value="${cateCode}">
              				<input type="hidden" name="regionCode" th:value="0">
              				<input type="hidden" name="parent" th:value="${parent}">
                              <fieldset class="comment__fieldset">
                                  <textarea class="textarea--comment" name="content" id="txt_comment" maxlength="200" placeholder="저작권 등 다른 사람의 권리를 침해하거나 명예를 훼손하는 게시물은 이용약관 및 관련 법률에 의해 제재를 받을 수 있습니다.&#10;건전한 토론 문화와 양질의 댓글 문화를 위해, 타인에게 불쾌감을 주는 욕설 또는 특정 계층/민족, 종교 등을 비하하는 단어들은 표시가 제한됩니다."></textarea>
                                  <span class="comment__count" role="region" aria-live="polite" aria-label="글자수 제한"></span>
                                  <button type="submit" class="button--comment">등록</button>
                              </fieldset>
                          </form>
                      </div>
          
              <!-- 댓글-->
              <div class="comment__list">
                  <ul>
                      <li th:each = "cm:${cm}">
                          <div class="comment_name">
                              <span>[[${(cm.member_uid)}]]	[[${(cm.rdate).substring(2, 10)}]]</span>
                          </div>
                          <p class="comment_font">
                              [[${(cm.content)}]]
                          </p>
                          <!-- 댓글 아티클 부가 기능 -->
                          <div class="comment__ext">
                          <div class="comment__button">
                              <span><a href="#" onclick="" class="button--article-modify">수정</a> |</span>
                              <span><a href="#" onclick="" class="button--article-delete">삭제</a></span>
                          </div>
                          </div>
                           <!-- // 댓글 아티클 부가 기능 -->
                      </li>
                  </ul>
                  <div class="paging">
		          <th:block th:if="${groups[0] > 1}">
		             <a th:href="@{/community/freeView(cateCode=${cateCode},pg=${groups[0]- 1})}" class="prev">이전</a>
		          </th:block>
		          <th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
		             <a th:href="@{/community/freeView(cateCode=${cateCode},pg=${num},no=${no},parent=${parent})}" th:class="${num == currentPage ? 'num current' : 'num'}">[[${num}]]</a>
		          </th:block>
		          <th:block th:if="${groups[1] < lastPage}">
		             <a th:href="@{/community/freeView(cateCode=${cateCode},pg=${groups[1] + 1})}" class="next">다음</a>
		          </th:block>
          		  </div>
                  </ul>
                  
              </div>
              <!-- // 댓글 -->
              
          </article>
          
        </section>
      </div>
    </section>
<th:block th:insert="~{@{_footer.html}}"/>