<th:block th:insert="~{@{_header.html}}"/>
  <section id="community">
      <div class="free">
        <section class="list">
          <aside>
            <h2>커뮤니티</h2>
            <ul>
              <li th:classappend="${cateCode} == '10' ? 'on' : 'off'"><a th:href="@{./freeList?cateCode=10}">자유 게시판</a></li>
              <li th:classappend="${cateCode} == '11' ? 'on' : 'off'"><a th:href="@{./qnaList?cateCode=11}">질문 게시판</a></li>
              <li th:classappend="${cateCode} == '12' ? 'on' : 'off'"><a th:href="@{./mytownList?cateCode=12}">내가 사는 동네</a></li>
            </ul>
          </aside>
          <article>
            <nav>
              <h1 th:text="${ccv.cate}"></h1>
              <!-- 리스트 검색 -->
              <div class="list-search">
                  <form action="" role="search">
                      <input type="text" class="input--list-search" name= "keyword" value="" placeholder="검색어를 입력해주세요.">
                      <button type="submit" class="button--list-search">검색</button>
                  </form>
              </div>
              <!-- // 리스트 검색 -->
            </nav>
            <table>
             <tr th:each="cates:${cates}">
	              <td><a th:href="@{/community/freeView(cateCode=${cateCode},no=${cates.no})}" th:text="${cates.title}"></a></td>
	              <td>[[${(cates.member_uid)}]]</td>
	              <td>[[${(cates.comments)}]] views</td>	
	              <td>[[${(cates.rdate).substring(2, 10)}]]</td>
             </tr>
            </table>

            <div class="page">
            <th:block th:if="${groups[0] > 1}">
                <a th:href="@{/community/freeList(cateCode=${cateCode},pg=${groups[0]- 1})}" class="prev">이전</a>
            </th:block>
            <th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
                <a th:href="@{/community/freeList(cateCode=${cateCode},pg=${num})}" th:class="${num == currentPage ? 'num current' : 'num'}">[[${num}]]</a>
            </th:block>
            <th:block th:if="${groups[1] < lastPage}">
                <a th:href="@{/community/freeList(cateCode=${cateCode},pg=${groups[1] + 1})}" class="next">다음</a>
            </th:block>
          </div>

            <a th:href="@{/community/freeWrite(cateCode=${cateCode})}" class="btnWrite">글쓰기</a>

          </article>
        </section>
      </div>
    </section>
<th:block th:insert="~{@{_footer.html}}"/>