* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

ul,ol {list-style: none;}

a {text-decoration: none;color: #111;}

input,textarea {outline: none;}

#wrapper {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* header*/
header{
    width: 100%;
    height: 60px;
    background: #fafbfd;
    overflow: hidden;
}

.logo > div{
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    left: 25px;
    top: 9px;
}
.logo-head{
    width: 40px;
}

.search{
    background: #f8f6f6;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    position: relative;
    left: 190px;
    top: -30px;
}
.search > a > i{
    display: block;
    font-size: 25px;
    color: #01b1ff;
}
.search > a > i:nth-child(1){
    color: #f8f6f6;
    font-size: 40px;
}
.search > a > i:nth-child(2){
    padding-top: 4px;
    padding-right: 3px;
}
.search-bar{display: none;}
.search-bar.on{display: block;}
.search-bar > input[type=text]{
    border: 0.5px solid #eee;
    border-radius: 18px;
    width: 300px;
    height: 33px;
    text-indent: 10px;
    font: normal 12px "맑은 고딕";
    display: block;
    position: absolute;
    left: 60px;
    bottom: 0px;
}
.search-bar > input[type=button]{
    border: none;
    border-radius: 10px;
    background: #01b1ff;
    width: 35px;
    height: 23px;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 315px;
    bottom: 5.5px;
    cursor: pointer;
}

.menu{
    position: relative;
    top: -4.4rem;
    left: 112.75rem;

}
.menu > div > ul > li{
    float: left;
}
.menu > div > ul > li > a{
    font-size: 17px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #111;
}

/* main common layout */
.admin-index{
    display: flex;
    flex: 1;
    overflow: hidden;
}
.sub{
    display: flex;
    flex: none;
    width: 180px;
    background: linear-gradient(0deg, #2ce97b 0%, #01b1ff 100%);
}
.admin-content{
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    background: #f8f6f6;
    box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -webkit-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    -moz-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
    padding-left: 120px;
    padding-top: 40px;
}

.sub > aside{
    width: 100%;
    height: 909px;
    background: rgb(44,233,123);
    background: linear-gradient(0deg, #2ce97b 0%, #01b1ff 100%);
    color: #fff;
    font-weight: lighter;
}
.cate{
    padding-top: 20px;
    padding-left: 20px;
}
.cate  a{
    font-size: 17px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #fff;
}
.subcate{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    display: none;
}
.subcate.on{display: block;}
.subcate li{
    display: block;
    margin-bottom: 8px;
}
.subcate > li > a{
    font-size: 14.5px;
}
.sub > aside > ul > li:nth-child(1){
    padding-top: 23px;
}

.shadow{
    box-shadow: -2px 10px 11px -11px rgba(162,160,160,0.75);
    -webkit-box-shadow: -2px 10px 11px -11px rgba(162,160,160,0.75);
    -moz-box-shadow: -2px 10px 11px -11px rgba(162,160,160,0.75);
}

/* admin_review*/
.review-panel-main{
    border: 1px solid #c3c0c0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: auto;
    height: auto;
    background: #fff;
}
.review-panel-main > p:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c3c0c0;
    padding-right: 30px;
}
.review-panel-main > p:nth-of-type(2){
    text-align: center;
}
.review-panel-main > p{
    height: 35px;
    font-size: 20px;
    font-weight: lighter;
    text-indent: 30px;
    padding-top: 8px;
}
.review-panel-main > p > span{
    height: 10px;
    font-size: 12px;
    margin-top: 9px;
}
.review-panel-main > p > span > span{
    font-size: 12px;
}

/* select 박스 */
.review-panel-main > .selectbox{
    float: left;
    width: 100%;
    height: auto;
    border-style: none;
    margin: 0 auto;
    padding: 20px 20px 5px;
    box-sizing: border-box;
}
.review-panel-main > .selectbox > select{
    width: 110px;
    height: 25px;
    margin-right: 13px;
}

/* 리스트 */
.review-table-wrapper{
    padding: 20px 30px;
}
.review-table{
    width: 1050px;
    text-align: center;
}
.review-table > tbody> tr td{
    padding-top: 20px;
}
.review-table > tbody > tr > th:nth-child(1){
    margin-right: 5px;
}
.review-table > tbody > tr > th:nth-child(4){
    width: 250px;
}


.details-button{
    width: 70px;
    height: 28px;
    background: #01b1ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
/* 선택 삭제 */
.review-panel-main > .review-table-wrapper > .remove{
    float: left;
    width: 100%;
    height: auto;
}
.review-panel-main > .review-table-wrapper > .remove > a{
    float: left;
    width: 100px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #ccc;
    font-size: 13px;
    background-color: #eaeaea;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

/* 페이지 버튼 */
.review-list-table-buttons{
    margin: 40px auto 0 auto;
    text-align: center;
}
.review-list-table-buttons > .num{
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border: 1px solid #2ce97b;
    border-radius: 50%;
    margin: 0 0.7px;
    background: transparent;
    cursor: pointer;
}
.review-list-table-buttons > .num2{
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border: 1px solid #2ce97b;
    border-radius: 50%;
    margin: 0 0.7px;
    background: transparent;
    cursor: pointer;
}
.review-list-table-buttons > .next, .before{
    width: 43px;
    height: 25px;
    font-size: 13px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border: none;
    border-radius: 18px;
    background: linear-gradient(37deg, rgba(1,177,255,1) 0%, #2ce97b 84%, rgba(1,177,255,1) 100%);
    cursor: pointer;
}
.review-list-table-buttons > .before{
    background: #2ce97b;
}
.num.on{
    background-color: #2ce97b;
}
.num2.on{
    background-color: #2ce97b;
}

/* view */

.erReview-panel-main{
    border: 1px solid #c3c0c0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: auto;
    overflow-x: hidden;
    height: auto;
    background: #fff;
    margin-bottom: 50px;
}
.erReview-panel-main > p:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c3c0c0;
    padding-right: 30px;
}
.erReview-panel-main > p{
    height: 35px;
    font-size: 20px;
    font-weight: lighter;
    text-indent: 30px;
    padding-top: 8px;
}
.erReview-panel-main > div{
    padding: 10px 40px 20px 40px;
}
.admin-erReview-table{
    width: 1050px;
    text-align: left;
    border-collapse: collapse;
}
.admin-erReview-table > tbody> tr td{
    padding-top: 20px;
    padding-bottom: 10px;
    width: auto;
}
.admin-erReview-table > tbody> tr{
    border-bottom: 1px solid #c3c0c0;
}
.admin-erReview-table > tbody > tr > td.key{
    padding-left: 15px;
    font-weight: bold;
}
.admin-erReview-table > tbody> tr td > .info{
    width: 100%;
    border-style: none;
    width: 100%;
}

#admin-erReview-content{
    resize: none;
    width: 700px;
    min-height: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
}
.admin-erReview-control-buttons{
    position: relative;
    bottom: -15px;
    right: -830px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.admin-erReview-control-buttons > input{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.admin-erReview-back-to-list{
    border: 1px solid #2ce97b;
    color: #2ce97b;
    background: none;
    margin-right: 8px;
}
.admin-erReview-delete-article{
    border: none;
    background: #2ce97b;
    color: #fff;
}

#admin-er-city:focus, #admin-er-town:focus{
	box-shadow:0 0 3px #2ce97b;
    -moz-box-shadow:0 0 3px #2ce97b;
    -webkit-box-shadow:0 0 3px #2ce97b;
}

#admin-er-city, #admin-er-town{
	font-size: 13px;
}
