* {
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-family: 'IBM Plex Sans KR', sans-serif;
  }

  ul,ol {list-style: none;}

  a {text-decoration: none;color: #111;}

  input,textarea {outline: none;}

  #wrapper {
      width: 100%; 
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
  }

  html, body{height: 100%;}

  /* header*/
  header{
      width: 100%;
      height: 60px;
      background: #fafbfd;
      overflow-x: clip;
  }

  .logo > div{
      background: transparent;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: relative;
      left: 25px;
      top: 9px;
  }
  .logo-head{
      width: 40px;
  }

  .search{
      background: #f8f6f6;
      border-radius: 50%;
      width: 37px;
      height: 37px;
      position: relative;
      left: 190px;
      top: -30px;
  }
  .search > a > i{
      display: block;
      font-size: 25px;
      color: #01b1ff;
  }
  .search > a > i:nth-child(1){
      color: #f8f6f6;
      font-size: 40px;
  }
  .search > a > i:nth-child(2){
      padding-top: 4px;
      padding-right: 3px;
  }
  .search-bar{display: none;}
  .search-bar.on{display: block;}
  .search-bar > input[type=text]{
      border: 0.5px solid #eee;
      border-radius: 18px;
      width: 300px;
      height: 33px;
      text-indent: 10px;
      font: normal 12px "맑은 고딕";
      display: block;
      position: absolute;
      left: 60px;
      bottom: 0px;
  }
  .search-bar > input[type=button]{
      border: none;
      border-radius: 10px;
      background: #01b1ff;
      width: 35px;
      height: 23px;
      color: #fff;
      font-size: 12px;
      display: block;
      position: absolute;
      left: 315px;
      bottom: 5.5px;
      cursor: pointer;
  }

.search-result-wrapper{
	background-color: #fff; 
	position:relative; 
	z-index:1; 
	top: 9px;
    left: 69px;
    width: 285px;
    box-shadow: 1px 7px 10px -3px rgba(0,0,0,0.30);
}
.search-result-wrapper > ul li:hover{
	background-color: #fafbfd;
}


  .menu{
      position: relative;
      top: -60px;
      left: 1260px;

  }
  .menu > div > ul > li{
      float: left;
  }
  .menu > div > ul > li > a{
      font-size: 17px;
      font-family: 'IBM Plex Sans KR', sans-serif;
      color: #111;
  }

  /* main common layout */
  .admin-index{
      display: flex;
      flex: 1;
      overflow: hidden;
  }
  .sub{
      display: flex;
      flex: none;
      width: 180px;
      background: linear-gradient(0deg, #2ce97b 0%, #01b1ff 100%);
  }
  .admin-content{
      display: flex;
      flex: 1;
      overflow: auto;
      flex-direction: column;
      background: #f8f6f6;
      box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
      -webkit-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
      -moz-box-shadow: -1px 6px 14px -8px rgba(97,91,91,0.75) inset;
      padding-left: 120px;
      padding-top: 40px;
  }

  .sub > aside{
      width: 100%;
      height: 100%;
      background: rgb(44,233,123);
      background: linear-gradient(0deg, #2ce97b 0%, #01b1ff 100%);
      color: #fff;
      font-weight: lighter;
  }
  .cate{
      padding-top: 20px;
      padding-left: 20px;
  }
  .cate  a{
      font-size: 17px;
      font-family: 'IBM Plex Sans KR', sans-serif;
      color: #fff;
  }
  .subcate{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 12px;
      display: none;
  }
  .subcate.on{display: block;}
  .subcate li{
      display: block;
      margin-bottom: 8px;
  }
  .subcate > li > a{
      font-size: 14.5px;
  }
  .sub > aside > ul > li:nth-child(1){
      padding-top: 23px;
  }
  
  .shadow{
       box-shadow: -2px 10px 11px -11px rgba(162,160,160,0.75);
       -webkit-box-shadow: -2px 10px 11px -11px rgba(162,160,160,0.75);
       -moz-box-shadow: -2px 10px 11px -11px rgba(162,160,160,0.75);
   }
   
   /* main */
.control-panel-main{
         border: 1px solid #c3c0c0;
         display: flex;
         flex-direction: column;
         align-self: flex-start;
         overflow: auto;
         height: auto;
         background: #fff;
     }
     .control-panel-main > p:nth-of-type(1){
         display: flex;
         justify-content: space-between;
         border-bottom: 1px solid #c3c0c0;
         padding-right: 30px;
     }
     .control-panel-main > p:nth-of-type(2){
         text-align: center;
     }
     .control-panel-main > p{
         height: 35px;
         font-size: 20px;
         font-weight: lighter;
         text-indent: 30px;
         padding-top: 8px;
     }
     .control-panel-main > p > span{
         height: 10px;
         font-size: 12px;
         margin-top: 9px;
     }
     .control-panel-main > p > span > span{
         font-size: 12px;
     }
     .control-panel-main > ul{
         display: flex;
         padding-top: 30px;
         padding-left: 40px;
         height: 110px;
         border-bottom: 1px solid #c3c0c0;
     }
     .control-panel-main-icon > i{
         font-size: 70px;
         color: #01b1ff;
     }
     .control-panel-main-item{
         display: flex;
         margin-right: 132.5px;
     }
     .control-panel-main-item > ol:nth-child(1){
         margin-right: 20px;
     }
     .control-panel-main-item > ol:nth-child(2){
         width: 130px;
     }
     .control-panel-main-item > ol:nth-child(2) > li:nth-child(1){
         color: #6a6a6a;
         margin-bottom: 2.5px;
     }
     .control-panel-main-item > ol:nth-child(2) > li:nth-child(2){
         font-size: 20px;
         font-weight: bold;
     }
     .control-panel-main > p:nth-of-type(2){
         border-bottom: none;
         text-align: center;
         height: 50px;
         padding-top: 13px;
     }
     .control-panel-main > p:nth-of-type(2) > a > input{
         background: #2ce97b;
         width: 180px;
         height: 38px;
         border: none;
         border-radius: 18px;
         color: #fff;
         font-size: 15px;
         cursor: pointer;
     }
     .increase{
         color: #2ce97b;
     }
     .decrease{
         color: red;
     }

     .preview-wrapper{
         display: flex;
         margin-top: 25px;
         width: 100%;
     }
     .preview{
         width: 365.5px;
         height: auto;
         background: #fff;
         border: 1px solid #c3c0c0;
     }
     .preview-wrapper > div:nth-child(2){ /* 두 번째 preview*/
    margin-left: 8px;
}
.preview-wrapper > div:nth-child(3){ /* 세 번째 preview*/
    margin-left: 8px;
}
.preview > p{
    padding:1.7% 0;
    text-indent: 30px;
    font-size: 20px;
    border-bottom: 1px solid #c3c0c0;
}
.preview > table{
    padding: 3.5% 4%;
    width: 100%;
    text-align: center;
}
.preview > table > tbody > tr td{
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 8px;
    padding-bottom: 15px;
    text-align: left;
}
.preview > table > tbody > tr > td:nth-child(3){
    width: 3%;
}
.preview > table > tbody > tr:last-child > td{
    padding-bottom: 7px;
}
.preview > table > tbody > tr td > i{
    color: #2ce97b;
}
.preview > p:last-child{
    border-bottom: none;
    border-top: 1px solid #c3c0c0;
    height: 50px;
}
.go-to-list-button{
    text-align: center;
    line-height: 45px;
}
.go-to-list-button > input{
    background: #2ce97b;
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 18px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}