<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>응급실 검색</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/swiftER/css/common.css"/>
    <link rel="stylesheet" href="/swiftER/css/er.css"/>
</head>
<script>
$(document).ready(function () {

	$('select[name=city]').on('change', function(){
		let city =$(this).val();
		subregion(city);
	});
	
});	
function subregion(city){
	let jsonData = {"city":city}
	$.ajax({
		url:'/swiftER/er/subregion',
		method:'POST',
		dataType:'json',
		data:jsonData,
		success:(data)=>{
	    	let subregion = $('select[name=town]');
	    	subregion.children().remove();
	    	let tag = `<option value="">전체</option>`;
	    	data.forEach(async data => {
	        	tag += `<option th:value="${data.subregion}" th:text="${data.subregion}">${data.subregion}</option>`;
	    	});
	    subregion.append(tag);
		}
	});
}	

</script>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="#">
                        <img src="/swiftER/img/swifter_logo.png" alt="logo" class="logoImage">
                    </a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li>
                            <a href="#">증상검색</a>
                        </li>
                        <li>
                            <a href="#">응급실검색</a>
                        </li>
                        <li>
                            <a href="#">약국검색</a>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                        </li>
                        <li>
                            <a href="#">고객센터</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main id="search">
            <section class="er">
                <div class="title">
                    <h2 class="er-search">응급실 검색</h2>
                </div>
                <div class="selectBox">
                    <form th:action="@{/er/erSearch}" method="post">
                        <div>
                            <fieldset class="location">
                            <legend>위치 조건</legend>
                            <select name="city">	
                            <option value="전체">전체</option>
                            <th:block th:each="region, i:${region}">
                                <option th:value="${region.region}" id="region">[[${region.region}]]</option>
                            </th:block>
                            </select>
                            <select name="town">		
                            </select>
                            </fieldset>
                            <fieldset class="med-department">
                                <legend>진료 과목</legend>
                                <input type="checkbox" name="일반" value="common"><label for="common">일반</label>
                                <input type="checkbox" name="내과" value="medicine"><label for="medicine">내과</label>
                                <input type="checkbox" name="외과" value="surgery"><label for="surgery">외과</label>
                                <input type="checkbox" name="신경외과" value="neurosurgery"><label for="neurosurgery">신경외과</label>
                            </fieldset>
                            <fieldset class="med-equipment">
                                <legend>장비 정보(가용여부)</legend>
                                <input type="checkbox" name="CT" value="CT"><label for="CT">CT</label>
                                <input type="checkbox" name="MRI" value="MRI"><label for="MRI">MRI</label>
                                <input type="checkbox" name="조영촬영기" value="camera"><label for="camera">조영촬영기</label>
                                <input type="checkbox" name="인공호흡기" value="respirator"><label for="respirator">인공호흡기</label>
                                <input type="checkbox" name="인큐베이터" value="incubator"><label for="incubator">인큐베이터</label>
                            </fieldset>
                        </div>
                        <div class="btn">
                            <input type="reset" value="초기화" class="resetBtn">
                            <input type="submit" value="검색" class="subBtn">
                        </div>
                    </form>
                </div>
                <div class="map">
                    <h2>선택하신 조건을 기반으로 한 검색 결과 입니다.</h2>
                    <div class="search_map">
                    <p>
                    	xml = [[${items}]]
                    </p>
                    </div>
                </div>
                <div class="info">
                    <p>
                        본 페이지에서 제공하는 내용은 참고사항일 뿐 게시물에 대한 법적책임은 없음을 밝혀드립니다. <br>
                        자세한 내용은 전문가와 상담하시기 바랍니다.
                    </p>
                </div>
            </section>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="#">서비스소개</a>
                </li>
                <li>
                    <a href="#">서비스이용약관</a>
                </li>
                <li>
                    <a href="#">책임의한계와법적고지</a>
                </li>
                <li>
                    <a href="#">사이트맵</a>
                </li>
            </ul>
            <div>
                <p>
                    <img src="/swiftER/img/swifter_logo.png" alt="logo" class="footerLogoImage">
                </p>
                <p>
                    <strong>swiftER</strong>
                    <br>
                    부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)
                    <br>
                    대표이사 : 홍길동
                    <br>
                    사업자등록번호 : 220-81-83676
                    <br>
                    통신판매업신고 : 강남 10630호 Fax : 02-589-8842
                </p>
                <p>
                    <strong>고객센터</strong>
                    <br>
                    Tel : 1234-5678 (평일 09:00~18:00)
                    <br>
                    스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
                    <br>
                    경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층
                    <br>
                    Fax : 051-123-4567 | Mail : kmarket@kmarket.co.kr
                </p>
            </div>
        </footer>
    </div>
</body>
</html>