<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>응급실 검색</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
 	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/swiftER/css/common.css"/>
    <link rel="stylesheet" href="/swiftER/css/er.css"/>
</head>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4b25c276d476675ddffb5920e680cf36"></script>
<script>
$(document).ready(function () {
	let er = [];
	let erChk = [];
	let erChk2 = [];
	let combined = [];
	let combinedFiltered = [];
	
	var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
	var options = { //지도를 생성할 때 필요한 기본 옵션
		center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
		level: 3 //지도의 레벨(확대, 축소 정도)
	};
	
	var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

	$('select[name=city]').on('change', function(){
		let city =$(this).val();
		subregion(city);
	});
	
	
	$('.subBtn').click(function(e){
		e.preventDefault();
		
		let city = $('select[name=city]').val();
		let town = $('select[name=town]').val();
		
		let jsonData = {
				"city": city,
				"town": town
		};
		
		console.log('data', jsonData);
		
		$.ajax({
			url: '/swiftER/er/erSearch',
			method: 'POST',
			data: jsonData,
			success: function(data){
				let json = JSON.parse(data);
				let check = json.response.body.totalCount;
				if(check == 0){
					alert("검색한 결과가 없습니다.");
					false;
				}
				
				
				let items = json.response.body.items.item;
				let er = items;
				let chk = false;
				
				$.ajax({
					url:"/swiftER/er/erSearch2",
					async:false,
					method:'POST',
					data:jsonData,
					success:function(data){
						let json = JSON.parse(data);
						let check = json.response.body.totalCount;
						if(check == 0){
							alert("검색한 결과가 없습니다.");
							false;
						}
						
						let items = json.response.body.items.item;
						erChk = items;
						
					}
					
				});
				
				$.ajax({
					url:"/swiftER/er/erSearch3",
					async:false,
					method:'POST',
					data:jsonData,
					success:function(data){
						let json = JSON.parse(data);
						let check = json.response.body.totalCount;
						if(check == 0){
							alert("검색한 결과가 없습니다.");
							false;
						}
						
						let items = json.response.body.items.item;
						erChk2 = items;
						
					}
					
				});

				let common = $('input[name=일반]').prop("checked");
				let medicien = $('input[name=내과]').prop("checked");
				let surgery = $('input[name=외과]').prop("checked");
				let neurosurgery = $('input[name=신경외과]').prop("checked");
				console.log('common', common);
				console.log('medicien', medicien);
				console.log('surgery', surgery);
				console.log('neurosurgery', neurosurgery);
				
				let CT = $('input[name=CT]').prop("checked");
				let MRI = $('input[name=MRI]').prop("checked");
				let camera = $('input[name=조영촬영기]').prop("checked");
				let respirator = $('input[name=인공호흡기]').prop("checked");
				let incubator = $('input[name=인큐베이터]').prop("checked");
				console.log('CT', CT);
				console.log('MRI', MRI);
				console.log('camera', camera);
				console.log('respirator', respirator);
				console.log('incubator', incubator);

				// 배열 합치기
				erChk.sort((a, b) => a.hpid.localeCompare(b.hpid));
				er.sort((a, b) => a.hpid.localeCompare(b.hpid));

				let mergedArray = erChk.map((obj, index) => {
					  return obj.hpid === er[index].hpid
					    ? Object.assign({}, obj, er[index])
					    : obj;
					});
				
				er.slice(erChk.length).forEach(obj => mergedArray.push(obj));
	
				let erMerged = mergedArray.map(obj => {
					  return {
					    dutyAddr: obj.dutyAddr,
					    dutyEmcls: obj.dutyEmcls,
					    dutyEmclsName: obj.dutyEmclsName,
					    dutyName: obj.dutyName,
					    dutyTel1: obj.dutyTel1,
					    dutyTel3: obj.dutyTel3,
					    hpid: obj.hpid,
					    hv11: obj.hv11,
					    hvctayn: obj.hvctayn,
					    hvmriayn: obj.hvmriayn,
					    hvangioayn: obj.hvangioayn,
					    hvventiayn: obj.hvventiayn,
					    wgs84Lat: obj.wgs84Lat,
					    wgs84Lon: obj.wgs84Lon
					  };
					});

				console.log('erMerged', erMerged);
				console.log('erChk2', erChk2);
				if(CT || MRI || camera || respirator || incubator || 
						common || medicien || surgery || neurosurgery){
					
					combined = erMerged.map((erItem) => {
					let matchingChk = erChk2.find((chkItem) => chkItem.dutyName === erItem.hpid);
					  if (matchingChk) {
					    return {
					      ...erItem,
					      ...matchingChk,
					      dutyName: erItem.dutyName
					    };
					  }
					  return null;
					}).filter(Boolean);

				console.log('combined', combined);
				let filtered = combined.filter(item => {
					  let passesAllConditions = true;

					  if (CT && item.hvctayn !== "Y") passesAllConditions = false;
					  if (MRI && item.hvmriayn !== "Y") passesAllConditions = false;
					  if (camera && item.hvangioayn !== "Y") passesAllConditions = false;
					  if (respirator && item.hvventiayn !== "Y") passesAllConditions = false;
					  if (incubator && item.hv11 !== 0) passesAllConditions = false;
					  if (common && item.mkioskty1 !== "Y") passesAllConditions = false;
					  if (medicien && item.mkioskty2 !== "Y") passesAllConditions = false;
					  if (surgery && item.mkioskty3 !== "Y") passesAllConditions = false;
					  if (neurosurgery && item.mkioskty8 !== "Y") passesAllConditions = false;

					  return passesAllConditions;
					});

					// Combine the arrays to get the final result
					combinedFiltered = filtered.reduce((accumulator, current) => accumulator.concat(current), []);

					console.log('combinedFiltered', combinedFiltered);

				}else{
					combinedFiltered = erMerged;
				}
				
				
				
				
				// 마커 이미지의 이미지 주소입니다
				var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
			    
			    // 마커 이미지의 이미지 크기 입니다
			    var imageSize = new kakao.maps.Size(24, 35); 
			    var LatLng = new kakao.maps.LatLng(combinedFiltered[0].wgs84Lat, combinedFiltered[0].wgs84Lon);
			    combinedFiltered.forEach(function (item) {
				    // 마커 이미지를 생성합니다    
				    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
				    
				    // 마커를 생성합니다
				    var marker = new kakao.maps.Marker({
				        map: map, // 마커를 표시할 지도
				        position: new kakao.maps.LatLng(item.wgs84Lat, item.wgs84Lon),
				        image : markerImage // 마커 이미지 
				    });
				    
				 	//이동할 위도 경도 위치를 생성합니다 
				    var moveLatLon = LatLng;
				    // 지도 중심을 부드럽게 이동시킵니다
				    // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
				    map.panTo(moveLatLon);
				    
					// 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
					var overlay = new kakao.maps.CustomOverlay({
					    position: new kakao.maps.LatLng(item.wgs84Lat, item.wgs84Lon)
					});
				    
				    // widowinfo 태그 생성
		            var content = document.createElement('div');
		            content.className = 'wrap';

		            var info = document.createElement('div');
		            info.className = 'info';

		            var title = document.createElement('div');
		            title.className = 'title';
		            title.innerHTML = item.dutyName;
		            
		            var close = document.createElement('div');
		            close.className = 'close';
		            close.onclick = function() {overlay.setMap(null);};
		            close.title = '닫기';
		            
		            var body = document.createElement('div');
		            body.className = 'body';
		            
		            var desc = document.createElement('div');
		            desc.className = 'desc';
		            
		            var ellipsis = document.createElement('div');
		            ellipsis.className = 'ellipsis';
		            ellipsis.innerHTML = item.dutyAddr;
		            
		            var jibun = document.createElement('div');
		            jibun.className = 'jibun';
		            jibun.innerHTML = '연락처1 : '+item.dutyTel1+' 연락처2 : '+item.dutyTel3;
		            
		            var linkdiv = document.createElement('div');

		            var code = document.createElement('input');
		            code.type = 'hidden';
		            code.name = 'code';
		            code.value = item.hpid;
		            linkdiv.appendChild(code);
		            
		            var link = document.createElement('a');
		            link.className = 'link';
		            link.href = '/swiftER/er/erDetail';
		            link.innerHTML = '자세히 보기';
		            
		            linkdiv.appendChild(link);
		            linkdiv.appendChild(code);
		            desc.appendChild(ellipsis);
		            desc.appendChild(jibun);
		            desc.appendChild(linkdiv);
		            body.appendChild(desc);
		            title.appendChild(close);
		            info.appendChild(title);
		            info.appendChild(body);
		            content.appendChild(info);
				
		            console.log(content)
		            // widowinfo 태그 생성 끝
		            
					overlay.setContent(content);
		            //overlay.setMap(map);
		            
					// 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
					kakao.maps.event.addListener(marker, 'click', function() {
						console.log("marker : %o", marker);
					    overlay.setMap(map);
					    var hpid = $('input[name=code]').val();
						var hf = '/swiftER/er/erDetail?code='+hpid;
			            
						$('.link').attr("href", hf);
					});
				
			    });
				
			}
		
		});
		
	});
	
});	
function subregion(city){
	let jsonData = {"city":city}
	$.ajax({
		url:'/swiftER/er/subregion',
		method:'POST',
		dataType:'json',
		data:jsonData,
		success:(data)=>{
	    	let subregion = $('select[name=town]');
	    	subregion.children().remove();
	    	let tag = `<option value="">전체</option>`;
	    	data.forEach(async data => {
	        	tag += `<option th:value="${data.subregion}" th:text="${data.subregion}">${data.subregion}</option>`;
	    	});
	    subregion.append(tag);
		}
	});
}

</script>
<script></script>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="#">
                        <img src="/swiftER/img/swifter_logo.png" alt="logo" class="logoImage">
                    </a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li>
                            <a href="#">증상검색</a>
                        </li>
                        <li>
                            <a href="#">응급실검색</a>
                        </li>
                        <li>
                            <a href="#">약국검색</a>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                        </li>
                        <li>
                            <a href="#">고객센터</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main id="search">
            <section class="er">
                <div class="title">
                    <h2 class="er-search">응급실 검색</h2>
                </div>
                <div class="selectBox">
                    <form action="#" method="post">
                        <div>
                            <fieldset class="location">
                            <legend>위치 조건</legend>
                            <select name="city">	
                            <option value="전체">전체</option>
                            <th:block th:each="region, i:${region}">
                                <option th:value="${region.region}" id="region">[[${region.region}]]</option>
                            </th:block>
                            </select>
                            <select name="town">		
                            </select>
                            </fieldset>
                            <fieldset class="med-department">
                                <legend>응급 수술(해당 수술 가능 병원)</legend>
                                <input type="checkbox" name="일반" value="common"><label for="common">뇌출혈수술</label>
                                <input type="checkbox" name="내과" value="medicine"><label for="medicine">뇌경색의재관류</label>
                                <input type="checkbox" name="외과" value="surgery"><label for="surgery">심근경색의재관류</label>
                                <input type="checkbox" name="신경외과" value="neurosurgery"><label for="neurosurgery">조산산모</label>
                            </fieldset>
                            <fieldset class="med-equipment">
                                <legend>장비 정보(가용여부)</legend>
                                <input type="checkbox" name="CT" value="CT"><label for="CT">CT</label>
                                <input type="checkbox" name="MRI" value="MRI"><label for="MRI">MRI</label>
                                <input type="checkbox" name="조영촬영기" value="camera"><label for="camera">조영촬영기</label>
                                <input type="checkbox" name="인공호흡기" value="respirator"><label for="respirator">인공호흡기</label>
                                <input type="checkbox" name="인큐베이터" value="incubator"><label for="incubator">인큐베이터</label>
                            </fieldset>
                        </div>
                        <div class="btn">
                            <input type="reset" value="초기화" class="resetBtn">
                            <input type="button" value="검색" class="subBtn">
                        </div>
                    </form>
                </div>
                <div class="search_map">
                    <h2>선택하신 조건을 기반으로 한 검색 결과 입니다.<span class="totalER"></span></h2>
                    <div id="map">
                    </div>
                </div>
                <div class="info">
                    <p>
                        본 페이지에서 제공하는 내용은 참고사항일 뿐 게시물에 대한 법적책임은 없음을 밝혀드립니다. <br>
                        자세한 내용은 전문가와 상담하시기 바랍니다.
                    </p>
                </div>
            </section>
        </main>
        <th:block th:insert="~{@{_footer.html}}"/>