<th:block th:insert="~{@{_header.html}}"/>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4b25c276d476675ddffb5920e680cf36"></script>
<script src="/swiftER/js/er.js"></script>
<main id="search">
    <section class="er">
        <div class="title">
            <h2 class="er-search">응급실 검색</h2>
        </div>
        <div class="selectBox">
            <form action="#" method="post">
                <div>
                    <fieldset class="location">
                    <legend>위치 조건</legend>
                    <select name="city">	
                    <option value="전체">전체</option>
                    <th:block th:each="region, i:${region}">
                        <option th:value="${region.region}" id="region">[[${region.region}]]</option>
                    </th:block>
                    </select>
                    <select name="town">		
                    </select>
                    </fieldset>
                    <fieldset class="med-department">
                        <legend>응급 수술(해당 수술 가능 병원)</legend>
                        <input type="checkbox" name="일반" value="common"><label for="common">뇌출혈수술</label>
                        <input type="checkbox" name="내과" value="medicine"><label for="medicine">뇌경색의재관류</label>
                        <input type="checkbox" name="외과" value="surgery"><label for="surgery">심근경색의재관류</label>
                        <input type="checkbox" name="신경외과" value="neurosurgery"><label for="neurosurgery">조산산모</label>
                    </fieldset>
                    <fieldset class="med-equipment">
                        <legend>장비 정보(가용여부)</legend>
                        <input type="checkbox" name="ct" value="ct"><label for="ct">CT</label>
                        <input type="checkbox" name="mri" value="mri"><label for="mri">MRI</label>
                        <input type="checkbox" name="조영촬영기" value="camera"><label for="camera">조영촬영기</label>
                        <input type="checkbox" name="인공호흡기" value="respirator"><label for="respirator">인공호흡기</label>
                        <input type="checkbox" name="인큐베이터" value="incubator"><label for="incubator">인큐베이터</label>
                    </fieldset>
                </div>
                <div class="btn">
                    <input type="reset" value="초기화" class="resetBtn">
                    <input type="button" value="검색" class="subBtn">
                </div>
            </form>
        </div>
        <div class="search_map">
            <h2>선택하신 조건을 기반으로 한 검색 결과 입니다.<span class="totalER"></span></h2>
            <div id="map">
            </div>
        </div>
        <div class="info">
            <p>
                본 페이지에서 제공하는 내용은 참고사항일 뿐 게시물에 대한 법적책임은 없음을 밝혀드립니다. <br>
                자세한 내용은 전문가와 상담하시기 바랍니다.
            </p>
        </div>
    </section>
</main>
<th:block th:insert="~{@{_footer.html}}"/>