<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>응급실 정보</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e8f010a863.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/swiftER/css/common.css"/>
    <link rel="stylesheet" href="/swiftER/css/er.css"/>
    <link rel="stylesheet" href="/swiftER/css/rating.css"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <header>
                <div class="top">
                    <div>
                        <a href="#">로그인</a>
                        <a href="#">회원가입</a>
                    </div>
                </div>
                <div class="logo">
                    <div>
                        <a href="#">
                            <img src="/swiftER/img/swifter_logo.png" alt="logo" class="logoImage">
                        </a>
                    </div>
                </div>
                <div class="menu">
                    <div>
                        <ul>
                            <li>
                                <a href="#">증상검색</a>
                            </li>
                            <li>
                                <a href="#">응급실검색</a>
                            </li>
                            <li>
                                <a href="#">약국검색</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                            <li>
                                <a href="#">고객센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        </header>
        <main id="search">
            <section class="Detail">
                 <div class="ErInfo">
                    <nav>
                        <h1 id="hospi_name"></h1>
                    </nav>
                    <article class="part1">
                    <input type="hidden" name="hpid" th:value="${code}"/>
                        <article>
                            <div class="border1">
                                <h2>위치</h2>
                            </div>
                            <div class="border2"></div>
                            <p id="addr">
                            </p>
                        </article>
                        <article>
                            <div class="border1"><h2>진료과목</h2></div>
                            <div class="border2"></div>
                            <p id="dep">
                            </p>
                        </article>
                        <article>
                            <div class="border1"><h2>찾아오시는 길</h2></div>
                            <div class="border2"></div>
                            <p id="etc">
                            </p>
                        </article>
                    </article>
                    <article class="part2">
                        <div>
                            <nav><h2>연락처 정보</h2></nav>
                            <nav>
                                <span id="tel"></span><br/>
                                <span id="etc1"></span>
                            </nav>
                        </div>
                    </article>
                 </div>
                 <article class="review">
                    <nav><h1>고객님의 의견을 들려주세요</h1></nav>
                    <ul>
                    <th:block th:each="review : ${reviews}">
                        <li>
                            <div>
                                <h5 th:class="rating star${review.rating}">별점</h5>
                                <span>[[${review.member_uid}]] / 작성일 [[${review.rdate}]]</span>
                            </div>
                            <p th:text="${review.content}">
                            </p>
                        </li>
                    </th:block>
                    </ul>
                    <div class="write">
                        <div>
                            <a href="#" class="reviewbtn">리뷰 작성</a>
                        </div>
                    </div>
                    <div class="paging">
                        <span class="prev"><a href="#">&lt;이전</a></span>
                        <span class="num">
                            <a href="#" class="on">1</a>
                            <a href="#">2</a>
                        </span>
                        <span class="prev"><a href="#">다음&gt;</a></span>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <ul>
                <li><a href="#">서비스소개</a></li>
                <li><a href="#">서비스이용약관</a></li>
                <li><a href="#">책임의한계와법적고지</a></li>
                <li><a href="#">사이트맵</a></li>
            </ul>
            <div>
                <p><img src="/swiftER/img/swifter_logo.png" alt="logo" class="footerLogoImage"></p>
                <p>
                    <strong>swiftER</strong>
                    <br>
                    부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)
                    <br>
                    대표이사 : 홍길동
                    <br>
                    사업자등록번호 : 220-81-83676
                    <br>
                    통신판매업신고 : 강남 10630호 Fax : 02-589-8842
                </p>
                <p>
                    <strong>고객센터</strong>
                    <br>
                    Tel : 1234-5678 (평일 09:00~18:00)
                    <br>
                    스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
                    <br>
                    경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층
                    <br>
                    Fax : 051-123-4567 | Mail : kmarket@kmarket.co.kr
                </p>
            </div>
            <div id="popReview" class="popup">
                <div>
                    <nav>
                        <h2>리뷰 작성하기</h2>
                        <button class="btnClose">X</button>
                    </nav>
                    <section>
                        <form th:action="@{er/erReview}">
                        	<div id="hide">
                        		<input type="hidden" name="code" th:value="${code}">
                        		<!-- 
                        		<input type="hidden" name="region" th:value="${region.region_code}">
                        		<input type="hidden" name="subregion" th:value="${subregion.subregion_code}">
                        		 -->
                        	</div>
                            <table border="0">
                                <tr>
                                    <th>제목</th>
                                    <td><textarea class="title" name="title" placeholder="제목 입력"></textarea></td>
                                </tr>
                                <tr>
                                    <th>만족도</th>
                                    <td class="rating">
                                        <div class="my-rating"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td><textarea class="content" name="content" placeholder="내용 입력"></textarea></td>
                                </tr>
                            </table>
                            <div>
                                <input type="submit" class="btnPositive" value="작성하기">
                                <button class="btnNegative btnClose">취소</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </footer>
    </div>
    <script src="/swiftER/js/erDetail.js"></script>
    <script src="/swiftER/js/rating.js"></script>
    <script src="/swiftER/js/popup.js"></script>    
</body>
</html>