<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>응급실 정보</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e8f010a863.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/swiftER/css/common.css"/>
    <link rel="stylesheet" href="/swiftER/css/er.css"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <header>
                <div class="top">
                    <div>
                        <a href="#">로그인</a>
                        <a href="#">회원가입</a>
                    </div>
                </div>
                <div class="logo">
                    <div>
                        <a href="#">
                            <img src="/swiftER/img/swifter_logo.png" alt="logo" class="logoImage">
                        </a>
                    </div>
                </div>
                <div class="menu">
                    <div>
                        <ul>
                            <li>
                                <a href="#">증상검색</a>
                            </li>
                            <li>
                                <a href="#">응급실검색</a>
                            </li>
                            <li>
                                <a href="#">약국검색</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                            <li>
                                <a href="#">고객센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        </header>
        <main id="search">
            <section class="Detail">
                 <div class="ErInfo">
                    <nav>
                        <h1>한사랑 병원 응급실</h1>
                    </nav>
                    <article class="part1">
                        <article>
                            <div class="border1">
                                <h2>위치</h2>
                            </div>
                            <div class="border2"></div>
                            <p>
                                • 부산광역시 중구 광복로 27번길
                            </p>
                        </article>
                        <article>
                            <div class="border1">
                                <h2>진료과목</h2>
                            </div>
                            <div class="border2"></div>
                            <p>
                                • 안과, 내과, 정형외과
                            </p>
                        </article>
                        <article>
                            <div class="border1">
                                <h2>공지사항?</h2>
                            </div>
                            <div class="border2"></div>
                            <p>
                                • 성형외과 수술 불가(당직의 부재)
                            </p>
                        </article>
                    </article>
                    <article class="part2">
                        <div>
                            <nav>
                                <h2>연락처 정보</h2>
                            </nav>
                            <nav>
                                <span><i class="fas fa-home"></i> 전화번호 : 051-125-3464</span><br/>
                                <span><i class="fas fa-home"></i> 웹사이트 : hansarang.org/</span>
                            </nav>
                        </div>
                    </article>
                 </div>
                 <article class="review">
                    <nav>
                        <h1>고객님의 의견을 들려주세요</h1>
                    </nav>
                    <ul>
                        <li>
                            <div>
                                <h5 class="rating star4">별점</h5>
                                <span>adm** / 내원일 2023.03.06</span>
                            </div>
                            <p>
                                시설이 좋고 병원밥 맛은 여기가 최고입니다
                            </p>
                        </li>
                        <li>
                            <div>
                                <h5 class="rating star4">별점</h5>
                                <span>adm** / 내원일 2023.03.06</span>
                            </div>
                            <p>
                                코로나 확진자라고 한겨울에 칼바람 맞으면서 밖에서 대기하게 하더라고요. 실망
                            </p>
                        </li>
                        <li>
                            <div>
                                <h5 class="rating star4">별점</h5>
                                <span>adm** / 내원일 2023.03.06</span>
                            </div>
                            <p>
                                코로나 확진자라고 한겨울에 칼바람 맞으면서 밖에서 대기하게 하더라고요. 실망
                            </p>
                        </li>
                    </ul>
                    <div class="paging">
                        <span class="prev"><a href="#">&lt;이전</a></span>
                        <span class="num">
                            <a href="#" class="on">1</a>
                            <a href="#">2</a>
                        </span>
                        <span class="prev"><a href="#">다음&gt;</a></span>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="#">서비스소개</a>
                </li>
                <li>
                    <a href="#">서비스이용약관</a>
                </li>
                <li>
                    <a href="#">책임의한계와법적고지</a>
                </li>
                <li>
                    <a href="#">사이트맵</a>
                </li>
            </ul>
            <div>
                <p>
                    <img src="/swiftER/img/swifter_logo.png" alt="logo" class="footerLogoImage">
                </p>
                <p>
                    <strong>swiftER</strong>
                    <br>
                    부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)
                    <br>
                    대표이사 : 홍길동
                    <br>
                    사업자등록번호 : 220-81-83676
                    <br>
                    통신판매업신고 : 강남 10630호 Fax : 02-589-8842
                </p>
                <p>
                    <strong>고객센터</strong>
                    <br>
                    Tel : 1234-5678 (평일 09:00~18:00)
                    <br>
                    스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
                    <br>
                    경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층
                    <br>
                    Fax : 051-123-4567 | Mail : kmarket@kmarket.co.kr
                </p>
            </div>
        </footer>
    </div>    
</body>
</html>