<th:block th:insert="~{@{_header.html}}"/>
        <main id="search">
            <section class="Detail">
                 <div class="ErInfo">
                    <nav>
                        <h1 id="hospi_name"></h1>
                    </nav>
                    <article class="part1">
                    <input type="hidden" name="hpid" th:value="${code}"/>
                        <article>
                            <div class="border1">
                                <h2>위치</h2>
                            </div>
                            <div class="border2"></div>
                            <p id="addr">
                            </p>
                        </article>
                        <article>
                            <div class="border1"><h2>진료과목</h2></div>
                            <div class="border2"></div>
                            <p id="dep">
                            </p>
                        </article>
                        <article>
                            <div class="border1"><h2>찾아오시는 길</h2></div>
                            <div class="border2"></div>
                            <p id="etc">
                            </p>
                        </article>
                    </article>
                    <article class="part2">
                        <div>
                            <nav><h2>연락처 정보</h2></nav>
                            <nav>
                                <span id="tel"></span><br/>
                                <span id="etc1"></span>
                            </nav>
                        </div>
                    </article>
                 </div>
                 <article class="review">
                    <nav><h1>고객님의 의견을 들려주세요</h1></nav>
                    <th:block th:unless="${#strings.isEmpty(reviews)}">
					    <ul>
					        <th:block th:each="review : ${reviews}">
					            <li>
					                <div>
					                    <h5 class="rating star" th:attrappend="class=${review.rating}">별점</h5>
					                    <span>[[${review.member_uid.substring(0,3)}]]**** / 작성일 [[${review.rdate}]]</span>
					                </div>
					                <p th:text="${review.title}" class="tit">
					                </p>
					                <p th:text="${review.content}" class="cont">
					                </p>
					            </li>
					        </th:block>
					    </ul>
					</th:block>
                    <th:block th:if="${#strings.isEmpty(reviews)}">
                    	<p class="none">해당 병원의 리뷰가 없습니다. 리뷰를 등록해 주세요!</p>
                    </th:block>
                    <div class="write">
                        <div>
                            <a href="#" class="reviewbtn">리뷰 작성</a>
                        </div>
                    </div>
                    
                    <div class="paging">
                    <th:block th:unless="${#strings.isEmpty(reviews)}">
                        <th:block th:if="${groups[0] > 1}">
			                <a th:href="@{/er/erDetail(code=${code},city=${city},town=${town},pg=${groups[0]- 1}))}" class="prev">이전</a>
			            </th:block>
			            <th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
			                <a th:href="@{/er/erDetail(code=${code},city=${city},town=${town},pg=${num})}" th:class="${num == currentPage ? 'num current' : 'num'}">[[${num}]]</a>
			            </th:block>
			            <th:block th:if="${groups[1] < lastPage}">
			                <a th:href="@{/er/erDetail(code=${code},city=${city},town=${town},pg=${groups[1] + 1}))}" class="next">다음</a>
			            </th:block>
	           		</th:block>	
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <ul>
                <li><a href="#">서비스소개</a></li>
                <li><a href="#">서비스이용약관</a></li>
                <li><a href="#">책임의한계와법적고지</a></li>
                <li><a href="#">사이트맵</a></li>
            </ul>
            <div>
                <p><img src="/swiftER/img/swifter_logo.png" alt="logo" class="footerLogoImage"></p>
                <p>
                    <strong>swiftER</strong>
                    <br>
                    부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)
                    <br>
                    대표이사 : 홍길동
                    <br>
                    사업자등록번호 : 220-81-83676
                    <br>
                    통신판매업신고 : 강남 10630호 Fax : 02-589-8842
                </p>
                <p>
                    <strong>고객센터</strong>
                    <br>
                    Tel : 1234-5678 (평일 09:00~18:00)
                    <br>
                    스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
                    <br>
                    경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층
                    <br>
                    Fax : 051-123-4567 | Mail : kmarket@kmarket.co.kr
                </p>
            </div>
            <div id="popReview" class="popup">
                <div>
                    <nav>
                        <h2>리뷰 작성하기</h2>
                        <button id="btnClose" class="btnClose">X</button>
                    </nav>
                    <section>
                        <form id="form" th:action="@{/er/erReview}" method="POST">
                        	<div id="hide">
                        		<input type="hidden" name="uid" th:value="${uid}">
                        		<input type="hidden" name="pg" th:value="${pg}">
                        		<input type="hidden" name="code" th:value="${code}">
                        		<input type="hidden" name="city" th:value="${city}">
                        		<input type="hidden" name="town" th:value="${town}">
                        		<input type="hidden" name="region" th:value="${region[0].region_code}">
                        		<input type="hidden" name="subregion" th:value="${subregion[0].subregion_code}">
                        	</div>
                            <table border="0">
                                <tr>
                                    <th>제목</th>
                                    <td><textarea class="title" name="title" placeholder="제목 입력"></textarea></td>
                                </tr>
                                <tr>
                                    <th>만족도</th>
                                    <td class="rating">
                                        <div class="my-rating"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td><textarea class="content" name="content" placeholder="내용 입력"></textarea></td>
                                </tr>
                            </table>
                            <div>
                                <input type="button" class="btnPositive" value="작성하기">
                                <button id="btnClose" class="btnNegative btnClose">취소</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </footer>
    </div>
    <script src="/swiftER/js/erDetail.js"></script>
    <script src="/swiftER/js/rating.js"></script>
    <script src="/swiftER/js/popup.js"></script>
</body>
</html>