/* fontawesome 그라데이션 */
#search i.fa-home{
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
}
/* rating */
#search h6.rating{
    font-size: 11px;
    background-image: url("/swiftER/img/rating_star.png");
    background-repeat: no-repeat;
    background-position: 36px 0px;
    background-size: auto 100%;
}
#search h6.rating.star1{width: 55px;}
#search h6.rating.star2{width: 70px;}
#search h6.rating.star3{width: 85px;}
#search h6.rating.star4{width: 100px;}
#search h6.rating.star5{width: 120px;}

#search h5.rating{
    width: 150px;
    height: 20px;
    font-size: 0px;
    background-image: url("/swiftER/img/ico_rating_star.png");
    background-repeat: no-repeat;
    background-position: 36px 0;
    text-indent: 86px;
}
#search h5.rating.star1{background-position: 0 -40px;}
#search h5.rating.star2{background-position: 0 -80px;}
#search h5.rating.star3{background-position: 0 -120px;}
#search h5.rating.star4{background-position: 0 -160px;}
#search h5.rating.star5{background-position: 0 -200px;}

/* select box css */
select {
    width: 200px; 
    padding: .8em .5em; 
    border: 1px solid #999;
    font-family: inherit;  
    background: url(/화면구현/er/img/0004.jpg) no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {
    display: none;
}
/* 검색 페이지 */
#search > .er{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#search > .er > div.fixed{
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    background-color: #fff;
    border: 1px solid #000;
}

#search > .er > div.selectBox.on{
    left: 110px;
}

#search > .er > a.btnClose.on{
    left: 477px;
    background: url(/화면구현/er/img/hiraMap_close.png) no-repeat;
}
#search > .er > a.btnClose{
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translate(0,-50%);
    width: 35px;
    height: 62px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition-duration: .6s;
}
#search > .er > div.selectBox{
    position: absolute;
    z-index: 998;
    left: -260px;
    top: 0;
    width: 370px;
    height: 100vh;
    border: 1px solid #111;
    border-right: #cdcdcd solid 1px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 12%) 2px 2px 2px;
    transition-duration: .6s;
    overflow: hidden;
}

#search > .er > div > h2{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border-bottom: #f5f5f5 solid 8px;
    line-height: 50px;
    padding: 0 20px;
}
#search > .er > div > form{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#search > .er > div > form > div{
    width: 100%;
    margin: 0 auto;
}
#search > .er > div > form > div > fieldset {
    border: none;   
    margin: 20px;
}
#search > .er > div > form > div > fieldset > legend{
    color: #111;
    font-weight: 700;
    font-size: 17px;
}
#search > .er > div > form > div > fieldset > legend > strong{
    color: #e12828 !important;
}
#search > .er > div > form > div > fieldset.location > select{
    height: 27px;
    border: 1px solid #e2e2e2;
    margin: 5px;

}

#search > .er > div > form > div > fieldset.med-department > li > input[type="checkbox"]{
    visibility: hidden;
}
#search > .er > div > form > div > fieldset.med-department > li > input[type="checkbox"]:checked + label {
    background-image: url(/화면구현/er/img/checkbox_on.png);
}
#search > .er > div > form > div > fieldset.med-department > li > input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 0 4px;
    color: #000;
    background-image: url(/화면구현/er/img/checkbox.png);
    display: inline-block;
}

#search > .er > div > form > div > fieldset.med-department > li {
    float: left;
    width: 50%;
    padding: 5px 2px 0 0;
    list-style: none;
}
#search > .er > div > form > div > fieldset.med-department > li > label{
    font-size: 14px;
    display: inline-block;
    line-height: 25px;
    word-break: break-all;
}
#search > .er > div > form > p{
    background: url(/화면구현/img/swifter_logo_resize.png) 0 20px no-repeat;
    background-size: 50px;
    padding: 20px 0 0 58px;
    color: #666;
    font-size: 12px;
    min-height: 70px;
    word-break: keep-all;
}
#search > .er > div > form > div.btn{
    width: 250px;
    height: 50px;
    margin: 0 auto;
}
#search > .er > div > form > div.btn > input{
    width: 100px;
    height: 40px;
    border: none;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
    margin-top: 7.5px;
}
#search > .er > div > form > div > input.resetBtn{
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
}
#search > .er > div > form > div > input.subBtn{
    background-color: #1b9cff;
    float: right;
}
#search > .er > div.map{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* 맵 크기 값 */
#search > .er > div.map > div.search_map{
    width: 100%;
    height: 100vh;
    border: 1px solid #111;
    margin: 0 auto;
}

#search > .er > div.info{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin: 30px;
}
#search > .er > div.info > p{
    font-size: 15px;
    color: #7f7f7f;
    line-height: 21px;
}

/* 응급실 정보 페이지 */

#search > .Detail{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

#search > .Detail > div.ErInfo{
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
#search > .Detail > div.ErInfo > nav{
    margin: 40px 25px 10px;
}
#search > .Detail > div.ErInfo > nav > h1{
    font-size: 30px;
    font-weight: bold;
}
#search > .Detail > div.ErInfo > article.part1, .part2{
    float: left;
    width: 50%;
    height: 400px;
}
#search > .Detail > div.ErInfo > article.part1{
    width: 50%;
    height: auto;
}
#search > .Detail > div.ErInfo > article.part1 > article{
    position: relative;
    margin: 30px;
}
#search > .Detail > div.ErInfo > article.part1 > article > div.border1{
    width: 180px;
    height: 40px;
    margin-bottom: 10px;
    border:1px solid transparent;
    border-bottom: none;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-image:linear-gradient(#fff, #fff),linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}
#search > .Detail > div.ErInfo > article.part1 > article > div > h2{
    position: relative;
    top: 20px;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    vertical-align: bottom;
}
#search > .Detail > div.ErInfo > article.part1 > article > div.border2{
    position: absolute;
    width: 317px;
    top: 29px;
    right: 29px;
    margin: 10px;
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#search > .Detail > div.ErInfo > article.part1 > article > p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}
#search > .Detail > div.ErInfo > article.part2{
    width: 50%;
    height: auto;
}
#search > .Detail > div.ErInfo > article.part2 > div{
    margin-top: 100px;
}
#search > .Detail > div.ErInfo > article.part2 > div  > nav{
    width: 400px;
    height: auto;
}
#search > .Detail > div.ErInfo > article.part2 > div  > nav > h2{
    font-size: 30px;
    margin: 20px;
}
#search > .Detail > div.ErInfo > article.part2 > div  > nav > span{
    font-size: 17px;
    line-height: 55px;
}
/* 리뷰 */
#search > .Detail > article.review{
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
#search > .Detail > article.review > nav{
    margin: 30px 0 10px;
}
#search > .Detail > article.review > nav > h1{
    font-size: 25px;
    line-height: 75px;
    border-bottom: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#search > .Detail > .review > ul{
    padding: 10px;
    box-sizing: border-box;
}
#search > .Detail > .review > ul > li{
    padding-top: 16px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
}
#search > .Detail > .review > ul > li > div{
    overflow: hidden;
}
#search > .Detail > .review > ul > li > div > h5{
    float: left;
}
#search > .Detail > .review > ul > li > div > span{
    float: right;
    color: #555;
}
#search > .Detail > .review > ul > li > h3{
    color: #555;
    margin-top: 6px;
}
#search > .Detail > .review > ul > li > p{
    width: 100%;
    height: 60px;
    color: #555;
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 10px;
}
#search > .Detail > .review > .write{
    width: 100%;
    margin-top: 10px;
}
#search > .Detail > .review > .write > div{
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(44,233,123,1) 0%, rgba(44,233,123,1) 13%, rgba(1,177,255,1) 100%);
    border: 1px solid #ddd;
}
#search > .Detail > .review > .write > div > a{
    position: absolute;
    top: 10px;
    left: 28px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
#search > .Detail > .review > .paging{
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
#search > .Detail > .review > .paging > .prev{}
#search > .Detail > .review > .paging > .next{}
#search > .Detail > .review > .paging > .num{}
#search > .Detail > .review > .paging > span > a{
    color: #777;
    font-size: 11px;
    letter-spacing: -1px;
}
#search > .Detail > .review > .paging > span > a:hover{
    text-rendering: underline;
}
#search > .Detail > .review > .paging > .num > a{
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#search > .Detail > .review > .paging > .num > a:hover{
    border: 1px solid #454c5f;
    text-decoration: none;
}
#search > .Detail > .review > .paging > .num > a:on{
    color: #fe434c;
    font-weight: bold;
}
