<th:block th:include="@{_header.html}"/>
		<div class="banner">
			<img th:src="@{/img/main_banner.png}">
		</div>
		
		<div class="collection">
			<div class="symptom" onclick="location.href='symptoms/symptoms'">
				<a th:href="@{symptoms/symptoms}">
					<img th:src="@{/img/temperature.png}">
				</a>
				<a th:href="@{symptoms/symptoms}">
					<h2>증상 검색</h2>
				</a>
				<h3>
					현재 증상을 체크하여<br>질병을 유추할 수 있습니다
				</h3>
			</div>
			
			<div class="er"onclick="location.href='er/er'">
				<a th:href="@{er/er}">
					<img th:src="@{/img/hospital.png}">
				</a>
				<a th:href="@{er/er}">
					<h2>응급실 검색</h2>
				</a>	
				<h3>
					주변의 응급실을 조건에<br>맞추어 검색할 수 있습니다
				</h3>
			</div>
			
			<div class="community" onclick="location.href='community/freeList'">
				<a th:href="@{community/freeList}">
					<img th:src="@{/img/conversation.png}">
				</a>
				<a th:href="@{community/freeList}">
					<h2>커뮤니티</h2>
				</a>
				<h3>
					동네 또는 다른 회원들과<br>소통할 수 있습니다
				</h3>
			</div>
		</div>
		<div class="buttonSection">
			<button onclick="location.href='member/terms'">회원가입</button>
			<button onclick="location.href='cs/index'">더 알아보기</button>
		</div>
	</div>
</body>
<th:block th:include="@{_footer.html}"/> 