<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>swiftER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/78ddb08b0c.css" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/img/swifter_logo_head.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/cs.css?v=3}">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div sec:authorize="!isAuthenticated()">
                	<a th:href="@{/index}">HOME</a>
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/terms}">회원가입</a>
                	<a th:href="@{/cs/index}">고객센터</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                	<a th:href="@{/index}">HOME</a>
                	<a th:href="@{/member/myPage}">마이페이지</a>
                	<a th:href="@{/member/logout}">로그아웃</a>
                	<a th:href="@{/cs/index}">고객센터</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="#">
                        <img th:src="@{/img/swifter_logo.png}" alt="logo" class="logoImage">
                    </a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li>
                            <a th:href="@{/symptoms/symptoms}">증상검색</a>
                        </li>
                        <li>
                            <a th:href="@{/er/er}">응급실검색</a>
                        </li>
                        <li>
                            <a href="#">약국검색</a>
                        </li>
                        <li>
                            <a th:href="@{/community/freeList}">커뮤니티</a>
                        </li>
                        <li>
                            <a th:href="@{/cs/index}">고객센터</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
<!-- 
    heyyy!
    <a th:href="@{er/er}">응급실 검색 이동</a>
    <br/>
    <br/>
    <a th:href="@{member/login}">로그인</a>
    <a th:href="@{community/freeList}">커뮤니티</a>
-->
		<div class="banner">
			<img th:src="@{/img/main_banner.png}">
		</div>
		
		<div class="collection">
			<div class="symptom" onclick="location.href='symptoms/symptoms'">
				<a th:href="@{symptoms/symptoms}">
					<img th:src="@{/img/temperature.png}">
				</a>
				<a th:href="@{symptoms/symptoms}">
					<h2>증상 검색</h2>
				</a>
				<h3>
					현재 증상을 체크하여<br>질병을 유추할 수 있습니다
				</h3>
			</div>
			
			<div class="er"onclick="location.href='er/er'">
				<a th:href="@{er/er}">
					<img th:src="@{/img/hospital.png}">
				</a>
				<a th:href="@{er/er}">
					<h2>응급실 검색</h2>
				</a>	
				<h3>
					주변의 응급실을 조건에<br>맞추어 검색할 수 있습니다
				</h3>
			</div>
			
			<div class="community" onclick="location.href='community/freeList'">
				<a th:href="@{community/freeList}">
					<img th:src="@{/img/conversation.png}">
				</a>
				<a th:href="@{community/freeList}">
					<h2>커뮤니티</h2>
				</a>
				<h3>
					동네 또는 다른 회원들과<br>소통할 수 있습니다
				</h3>
			</div>
		</div>
		<div class="buttonSection">
			<button onclick="location.href='member/terms'">회원가입</button>
			<button onclick="location.href='cs/index'">더 알아보기</button>
		</div>
	</div>
</body>
<footer>
            <ul>
                <li>
                    <a href="#">서비스소개</a>
                </li>
                <li>
                    <a href="#">서비스이용약관</a>
                </li>
                <li>
                    <a href="#">책임의한계와법적고지</a>
                </li>
                <li>
                    <a href="#">사이트맵</a>
                </li>
            </ul>
            <div>
                <p>
                    <img th:src="@{/img/swifter_logo.png}" alt="logo" class="footerLogoImage">
                </p>
                <p>
                    <strong>swiftER</strong>
                    <br>
                    부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)
                    <br>
                    대표이사 : 홍길동
                    <br>
                    사업자등록번호 : 220-81-83676
                    <br>
                    통신판매업신고 : 강남 10630호 Fax : 02-589-8842
                </p>
                <p>
                    <strong>고객센터</strong>
                    <br>
                    Tel : 1234-5678 (평일 09:00~18:00)
                    <br>
                    스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
                    <br>
                    경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층
                    <br>
                    Fax : 051-123-4567 | Mail : kmarket@kmarket.co.kr
                </p>
            </div>
        </footer>
</body>
</html>