<th:block th:include="@{admin/admin_header.html}"/>
    <script>
        function searchBar(){
            let bar = document.querySelector('.search-bar');

            bar.classList.toggle('on');
        }

        function revealSubCate(i){
            let subcate = document.querySelectorAll('.subcate')[i];
            let subcateLength = document.querySelectorAll('.subcate').length;

            for(let j =0; j <subcateLength; j++ ){
                document.querySelectorAll('.subcate')[j].classList.remove('on');
            }

            subcate.classList.toggle('on');
        }

        function deleteConfirm(element){
            if(confirm("정말로 삭제하시겠습니까?")){
                location.href = "#";
            }
        }
    </script>
            <div class="admin-content">
                <div class="cs-panel-main shadow">
                    <p>공지사항 보기</p>
                    <form class="admin-cs-form">
                        <table class="admin-cs-form-table">
                            <tr>
                                <td class="key">제목</td>
                                <td>
                                    <input type="text" value="응급실 위치정보 업데이트 안내" class="admin-cs-write-title" readonly>
                                </td>
                                <td class="key">카테고리</td>
                                <td>ER</td>
                            </tr>
                            <tr>
                                <td class="key">첨부파일</td>
                                <td colspan="3">swiftERimg.png</td>
                            </tr>
                            <tr>
                                <td class="key">내용</td>
                                <td colspan="3">
                                    <textarea name="admin-cs-write-content" id="admin-cs-write-content" cols="30" rows="10" readonly>업데이트 예정입니다</textarea>
                                </td>
                            </tr>
                        </table>
                        <div class="admin-cs-control-buttons admin-cs-notice-control-buttons">
                            <input type="button" value="목록으로" class="admin-cs-back-to-list" onclick="location.href='#'">
                            <input type="button" value="수정하기" class="admin-cs-modify-article" onclick="location.href='#'">
                            <input type="button" value="삭제하기" class="admin-cs-delete-article" onclick="deleteConfirm(this)">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>