<th:block th:include="@{admin/admin_header.html}"/>
    <script>
    let i = [[${membersDiff}]];
    console.log(i);
    </script>
            <div class="admin-content">
                <div class="control-panel-main shadow">
                    <p>현황 보고서<span>* <span>[[${today}]]</span> 기준</span></p>
                    <ul>
                        <li class="control-panel-main-item">
                            <ol>
                                <li class="control-panel-main-icon">
                                    <i class="fa-solid fa-user"></i>
                                </li>
                            </ol>
                            <ol>
                                <li>총 회원 수</li>
                                <li>[[${totalMembers}]]명</li>
                                <li>전일 대비
	                                <span th:if="${membersDiff > 0}" class="increase">[[${membersDiff}]]명 </span>
	                                <span th:if="${membersDiff == 0}">- </span>
	                                <span th:if="${membersDiff < 0}" class="decrease">[[${membersDiff}]]명 </span>
	                                <i th:if="${membersDiff > 0}"  class="fa-solid fa-angle-up increase"></i>
	                                <i th:if="${membersDiff == 0}"></i>
	                                <i th:if="${membersDiff < 0}"  class="fa-solid fa-angle-down decrease"></i>
                                </li>
                            </ol>
                        </li>
                        <li class="control-panel-main-item">
                            <ol>
                                <li class="control-panel-main-icon">
                                    <i class="fa-solid fa-hospital-user"></i>
                                </li>
                            </ol>
                            <ol>
                                <li>총 병원 리뷰 수</li>
                                <li>[[${totalERReviews}]]건</li>
                                <li>전일 대비 
	                                <span th:if="${reviewsDiff > 0}" class="increase">[[${reviewsDiff}]]건 </span>
	                                <span th:if="${reviewsDiff == 0}">- </span>
	                                <span th:if="${reviewsDiff < 0}" class="decrease">[[${reviewsDiff}]]건 </span>
	                                <i th:if="${reviewsDiff > 0}"  class="fa-solid fa-angle-up increase"></i>
	                                <i th:if="${reviewsDiff == 0}"></i>
	                                <i th:if="${reviewsDiff < 0}"  class="fa-solid fa-angle-down decrease"></i>
                                </li>
                            </ol>
                        </li>
                        <li class="control-panel-main-item">
                            <ol>
                                <li class="control-panel-main-icon">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                </li>
                            </ol>
                            <ol>
                                <li>총 커뮤니티 작성글 수</li>
                                <li>[[${totalCommunity}]]건</li>
                                <li>전일 대비 
                                	<span th:if="${articlesDiff > 0}" class="increase">[[${articlesDiff}]]건 </span>
	                                <span th:if="${articlesDiff == 0}">- </span>
	                                <span th:if="${articlesDiff < 0}" class="decrease">[[${articlesDiff}]]건 </span>
	                                <i th:if="${articlesDiff > 0}"  class="fa-solid fa-angle-up increase"></i>
	                                <i th:if="${articlesDiff == 0}"></i>
	                                <i th:if="${articlesDiff < 0}"  class="fa-solid fa-angle-down decrease"></i>
                               	</li>
                            </ol>
                        </li>
                    </ul>
                    <p>
                        <a th:href="@{/admin/main}">
                            <input type="button" value="새로고침">
                        </a>
                    </p>
                </div>
                <div class="preview-wrapper">
                    <div class="preview shadow">
                        <p>최근 병원 리뷰</p>
                        <table>
                            <tr th:each="review, index: ${reviews}" th:if="${index.index} < 5">
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>[[${review.hospital_name}]]</td>
                                <td>
                                    <a th:href="@{/admin/er/review/detail?no=__${review.no}__}">[[${review.title}]]</a>
                                </td>
                            </tr>
                        </table>
                        <p class="go-to-list-button">
                            <input type="button" value="리스트 더보기" th:onclick="|location.href='@{/admin/er/review}'|">
                        </p>
                    </div>
                    <div class="preview shadow">
                        <p>최근 커뮤니티 글</p>
                        <table>
                            <tr th:each="article, index: ${communityArticles}" th:if="${index.index} < 5">
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td colspan="2">
                                    <a th:href="@{/admin/community/view?no=__${article.no}__}">[[${article.title}]]</a>
                                </td>
                                <td>[[${article.rdate}]]</td>
                            </tr>
                        </table>
                        <p class="go-to-list-button">
                            <input type="button" value="리스트 더보기" th:onclick="|location.href='@{/admin/community}'|">
                        </p>
                    </div>
                    <div class="preview shadow">
                        <p>최근 문의글</p>
                        <table>
                            <tr th:each="question, index: ${questions}" th:if="${index.index} < 5">
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td colspan="2">
                                    <a th:href="@{/admin/cs/qna/view?no=__${question.no}__}">[[${question.title}]]</a>
                                </td>
                                <td>[[${question.rdate}]]</td>
                            </tr>
                        </table>
                        <p class="go-to-list-button">
                            <input type="button" value="리스트 더보기" th:onclick="|location.href='@{/admin/cs/qna}'|">
                        </p>
                    </div>
            </div>
            </div>
        </main>
    </div>
</body>
</html>