<th:block th:include="@{admin/admin_header.html}"/>
    <script>
        function searchBar(){
            let bar = document.querySelector('.search-bar');

            bar.classList.toggle('on');
        }

        function revealSubCate(i){
            let subcate = document.querySelectorAll('.subcate')[i];
            let subcateLength = document.querySelectorAll('.subcate').length;

            for(let j =0; j <subcateLength; j++ ){
                document.querySelectorAll('.subcate')[j].classList.remove('on');
            }

            subcate.classList.toggle('on');
        }

        function numHightlight(i){
            let num = document.querySelectorAll(".num")[i];
            let numLength = document.querySelectorAll(".num").length;

            for(let j =0; j < numLength; j++){
                document.querySelectorAll(".num")[j].classList.remove('on');    
            }

            num.classList.add('on');
        }

        function numHightlight2(i){
            let num = document.querySelectorAll(".num2")[i];
            let numLength = document.querySelectorAll(".num2").length;

            for(let j =0; j < numLength; j++){
                document.querySelectorAll(".num2")[j].classList.remove('on');    
            }

            num.classList.add('on');
        }

        function modifyMember(element){
            let details = document.querySelectorAll(".member-detail");

            if(element.value === '수정하기'){

                for(let i=0; i < details.length; i++){
                    console.log(document.querySelectorAll(".member-detail")[i]);
                    document.querySelectorAll(".member-detail")[i].removeAttribute('readonly');
                    document.querySelectorAll(".member-detail")[i].style.border = '1px solid #333';
                }

                element.value = "저장하기";
            }else{

                for(let i=0; i < details.length; i++){
                    document.querySelectorAll(".member-detail")[i].readOnly = true;
                    document.querySelectorAll(".member-detail")[i].style.border = 'none';
                }

                element.value = "수정하기";
            }
        }

        function permaBan(element){
            if(confirm("정말 탈퇴시키시겠습니까?")){
                location.href = "#";
            }

        }
    </script>
            <div class="admin-content">
                <div class="member-view-panel-main shadow">
                    <p>회원 정보</p>
                    <div class="member-view-table-wrapper">
                        <table class="member-view-table">
                            <tr>
                                <td class="key">아이디</td>
                                <td><input type="text" value="test10" readonly class="member-detail"></td>
                                <td class="key">이름</td>
                                <td><input type="text" value="김의사" readonly class="member-detail"></td>
                                <td class="key">별명</td>
                                <td><input type="text" value="김닥터" readonly class="member-detail"></td>
                            </tr>
                            <tr>
                                <td class="key">생년월일</td>
                                <td>94.05.23</td>
                                <td class="key">가입날짜</td>
                                <td>23.03.10</td>
                                <td class="key">탈퇴날짜</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="key" rowspan="2">연락처</td>
                                <td class="key">전화번호</td>
                                <td><input type="text" value="010-2234-3434" readonly class="member-detail"></td>
                                <td class="key" rowspan="2">&nbsp;&nbsp;주소</td>
                                <td colspan="2"><input type="text" value=" 23432 부산광역시 광복로 21번길 35" readonly class="member-detail"></td>
                            </tr>
                            <tr>
                                <td class="key">이메일</td>
                                <td><input type="text" value="test10@gmail.com" readonly class="member-detail"></td>
                                <td colspan="2"><input type="text" value=" 405동 1011호 " readonly class="member-detail"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="member-view-panel-main doc-member-panel shadow">
                    <p>의사 회원 전용</p>
                    <div class="member-view-table-wrapper doc-member">
                        <table class="member-view-table doc-member">
                            <tr>
                                <td class="key">면허 번호</td>
                                <td><input type="text" value="234321" readonly></td>
                                <td class="key">전문과</td>
                                <td><input type="text" value="흉부외과" readonly></td>
                                <td class="key">인증여부</td>
                                <td>보류 <input type="button" value="승인하기" class="verify-doc"></td>
                            </tr>
                            <tr>
                                <td class="key">인증서</td>
                                <td><input type="text" value="test10_cert.jpeg" readonly></td>
                                <td class="key">관리자 인증 메시지</td>
                                <td colspan="3"><input type="text" value="면허 번호가 보이게 다시 촬영해서 업로드 부탁드립니다" readonly></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="control-buttons">
                    <input type="button" value="목록으로" class="back-to-member-list" onclick="location.href='#'">
                    <input type="button" value="수정하기" class="modify-member" onclick="modifyMember(this)">
                    <input type="button" value="탈퇴시키기" class="modify-member" onclick="permaBan(this)">
                </div>
            </div>
        </main>
    </div>
</body>
</html>