<th:block th:include="@{admin/admin_header.html}"/>
<script th:src="@{/js/ckeditor/ckeditor.js}"></script>
    <script>
        function textFocus(element){
            textFocus = function(){}; // 단 한 번만 실행되도록 실행 직후 빈 함수로 교체
            element.value = "";
            element.style.color = "black";
        }

        function titleFocus(element){
            titleFocus = function(){}; // 단 한 번만 실행되도록 실행 직후 빈 함수로 교체
            element.value = "";
            element.style.color = "black";
        }
        
        window.onload = () =>{
        	// CKEditor 삽입
        	CKEDITOR.replace('admin-cs-write-content', {
    			filebrowserUploadMethod : 'form'
    		});
        }
    </script>
            <div class="admin-content">
                <div class="cs-panel-main shadow">
                    <p>공지사항 작성하기</p>
                    <form class="admin-cs-form" th:action="@{/admin/cs/notice/write}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="cateCode" value="1">
                        <table class="admin-cs-form-table">
                            <tr>
                                <td class="key">제목</td>
                                <td>
                                    <input type="text" value="제목을 입력하세요" class="admin-cs-write-title text-gray" onfocus="titleFocus(this)" name="title">
                                </td>
                                <td class="key">카테고리</td>
                                <td>
                                    <select name="subcateCode" id="cs-cate">
                                        <option value="10">회원정보</option>
                                        <option value="20">증상검색</option>
                                        <option value="30">응급실검색</option>
                                        <option value="40">커뮤니티</option>
                                        <option value="50">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="key">첨부파일</td>
                                <td colspan="3">
                                    <input type="file" class="admin-cs-write-file" name="fname" multiple>
                                </td>
                            </tr>
                            <tr>
                                <td class="key">내용</td>
                                <td colspan="3">
                                    <textarea name="content" class="text-gray" id="admin-cs-write-content" cols="30" rows="10" onfocus="textFocus(this)"></textarea>
                                </td>
                            </tr>
                        </table>
                        <div class="admin-cs-control-buttons">
                            <input type="button" value="목록으로" class="admin-cs-back-to-list" th:onclick="|location.href='@{/admin/cs/notice}'|">
                            <input type="submit" value="작성완료" class="admin-cs-modify-article" onclick="location.href='#'">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>