<th:block th:include="@{admin/admin_header.html}"/>
<script th:src="@{/js/ckeditor/ckeditor.js}"></script>
    <script>
        function deleteConfirm(element){
            if(confirm("정말로 삭제하시겠습니까?")){
            	let checkedNo = [];
 	            let no = [[${article.no}]];
 	            checkedNo.push(no);
 	            
 	        	// ajax로 delete 컨트롤러로 배열 보내기
 	        	let headers = new Headers();
 	            headers.append("Content-Type", "application/json; charset=utf-8");
 	        	fetch("/swiftER/admin/cs/delete?checkedNo=" + checkedNo, {headers:headers, method:"GET"})
 	        	.then(response => response.json())
 	        	.then(function(json){
 	        		location.href = "/swiftER/admin/cs/qna";
 	        	})
 	        	.catch(err => console.error(err));
            }
        }
        
        function deleteFile(fno){
        	// 사용자가 이미 업로드한 파일 중 삭제 버튼을 누른 파일값이 담긴 input 태그를 삭제 => 폼 submit시 삭제 파일 제외
        	let uploadedFile = document.getElementsByClassName('uploadedFile');
        	let length = uploadedFile.length;
        	
        	for(let i =0; i < length; i++){
        		if(uploadedFile[i].value === fno){
        			uploadedFile[i].parentElement.remove();
        		}
        	}
        }
        
        window.onload = function(){
        	document.body.style.height = 'auto'; // body를 지정해 height를 auto로
            document.documentElement.style.height = 'auto'; // html을 지정해 height를 auto로 해야 overflow-y: auto 했을 때 요소 안이 아닌 화면에 세로 스크롤이 생김
            
        	 // CKEditor 삽입
        	CKEDITOR.replace('admin-cs-answer-content', {
    			filebrowserUploadMethod : 'form'
    		});
        }
    </script>
            <div class="admin-content">
                <div class="cs-panel-main shadow">
                    <p>QnA 보기</p>
                    <form class="admin-cs-form" th:action="@{/admin/cs/qna/write}" method="post" enctype="multipart/form-data">
                    	<input type="hidden" name="qno" th:value="${article.no}">
                    	<input type="hidden" name="answer" th:value="${article.answer}">
                    	<input type="hidden" name="cateCode" value="3">
                    	<input type="hidden" name="subcateCode" th:value="${article.subcateCode}">
                    	<input type="hidden" name="file" th:value="${answer.file}">
                        <table class="admin-cs-form-table">
                            <tr>
                                <td class="key">제목</td>
                                <td>
                                    <input type="text" name="title" th:value="${article.title}" class="admin-cs-write-title" readonly>
                                </td>
                                <td class="key">카테고리</td>
                                <td>[[${article.subcate}]]</td>
                            </tr>
                            <tr>
                               	<td class="key admin-cs-qna-write-td-key" rowspan="3">첨부파일</td>
                                <th:block th:if="${files != null}">
                                	<td colspan="3"> <span>질문자 |</span>
                                		<th:block th:each="file, status:${files}">
                                			<a th:href="@{/download(parent=${article.no}, num=${status.index})}">[[${file.oriName}]]&nbsp;</a>
                                		</th:block>
                                	</td>
                                </th:block>
                            </tr>
                            <tr>
                                <td colspan="3" class="admin_cs_qna_write_td"  th:if="${answerFiles != null}"> <span>관리자 |</span>
                                	<th:block th:each="answerFile, status:${answerFiles}">
                                		<div style="display:inline-block;">
	                               			<a th:href="@{/download(parent=${answer.no}, num=${status.index})}">[[${answerFile.oriName}]]</a> <a href="#" th:fno="${answerFile.fno}" onclick="deleteFile(this.getAttribute('fno'))"><span class="delete-file">삭제</span></a>&nbsp;
	                               			<input type="hidden" name="uploadedFile" class="uploadedFile" th:value="${answerFile.fno}">
	                               		</div>
                               		</th:block>
                                </td>
                            </tr>
                            <tr>
                            	<td colspan="3">
                            		<input type="file" class="admin-cs-write-file admin_cs_qna_write_td" name="fname" multiple>
                            	</td>
                            </tr>
                            <tr>
                                <td class="key">내용</td>
                                <td colspan="3" class="admin_cs_qna_write_td">
                                    [(${article.content})]
                                </td>
                            </tr>
                            <tr class="admin-cs-answer">
                                <td class="key">답변</td>
                                <td colspan="3">
                                    <textarea name="content" id="admin-cs-answer-content" cols="30" rows="10">
                                    	<th:block th:if="${answer != null}">[(${answer.content})]</th:block>
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <div class="admin-cs-control-buttons admin-cs-qna-control-buttons">
                            <input type="button" value="목록으로" class="admin-cs-back-to-list" th:onclick="|location.href='@{/admin/cs/qna}'|">
                            <input type="submit" value="답변완료" class="admin-cs-modify-article" onclick="location.href='#'">
                            <input type="button" value="삭제하기" class="admin-cs-delete-article" onclick="deleteConfirm()">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>