<th:block th:include="@{admin/admin_header.html}"/>
    <script>
        function searchBar(){
            let bar = document.querySelector('.search-bar');

            bar.classList.toggle('on');
        }

        function revealSubCate(i){
            let subcate = document.querySelectorAll('.subcate')[i];
            let subcateLength = document.querySelectorAll('.subcate').length;

            for(let j =0; j <subcateLength; j++ ){
                document.querySelectorAll('.subcate')[j].classList.remove('on');
            }

            subcate.classList.toggle('on');
        }
    </script>
            <div class="admin-content">
                <div class="control-panel-main shadow">
                    <p>현황 보고서<span>* <span>2023-03-10</span> 기준</span></p>
                    <ul>
                        <li class="control-panel-main-item">
                            <ol>
                                <li class="control-panel-main-icon">
                                    <i class="fa-solid fa-user"></i>
                                </li>
                            </ol>
                            <ol>
                                <li>총 회원 수</li>
                                <li>30명</li>
                                <li>전일 대비 <span class="decrease">3명 </span><i class="fa-solid fa-angle-down decrease"></i></li>
                            </ol>
                        </li>
                        <li class="control-panel-main-item">
                            <ol>
                                <li class="control-panel-main-icon">
                                    <i class="fa-solid fa-hospital-user"></i>
                                </li>
                            </ol>
                            <ol>
                                <li>총 병원 리뷰 수</li>
                                <li>100건</li>
                                <li>전일 대비 <span class="increase">5건 </span><i class="fa-solid fa-angle-up increase"></i></li>
                            </ol>
                        </li>
                        <li class="control-panel-main-item">
                            <ol>
                                <li class="control-panel-main-icon">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                </li>
                            </ol>
                            <ol>
                                <li>총 커뮤니티 작성글 수</li>
                                <li>1500건</li>
                                <li>전일 대비 <span class="increase">50건 </span><i class="fa-solid fa-angle-up increase"></i></li>
                            </ol>
                        </li>
                    </ul>
                    <p>
                        <a href="#">
                            <input type="button" value="보고서 상세보기">
                        </a>
                    </p>
                </div>
                <div class="preview-wrapper">
                    <div class="preview shadow">
                        <p>최근 병원 리뷰</p>
                        <table>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                        </table>
                        <p class="go-to-list-button">
                            <input type="button" value="리스트 더보기" onclick="location.href='#'">
                        </p>
                    </div>
                    <div class="preview shadow">
                        <p>최근 커뮤니티 글</p>
                        <table>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                        </table>
                        <p class="go-to-list-button">
                            <input type="button" value="리스트 더보기" onclick="location.href='#'">
                        </p>
                    </div>
                    <div class="preview shadow">
                        <p>최근 문의글</p>
                        <table>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-angle-right"></i></td>
                                <td>한사랑병원</td>
                                <td>
                                    <a href="#">화장실만 조금 더 청결하면 더 좋을 것 같아요</a>
                                </td>
                                <td>23.03.10</td>
                            </tr>
                        </table>
                        <p class="go-to-list-button">
                            <input type="button" value="리스트 더보기" onclick="location.href='#'">
                        </p>
                    </div>
            </div>
            </div>
        </main>
    </div>
</body>
</html>