<th:block th:include="@{admin/admin_header.html}"/>
    <script>
        function deleteConfirm(element){
            if(confirm("정말로 삭제하시겠습니까?")){
            	let checkedNo = [];
                let no = [[${review.no}]];
                checkedNo.push(no);
                
            	// ajax로 delete 컨트롤러로 배열 보내기
            	let headers = new Headers();
                headers.append("Content-Type", "application/json; charset=utf-8");
            	fetch("/swiftER/admin/er/delete?checkedNo=" + checkedNo, {headers:headers, method:"GET"})
            	.then(response => response.json())
            	.then(function(json){
            		location.href = "/swiftER/admin/er/review";
            	})
            	.catch(err => console.error(err));
            }
        }

    </script>
            <div class="admin-content">
                <div class="erReview-panel-main shadow">
                    <p>리뷰 보기</p>
                    <div>
                        <table class="admin-erReview-table">
                            <tr>
                                <td class="key" colspan="3">지역 </td>
                                <td>[[${cates[0]}]]-[[${cates[1]}]]</td>
                                <td class="key" colspan="1">병원명</td>
                                <td>[[${review.hospital_name}]]</td>
                                <td class="key">작성자</td>
                                <td>[[${review.member_uid}]]</td>
                                <td class="key">작성일자</td>
                                <td>[[${review.rdate}]]</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="key" colspan="2">제목</td>
                                <td colspan="6">
                                    [[${review.title}]]
                                </td>
                            </tr>
                            <tr>
                                <td class="key" colspan="2">내용</td>
                                <td colspan="6">
                                    <textarea name="admin-erReview-content" id="admin-erReview-content" cols="40" rows="10" readonly>[[${review.content}]]</textarea>
                                </td>
                            </tr>
                        </table>
                        <div class="admin-erReview-control-buttons">
                            <input type="button" value="목록으로" class="admin-erReview-back-to-list" th:onclick="|location.href='@{/admin/er/review}'|">
                            <input type="button" value="삭제하기" class="admin-erReview-delete-article" onclick="deleteConfirm()">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>