<th:block th:include="@{admin/admin_header.html}"/>
    <script>
        function searchBar(){
            let bar = document.querySelector('.search-bar');

            bar.classList.toggle('on');
        }

        function revealSubCate(i){
            let subcate = document.querySelectorAll('.subcate')[i];
            let subcateLength = document.querySelectorAll('.subcate').length;

            for(let j =0; j <subcateLength; j++ ){
                document.querySelectorAll('.subcate')[j].classList.remove('on');
            }

            subcate.classList.toggle('on');
        }

        function numHightlight(i){
                let num = document.querySelectorAll(".num")[i];
                let numLength = document.querySelectorAll(".num").length;

                for(let j =0; j < numLength; j++){
                    document.querySelectorAll(".num")[j].classList.remove('on');    
                }

                num.classList.add('on');
            }

        function numHightlight2(i){
                let num = document.querySelectorAll(".num2")[i];
                let numLength = document.querySelectorAll(".num2").length;

                for(let j =0; j < numLength; j++){
                    document.querySelectorAll(".num2")[j].classList.remove('on');    
                }

                num.classList.add('on');
            }
    </script>
            <div class="admin-content">
                <div class="member-panel-main shadow">
                    <p>회원 리스트</p>
                    <div class="member-table-wrapper">
                        <table class="member-table">
                            <tr>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>등급</th>
                                <th>이름</th>
                                <th>가입일자</th>
                                <th></th>
                            </tr>
                            <tr th:each="member, status:${members}">
                                <td>[[${status.index + 1}]]</td>
                                <td>[[${member.member.uid}]]</td>
                                <th:block th:switch="${member.member.grade}">
                                	<td th:case="0">관리자</td>
                                	<td th:case="1">일반</td>
                                	<td th:case="2">의사</td>
                                	<td th:case="3">탈퇴</td>
                                </th:block>
                                <td>[[${member.member.name}]]</td>
                                <td>[[${member.member.rdate}]]</td>
                                <td>
                                    <input type="button" value="상세보기" class="details-button" th:onclick="|location.href='@{/admin/member/view?(uid=${member.member.uid})}'|">
                                </td>
                            </tr>
                        </table>
                        <div class="member-list-table-buttons">
                            <input type="button" value="이전" class="before">
                            <input type="button" value="1" class="num" onclick="numHightlight(0)">
                            <input type="button" value="2" class="num" onclick="numHightlight(1)">
                            <input type="button" value="3" class="num" onclick="numHightlight(2)">
                            <input type="button" value="4" class="num" onclick="numHightlight(3)">
                            <input type="button" value="5" class="num" onclick="numHightlight(4)">
                            <input type="button" value="6" class="num" onclick="numHightlight(5)">
                            <input type="button" value="7" class="num" onclick="numHightlight(6)">
                            <input type="button" value="8" class="num" onclick="numHightlight(7)">
                            <input type="button" value="9" class="num" onclick="numHightlight(8)">
                            <input type="button" value="10" class="num" onclick="numHightlight(9)">
                            <input type="button" value="다음" class="next">
                        </div>
                    </div>
                </div>
                <div class="member-panel-main pending-requests shadow">
                    <p>인증 대기 리스트</p>
                    <div class="pending-requests-table-wrapper">
                        <table class="pending-requests-table member-table">
                            <tr>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>가입일자</th>
                                <th></th>
                            </tr>
                            <th:block th:each="member, status:${members}">
	                            <tr th:if="${member.doctor != null and member.doctor.verified == 0}">
	                                <td>[[${status.index}]]</td>
	                                <td>[[${member.member.uid}]]</td>
	                                <td>[[${member.member.name}]]</td>
	                                <td>[[${member.member.rdate}]]</td>
	                                <td>
	                                    <input type="button" value="상세보기" class="details-button" th:onclick="|location.href='@{/admin/member/view?(uid=${member.member.uid})}'|">
	                                </td>
	                            </tr>
                            </th:block>
                        </table>
                        <div class="member-list-table-buttons">
                            <input type="button" value="이전" class="before">
                            <input type="button" value="1" class="num2" onclick="numHightlight2(0)">
                            <input type="button" value="2" class="num2" onclick="numHightlight2(1)">
                            <input type="button" value="3" class="num2" onclick="numHightlight2(2)">
                            <input type="button" value="4" class="num2" onclick="numHightlight2(3)">
                            <input type="button" value="5" class="num2" onclick="numHightlight2(4)">
                            <input type="button" value="6" class="num2" onclick="numHightlight2(5)">
                            <input type="button" value="7" class="num2" onclick="numHightlight2(6)">
                            <input type="button" value="8" class="num2" onclick="numHightlight2(7)">
                            <input type="button" value="9" class="num2" onclick="numHightlight2(8)">
                            <input type="button" value="10" class="num2" onclick="numHightlight2(9)">
                            <input type="button" value="다음" class="next">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>