<th:block th:include="@{admin/admin_header.html}"/>
    <script>
    </script>
            <div class="admin-content">
                <div class="community-panel-main shadow">
                    <p>검색 결과</p>
                    <div class="community-table-wrapper">
                        <table class="community-table">
                        	<tr>
                        		<td>제목</td>
                        	</tr>
                        	<tr>
                        		<td>내용</td>
                        	</tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>