<th:block th:include="@{admin/admin_header.html}"/>
    <script>
	    let headers = new Headers();
	    headers.append("Content-Type", "application/json; charset=utf-8");
    
        function searchBar(){
            let bar = document.querySelector('.search-bar');

            bar.classList.toggle('on');
        }

        function revealSubCate(i){
            let subcate = document.querySelectorAll('.subcate')[i];
            let subcateLength = document.querySelectorAll('.subcate').length;

            for(let j =0; j <subcateLength; j++ ){
                document.querySelectorAll('.subcate')[j].classList.remove('on');
            }

            subcate.classList.toggle('on');
        }

        function numHightlight(i){
            let num = document.querySelectorAll(".num")[i];
            let numLength = document.querySelectorAll(".num").length;

            for(let j =0; j < numLength; j++){
                document.querySelectorAll(".num")[j].classList.remove('on');    
            }

            num.classList.add('on');
        }

        function numHightlight2(i){
            let num = document.querySelectorAll(".num2")[i];
            let numLength = document.querySelectorAll(".num2").length;

            for(let j =0; j < numLength; j++){
                document.querySelectorAll(".num2")[j].classList.remove('on');    
            }

            num.classList.add('on');
        }

        function modifyMember(element){
            let details = document.querySelectorAll(".member-detail");
            let zip = details[3].value.substring(0, 6);
            let addr1 = details[3].value.substring(6);
            
            if(element.value === '수정하기'){

                for(let i=0; i < details.length; i++){
                    console.log(document.querySelectorAll(".member-detail")[i]);
                    document.querySelectorAll(".member-detail")[i].removeAttribute('readonly');
                    document.querySelectorAll(".member-detail")[i].style.border = '1px solid #333';
                }

                element.value = "저장하기";
            }else{

                for(let i=0; i < details.length; i++){
                    document.querySelectorAll(".member-detail")[i].readOnly = true;
                    document.querySelectorAll(".member-detail")[i].style.border = 'none';
                }
                
                // 수정 사항 DB에 저장하기
                fetch("/swiftER/admin/member/modify", {
                	method: 'POST',
                	headers: {
                		"Content-Type": "application/json; charset=utf-8",
                	},
                	body: JSON.stringify({
                		uid: document.querySelector('.member-uid').value,
                		name: details[0].value,
                		nickname: details[1].value,
                		contact : details[2].value,
                		zip: zip,
                		addr1: addr1,
                		email: details[4].value,
                		addr2: details[5].value,
                		veriMsg: document.querySelector('.veriMsg').value
                	}),
                }).then(response => response.json())
                .then(function(json){
                	alert(1);
                })

                element.value = "수정하기";
            }
        }

        function permaBan(uid){
            if(confirm("정말 영구 정지시키시겠습니까?")){
                fetch("/swiftER/admin/member/ban?uid=" + uid, {headers:headers, method:"GET"})
                .then(response => response.json())
                .then(function(json){
                	if(json.result == 1){
                		alert(uid + '님을 성공적으로 영구 정지하였습니다');
                		location.href = "/swiftER/admin/member";
                	}else{
                		alert('작업에 실패하였습니다. 다시 시도해주세요');
                	}
                })
                .catch(err => console.error(err));
            }

        }
        
        function certPopup(uid){
        	let width = 800;
        	let height = 700;
        	let left = screen.width/2 - width/2;
        	let top = screen.width/2 - height/2;
        	window.open("/swiftER/admin/member/popup?uid=" + uid, "certificate", 'width='+width+', height='+height+', top='+top+', left='+left);
        }
        
        function certVerify(uid){
        	let verifyState = document.querySelector('.verifyState').innerText; // 회원의 현재 승인 상태

        	if(verifyState !== '인증 완료'){
        		if(confirm('승인하시겠습니까?')){
                    fetch("/swiftER/admin/member/verify?uid=" + uid + "&status=2", {headers:headers, method:"GET"})
            		.then(response => response.json())
            		.then(function(json){
            			if(json.result > 0){
            				alert(uid + '님의 인증을 승인하였습니다');
            			}
            		})
            		.catch(err => console.error(err));
                    
                    location.href = "/swiftER/admin/member/view?uid=" + uid;
                    
            	}else{
                    fetch("/swiftER/admin/member/verify?uid=" + uid + "&status=1", {headers:headers, method:"GET"})
            		.then(response => response.json())
            		.then(function(json){
            			if(json.result > 0){
            				alert(uid + '님의 인증을 보류하였습니다');
            			}
            		})
            		.catch(err => console.error(err));
                    
                    location.href = "/swiftER/admin/member/view?uid=" + uid;
            	}
        	}else{
        		alert('이미 인증이 완료된 회원입니다');	
        	}
        }
        
        window.onload = () =>{
        	let verifyState = document.querySelector('.verifyState').innerText; // 회원의 현재 승인 상태
        	
        	if(verifyState === '인증 완료'){
        		document.querySelector('.veriMsg').style.color = 'grey';
        	}
        }
    </script>
            <div class="admin-content">
                <div class="member-view-panel-main shadow">
                    <p>회원 정보</p>
                    <div class="member-view-table-wrapper">
                        <table class="member-view-table">
                            <tr>
                                <td class="key">아이디</td>
                                <td><input type="text" th:value="${member.member.uid}" readonly class="member-uid"></td>
                                <td class="key">이름</td>
                                <td><input type="text" th:value="${member.member.name}" readonly class="member-detail"></td>
                                <td class="key">별명</td>
                                <td><input type="text" th:value="${member.member.nickname}" readonly class="member-detail"></td>
                            </tr>
                            <tr>
                                <td class="key">생년월일</td>
                                <td>[[${member.member.birth}]]</td>
                                <td class="key">가입날짜</td>
                                <td>[[${member.member.rdate}]]</td>
                                <td class="key">탈퇴날짜</td>
                                <td>[[${member.member.wdate}]]</td>
                            </tr>
                            <tr>
                                <td class="key" rowspan="2">연락처</td>
                                <td class="key">전화번호</td>
                                <td><input type="text" th:value="${member.member.contact}" readonly class="member-detail"></td>
                                <td class="key" rowspan="2">&nbsp;&nbsp;주소</td>
                                <td colspan="2"><input type="text" th:value="${member.member.zip + '  '+ member.member.addr1}" readonly class="member-detail"></td>
                            </tr>
                            <tr>
                                <td class="key">이메일</td>
                                <td><input type="text" th:value="${member.member.email}" readonly class="member-detail"></td>
                                <td colspan="2"><input type="text" th:value="${member.member.addr2}" readonly class="member-detail"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="member-view-panel-main doc-member-panel shadow" th:if="${member.doctor != null}">
                    <p>의사 회원 전용</p>
                    <div class="member-view-table-wrapper doc-member">
                        <table class="member-view-table doc-member">
                            <tr>
                                <td class="key">면허 번호</td>
                                <td><input type="text" value="234321" readonly></td>
                                <td class="key">전문과</td>
                                <td><input type="text" th:value="${member.doctor.kind}" readonly></td>
                                <td class="key">인증여부</td>
                                <td>
                                	<th:block th:switch="${member.doctor.verified}">
                                		<span th:case="0" class="verifyState">승인 대기</span>
                                		<span th:case="1" class="verifyState">승인 보류</span>
                                		<span th:case="2" class="verifyState">인증 완료</span>
                                	</th:block>
									<input type="button" value="승인하기" class="verify-doc" th:uid="${member.member.uid}" th:onclick="certVerify(this.getAttribute('uid'))">
								</td>
                            </tr>
                            <tr>
                                <td class="key">인증서</td>
                                <td><a href="#"  th:uid="${member.member.uid}" onclick="certPopup(this.getAttribute('uid'))">[[${member.doctor.cert_oriName}]]</a></td>
                                <td class="key">관리자 인증 메시지</td>
                                <td colspan="3"><input type="text" th:value="${member.doctor.veriMsg}" readonly class="member-detail veriMsg"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="control-buttons">
                    <input type="button" value="목록으로" class="back-to-member-list" th:onclick="|location.href='@{/admin/member}'|">
                    <input type="button" value="수정하기" class="modify-member" onclick="modifyMember(this)">
                    <input type="button" value="탈퇴시키기" class="modify-member" th:uid="${member.member.uid}" th:onclick="permaBan(this.getAttribute('uid'))">
                </div>
            </div>
        </main>
    </div>
</body>
</html>