<th:block th:include="@{admin/admin_header.html}"/>
    <script>
        function searchBar(){
            let bar = document.querySelector('.search-bar');

            bar.classList.toggle('on');
        }

        function revealSubCate(i){
            let subcate = document.querySelectorAll('.subcate')[i];
            let subcateLength = document.querySelectorAll('.subcate').length;

            for(let j =0; j <subcateLength; j++ ){
                document.querySelectorAll('.subcate')[j].classList.remove('on');
            }

            subcate.classList.toggle('on');
        }

        function numHightlight(i){
        		i -= 1; // 버튼 시작 value가 1이고, 첫번째 버튼을 여기서 가리키려면 document.querySelectorAll(".num")[0]이기 때문
                let num = document.querySelectorAll(".num")[i];
                let numLength = document.querySelectorAll(".num").length;
					
                for(let j =0; j < numLength; j++){
                    document.querySelectorAll(".num")[j].classList.remove('on');    
                }

                num.classList.add('on');
                
                location.href = "/swiftER/admin/member?pg=" + (i + 1) + "&docPg=" + [[${docPg}]];
            }

        function numHightlight2(i){
        		i -= 1; // 버튼 시작 value가 1이고, 첫번째 버튼을 여기서 가리키려면 document.querySelectorAll(".num")[0]이기 때문
                let num = document.querySelectorAll(".num2")[i];
                let numLength = document.querySelectorAll(".num2").length;

                for(let j =0; j < numLength; j++){
                    document.querySelectorAll(".num2")[j].classList.remove('on');    
                }

                num.classList.add('on');
                
                location.href = "/swiftER/admin/member?pg=" + [[${pg}]] + "&docPg=" + (i + 1);
            }
        
        window.onload = () => {
        	let pg = [[${pg}]];
        	let docPg = [[${docPg}]];
        	
        	// 페이지 로드 시 파라미터로 넘어온 pg 페이지 버튼이 highlight 되도록
        	document.querySelectorAll('.num')[pg - 1].classList.add('on');
        	document.querySelectorAll('.num2')[docPg - 1].classList.add('on');
        }
    </script>
            <div class="admin-content">
                <div class="member-panel-main shadow">
                    <p>회원 리스트</p>
                    <div class="member-table-wrapper">
                        <table class="member-table">
                            <tr>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>등급</th>
                                <th>이름</th>
                                <th>가입일자</th>
                                <th></th>
                            </tr>
                            <tr th:each="member, status:${members}">
                                <td>[[${start + status.index + 1}]]</td>
                                <td>[[${member.member.uid}]]</td>
                                <th:block th:switch="${member.member.grade}">
                                	<td th:case="0">관리자</td>
                                	<td th:case="1">일반</td>
                                	<td th:case="2">의사</td>
                                	<td th:case="3">탈퇴</td>
                                	<td th:case="4">영구 정지</td>
                                </th:block>
                                <td>[[${member.member.name}]]</td>
                                <td>[[${member.member.rdate}]]</td>
                                <td>
                                    <input type="button" value="상세보기" class="details-button" th:onclick="|location.href='@{/admin/member/view?(uid=${member.member.uid})}'|">
                                </td>
                            </tr>
                        </table>
                        <div class="member-list-table-buttons">
                        	<th:block th:if="${groups[0]>1}">
                            	<input type="button" value="이전" class="before" th:onclick="|location.href='@{/admin/member(pg=${groups[0]-1}, docPg=${docPg})}'|">
                            </th:block>
                            <th:block th:if="${groups[1] != 0}">
                            	<th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
                            		<input type="button" th:value="${num}" class="num" onclick="numHightlight(value)">
                            	</th:block>
                            </th:block>
                            <th:block th:if="${groups[1]<lastPageNum}">
                            	<input type="button" value="다음" class="next" th:onclick="|location.href='@{/admin/member(pg=${groups[1]+1}, docPg=${docPg})}'|">
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="member-panel-main pending-requests shadow">
                    <p>인증 대기 리스트</p>
                    <div class="pending-requests-table-wrapper">
                        <table class="pending-requests-table member-table">
                            <tr>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>가입일자</th>
                                <th></th>
                            </tr>
                            <th:block th:each="doc, status:${docs}">
	                            <tr>
	                                <td>[[${docStart + status.index + 1}]]</td>
	                                <td>[[${doc.member.uid}]]</td>
	                                <td>[[${doc.member.name}]]</td>
	                                <td>[[${doc.member.rdate}]]</td>
	                                <td>
	                                    <input type="button" value="상세보기" class="details-button" th:onclick="|location.href='@{/admin/member/view?(uid=${doc.member.uid})}'|">
	                                </td>
	                            </tr>
                            </th:block>
                        </table>
                        <div class="member-list-table-buttons">
                        	<th:block th:if="${docGroups[0]>1}">
                            	<input type="button" value="이전" class="before" th:onclick="|location.href='@{/admin/member(pg=${pg}, docPg=${docGroups[0]-1})}'|">
                            </th:block>
                            <th:block th:if="${docGroups[1] != 0}">
                            	<th:block th:each="num2:${#numbers.sequence(docGroups[0], docGroups[1])}">
                            		<input type="button" th:value="${num2}" class="num2" onclick="numHightlight2(value)">
                            	</th:block>
                            </th:block>
                            <th:block th:if="${docGroups[1]<docLastPageNum}">
                            	<input type="button" value="다음" class="next" th:onclick="|location.href='@{/admin/member(pg=${pg}, docPg=${docGroups[1]+1})}'|">
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>