#wrapper {
    margin: 0 auto;
    width: 900px;
    height: 100%;
}

.home {
    opacity: 0.5;
}

.home:hover {
    transition: 0.5s;
    opacity: 1;
}

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.p_Header {
    width: 100%;
    height: 20px;
    margin: 0 auto;
}

.p_Header > a {
	padding: 5px;
	float: right;
	font-size: 14px;
	text-decoration: none;
	color: gray;
}

.header_login {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

#h1_login {
    margin: 0 0 10px;
}

.centerName {
    margin-top: 100px;
    text-align: center;
}

.centerName > div {
    width: 50%;
    height: 200px;
    float: left;
    text-align: right;
}

.centerName > div:last-child {
    padding: 50px 0px;
    box-sizing: border-box;
    text-align: left;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#wrapper > header > .centerName > div > h1 {
    margin: 10px 0px;
}


main > h2 {
    text-align: right;
}

.login {
    width: 600px;
    height: 100%;
    margin: 0px auto 42px;
    padding: 70px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 10px;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.login_user > table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.login_user > table > tbody > tr > td > input{
    position: relative;
    width: 300px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #222;
    box-sizing: border-box;
    float: left;
    border: 1px solid #dadada;
    border-radius: 10px;
    text-indent: 15px;
}

body > div > main > div > div > form > div > table > tbody > tr:nth-child(3) > td {
	height:30px;
}

#error > p {
	margin: 0 auto;
}

#errormessage {
	color:red;
}

.login_user > table > tbody > tr:nth-child(4) {
    float: left;
}

.login_user > table > tbody > tr > td > span > label {
    font-size: 14px;
    border: 1px solid black;
}

.auto {
    margin: 0 0 20px 0;
}

#login_button {
    display: block;
    width: 100%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 0px;
    background: rgb(44,233,123);
    background: linear-gradient(61deg, rgba(44,233,123,1) 0%, rgba(1,177,255,1) 100%);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#login_button:hover {
    background: rgb(44,233,123);
    transition: 0.5s;
}

h2 {
    color: #d7d7d7;
}

main > div > div > form > div > span > label > a {
    color: #222;
    font-size: 14px;
    text-decoration: none;
}

main > div > div > form > div > span > label > a:hover {
    color: #a1a1a1;
    transition: 0.5s;
}

main > div > div > form > div > button {
    border: 0px;
    background-color: white;
    cursor: pointer;
}

.go_home > a {
    text-decoration: none;
    float: right;
}

.go_home > a:hover {
    color: #969696;
    transition: 0.5s;
}


/* terms */
.terms {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#terms_header    {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: block;
}

.logoBox {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.logoBox > a {
    width: 100%;
    height: 100%;
}

.message {
    width: 50%;
    height: 100%;
    float: right;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
}


#terms_main > h2 {
    text-align: right;
}

#terms_main > div > section {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 10px;
    box-sizing: border-box;
}

#terms_main > div > section > ul {
    margin: 0 auto;
}

#terms_main > div > section > ul > li {
    width: 100%;
    list-style: none;
}

#terms_main > div > section > ul > li > h3 {
    width: 900px;
    display: inline-block;
}

#terms_main > div > section > ul > li > textarea {
    width: 900px;
    height: 300px;
    text-align: left;
    resize: none;
    border: 1px solid rgba(0,0,0,.12);
}

#agree {
	text-align: right;
	padding: 10px 60px;
	box-sizing: border-box;
}

#terms_main > div > section > ul li:last-child {
    text-align: right;
    box-sizing: border-box;
    padding: 60px;
}

#terms_main > div > section > ul > li > button {
    border: 0px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(61deg, rgba(44,233,123,1) 0%, rgba(1,177,255,1) 100%);
    cursor: pointer;
}

#terms_main > div > section > ul > li > button:last-child {
    background: #01b1ff 105.37%;
}

#terms_main > div > section > ul > li > button:hover {
    transition: 0.5s;
    background:rgba(44,233,123,1)
}



/* register */

.kind {
	width: 150px;
	padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    text-indent: 5px;
}

article {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    
}

article > section {
    margin: 100px 70px 30px;
}

article > section > h4 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 20px;
}

article > section > table > tbody > tr {
    height: 50px;
}

article > section > table > tbody > tr > th {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #dfe5ed;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

article > section > table > tbody > tr > td {
    padding: 10px;
    border-bottom: 1px solid #dfe5ed;
}

article > section > table > tbody > tr > td > span {
    margin-left: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

article > section > table > tbody > tr > td > span > button {
    width: 100px;
    height: 27px;
    border: 0px;
    border-radius: 5px;
}

article > section > table > tbody > tr > td > input {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    text-indent: 5px;
}

article > section > table > tbody > tr > td > div > input {
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-indent: 5px;
}

article > section > table > tbody > tr > td > span > input {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    text-indent: 5px;
}

article > section:nth-child(2) > table > tbody > tr:nth-child(4) > td > span > button:nth-child(4) {
    margin: 10px;
}

article > section > table > tbody > tr > td > div:first-child > input {   
    width: 40%;
}

#wrapper > main > article > div {
    text-align: center;
    margin-bottom: 50px;
}

.register > section:nth-child(2) > table > tbody > .docCate > td {
    width: 50%;
    padding: 11px 10px;
    float: left;
    box-sizing: border-box;
}

.submit {
    border: 0px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(44,233,123);
    background: linear-gradient(61deg, rgba(44,233,123,1) 0%, rgba(1,177,255,1) 100%);
    cursor: pointer;
}

.submit:hover {
    background: rgb(44,233,123);
    transition: 0.5s;
}

/* find,change,delete 공통 */
#wrapper > main > article > section > .find {
    text-align: center;
    margin-top: 10px;
}

#wrapper > main > article > section > .find > span > a {
    text-decoration: none;
    color: rgba(0, 0, 0);
}

#wrapper > main > article > section > .find > span > a:hover {
    color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

/* review 페이지 */
.reviewER {
    margin-bottom: 100px;
}

.reviewER > section > .review {
    width: 100%;
}

.selectBox {
    width: 40%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    text-indent: 5px;
}

.reviewER > section > .review > tbody > tr > th {
    width: 20%;
}

.reviewER > section > .review > tbody > tr > td:nth-child(2) {
    width: 60%;
}

.reviewER > section > .review > tbody > tr > td:nth-child(3) {
    width: 20%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.review> tbody > tr:nth-child(5) > td:nth-child(2) > input[type=text] {
    width: 80%;
}

.review> tbody > tr:nth-child(6) > td:nth-child(2) > textarea {
    width: 80%;
    height: 100px;
    resize: none;
}

#rating {
    width: 20%;
}


/* articleList, reviewList */
#wrapperList {
    margin: 0 auto;
    width: 1300px;
    height: 100%;
}

.list {
    width: 1300px;
}

.articleList {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.title {
    text-align: center;
}

.articleList > tbody > tr > th:nth-child(1) {
    width: 15%;
}

.articleList > tbody > tr > th:nth-child(2) {
    width: 50%;
}

.articleList > tbody > tr > th:nth-child(3) {
    width: 10%;
}

.articleList > tbody > tr > th:nth-child(4) {
    width: 10%;
}

.articleList > tbody > tr > th:nth-child(5) {
    width: 15%;
}

.articleList > tbody > tr > td > a {
    text-decoration: none;
    color: #000000;
}

.page {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 50px;
}

.page > a {
    display: inline-block;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #969696;
    line-height: 25px;
    font-weight: bold;
    vertical-align: bottom;
}

.page > .on {
    background: rgb(44,233,123,0.8);
    border-radius: 17px;
    color: #fff;
}

.page > .prev {
    font-size: 0px;
    background-image: url("/swiftER/img/member/sprites.png");
    background-position: -706px -659px;
}

/* 나중에 뒤에 페이지로 넘어가면 앞 페이지로 넘어갈 수 있기 때문에 진한 검은색으로*/

.page > .next {
    font-size: 0px;
    background-image: url("/swiftER/img/member/sprites.png");
    background-position: -635px -659px;
}

#th1 {
    width: 10%;
}

#th2 {
    width: 10%;
}

#th3 {
    width: 20%;
}

#th4 {
    width: 40%;
}

#th5 {
    width: 10%;
}

#th6 {
    width: 10%;
}