 #wrapper {
    width: 1300px;
}

#wrapper > main > article {
    display: block;
}

#wrapper > main > article:nth-child(2) {
    width: 39%;
    height: 400px;
    float: left;
}

#wrapper > main > article > section {
    margin: 10px;
}

#wrapper > main > article:nth-child(3) {
    width: 59%;
    height: 400px;
    float: right;
}

#wrapper > main > article:nth-child(3) > section > table > tbody > tr:nth-child(1) > th:nth-child(1) {
	width: 85px;
}

#wrapper > main > article:nth-child(3) > section > table > tbody > tr:nth-child(1) > th:nth-child(2) {
    width: 40%;
}

#wrapper > main > article:nth-child(3) > section {
    text-align: center;
}

#wrapper > main > article > section > .article_name {
    text-align: center;
    margin-top: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

table > tbody > tr > th {
    font-size: 12px;
}

table > tbody > tr > td {
    text-align: center;
    font-size: 11px;
}

table > tbody > tr > td > a {
    text-decoration: none;
    color: #000000;
}

table:nth-child(2) {
    margin: 0 auto;
}

article > section > table > tbody > tr > th {
    width: 75px;
    padding: 10px;
    border-bottom: 1px solid #dfe5ed;
}

article.reviewSection {
    width: 59%;
    height: 425px;
    float: right;
}

article.reviewSection > section > table {
    width: 90%;
    margin: 0 auto;
}

article.reviewSection > section > table > tbody > tr > th:nth-child(1) {
    width: 15%;
}

article.reviewSection > section > table > tbody > tr > th:nth-child(2) {
    width: 20%;
}

article.reviewSection > section > table > tbody > tr > th:nth-child(3) {
    width: 35%;
}

article.reviewSection > section > table > tbody > tr > th:nth-child(4) {
    width: 15%;
}

article.reviewSection > section > table > tbody > tr > th:nth-child(5) {
    width: 15%;
}

#wrapper > main > article.reviewSection > section > span {
    float: right;
    font-size: 12px;
    margin-right: 70px;
}

#wrapper > main > article.reviewSection > section > span > a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-size: 15px;
}

#wrapper > main > article.reviewSection > section > span > a:hover {
    color: black;
}

#wrapper > main > article > div {
    margin-top: 25px;
}

#wrapper > main > article {
    margin-bottom: 50px;
    box-shadow: 0px 10px 15px -10px rgb(0 0 0 / 30%);
}
/*
--------------------------------------------------------------------------------------
*/

#name {
	
    text-align: center;
    margin-top: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 20px;
}

#s_name {
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 20px;
}

h6 {
	font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.calendarborder{
    width: 507px;
    height: 425px;
    margin: 0 auto;
    float: left;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px -10px rgb(0 0 0 / 30%);
    text-align: center;
    padding: 10px;
}

.calendarborder > div{
	margin-bottom: 30px;
}

.selectDate {
	width: 100%;
	text-align: center;
}

#calendar {
	text-align: center;
	width: 50%;
}

.history {
	width: 100%;
}

.historyTable {
	width:100%;
	border-collapse: collapse;
}

.historyTable > tbody > tr > th:first-child {
	width: 35%;
}

.historyTable > tbody > tr > th:nth-child(2) {
	width: 35%;
}

.historyTable > tbody > tr > th:nth-child(3) {
	width: 30%;
}

.historyTable > tbody > tr > td {
	height: 30px;
	border: 1px solid #dfe5ed;
	font-size: 12px;
}

.note {
	width: 100%;
}

.noteTable{
	width:100%;
	border-collapse: collapse;
}

.noteTd {
	width: 140px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	background-color: rgb(233, 233, 233);
	text-align: center;
}

#note-submit{
	float: right;
	width: 140px;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bold	;
	color: #000;
	background-color: #FFFFA6;
	border: 0px solid #F8FFA6;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

#note-submit:hover{
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');