<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
	  <link rel="stylesheet" th:href="@{/css/member/error.css}">
<head>
    <meta charset="UTF-8">
    <title>403 오류</title>
</head>

<body>
	<div id=wrapper>
	    	<img th:src="@{/img/member/swifter_logo.png}" alt="에러이미지" width="400px" height="400px">
		<div>
			<h2>
				의사회원만 답변을 달 수 있습니다.
			</h2>
		</div>
		<div>
		<a th:href="@{/}" class="errorHome"><img th:src="@{/img/member/cancel.png}" alt="홈으로" width="70px" height="70px"><br/>홈으로</a>
		</div>
	</div>
</body>
</html>