<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
    <title>작성한 글 목록</title>
</head>
<body>
    <div id="wrapperList">
        <header>
        <p class="p_Header">
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/terms}">회원가입</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
       	</p>
            <div class="centerName">
                <div><img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        swiftER <br> 작성한 글 목록
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
            	<a th:href="@{/member/myPage}" class="home"><img th:src="@{/img/member/cancel.png}" alt="취소" width="50px" height="50px"></a>
                <a th:href="@{/}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="list">
                <section>
                    <h4 class="title">작성한 글 목록입니다</h4>
                    <table class="articleList">
                        <tr>
                            <th>
                                카테고리
                            </th>
                            <th>
                                제목
                            </th>
                            <th>
                                조회수
                            </th>
                            <th>
                                댓글수
                            </th>
                            <th>
                                작성일
                            </th>
                        </tr>
                        
                        <tr th:each="ca : ${cas}">
                            <td th:if="${ca.cateCode == 10}">자유 게시판</td>
                            <td th:if="${ca.cateCode == 11}">질문 게시판</td>
                            <td th:if="${ca.cateCode == 12}">내가 사는 동네</td>
                            <td><a th:href="@{/community/qnaView(cateCode=${ca.cateCode},no=${ca.no},parent=${ca.no},comments=${ca.comments})}">[[${ca.title}]]</a></td>
                            <td>[[${ca.view}]]</td>
                            <td>[[${ca.comments}]]</td>
                            <td>[[${ca.rdate}]]</td>
                        </tr>
                    </table>
                </section>
                <div class="page">
                	<th:block th:if="${groups[0]>1}">
                    	<a th:href="@{/member/articleList(uid=${uid},pg=${groups[0]-1})}" class="prev">이전</a>
                    </th:block>
                    
                    <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                    	<a th:href="@{/member/articleList(uid=${uid},pg=${num})}"
	            			th:class="${num==currentPage?'num on':'num'}">[[${num}]]</a>
	                </th:block>
	                
	                <th:block th:if="${groups[1]<lastPageNum}">
                    	<a th:href="@{/member/articleList(uid=${uid},pg=${groups[1]+1})}" class="next">다음</a>
                   	</th:block>
                </div>
            </article>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>