<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/member/swifter_logo.ico}">
    <title>작성한 글 목록</title>
</head>
<body>
    <div id="wrapperList">
        <header>
            <div class="centerName">
                <div><img th:src="@{/img/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        swiftER <br> 작성한 글 목록
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
                <a th:href="@{#}" class="home"><img th:src="@{/img/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="list">
                <section>
                    <h4 class="title">작성한 글 목록입니다</h4>
                    <table class="articleList">
                        <tr>
                            <th>
                                카테고리
                            </th>
                            <th>
                                제목
                            </th>
                            <th>
                                조회수
                            </th>
                            <th>
                                댓글수
                            </th>
                            <th>
                                작성일
                            </th>
                        </tr>
                        
                        <tr>
                            <td>자유게시판</td>
                            <td><a th:href="@{#}">안녕하세요 김현준입니다</a></td>
                            <td>870</td>
                            <td>50</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>자유게시판</td>
                            <td><a th:href="@{#}">안녕하세요 김현준입니다</a></td>
                            <td>870</td>
                            <td>50</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>자유게시판</td>
                            <td><a th:href="@{#}">안녕하세요 김현준입니다</a></td>
                            <td>870</td>
                            <td>50</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>자유게시판</td>
                            <td><a th:href="@{#}">안녕하세요 김현준입니다</a></td>
                            <td>870</td>
                            <td>50</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>자유게시판</td>
                            <td><a th:href="@{#}">안녕하세요 김현준입니다</a></td>
                            <td>870</td>
                            <td>50</td>
                            <td>23.03.13</td>
                        </tr>
                    </table>
                </section>
                <div class="page">
                    <a th:href="@{#}" class="prev">이전</a>
                    <a th:href="@{#}" class="num on">1</a>
                    <a th:href="@{#}" class="num">2</a>
                    <a th:href="@{#}" class="num">3</a>
                    <a th:href="@{#}" class="num">4</a>
                    <a th:href="@{#}" class="num">5</a>
                    <a th:href="@{#}" class="next">다음</a>
                </div>
            </article>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>