<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>일반 회원정보수정</title>
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/change_nor.js}"></script>
    <script th:src="@{/js/postcode.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
        <p class="p_Header">
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/terms}">회원가입</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
       	</p>
            <div class="centerName">
                <div><img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        
                        일반회원 <br> 회원정보수정
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
                <a th:href="@{/}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="register">
                <section>
                    <h4>필수 정보입력</h4>
                    <table>
                    
                        <tr>
                            <th>
                                아이디
                            </th>
                            <td>
                            	<input type="hidden" name="grade" value="1">
                                <input type="text" name="uid" id="uid" th:value="${vo.uid}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                비밀번호
                            </th>
                            <td>
                                <input type="password" name="pass1" placeholder="비밀번호 입력" required>
                                <span>영문, 숫자, 특수문자를 조합하여 8~12자까지 설정해 주십시오</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                비밀번호 확인
                            </th>
                            <td>
                                <input type="password" name="pass2" placeholder="비밀번호 확인" required>
                                <span class="resultPass">비밀번호 재입력</span>
                            </td>
                        </tr>
                    </table>
                </section>
                <section>
                    <h4>기본 정보입력</h4>
                    <table>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input type="text" name="name" th:value="${vo.name}" required>
                                <span class="resultName">한글 2~6자를 입력해 주십시오</span>
                            </td>
                        </tr>
                        <tr>
                            <th>별명</th>
                            <td>
                                <input type="text" name="nickname" th:value="${vo.nickname}" required>
                            </td>
                        </tr>
                        <tr>
                            <th>생년월일</th>
                            <td>
                                <input type="date" name="nickname" th:value="${vo.birth}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>휴대전화</th>
                            <td>
                                <input type="text" name="hp" th:value="${vo.contact}" required>
                                <span class="resultHp"> - 포함 13자리를 입력해주세요</span>
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <div>
                                    <input type="text" name="zip" id="zip" th:value="${vo.zip}" th:onclick="postcode()" required>
                                    <span class="resultZip"></span>
                                </div>
                                <div>
                                    <input type="text" name="addr1" id="addr1" th:value="${vo.addr1}" required>
                                </div>
                                <div>
                                    <input type="text" name="addr2" id="addr2" th:value="${vo.addr2}" required>
                                </div>
                            </td>
                        </tr>
                    </table>        
                </section>
                <div>
                    <button class="submit" id="changeMember">
                        회원정보수정
                    </button>
                </div>
            </article>
        </main>
    </div>
    <footer></footer>
</body>
</html>