<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/member/swifter_logo.ico}">
    <title>ID 찾기</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="centerName">
                <div><img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        
                        swiftER <br> ID 찾기
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
                <a th:href="@{#}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="findId">
                <section>
                    <h4 class="find">아래의 정보를 입력하여 swiftER ID를 찾으십시오</h4>
                    <table>
                        <tr>
                            <th>
                                이름
                            </th>
                            <td>
                                <input type="text" name="name" placeholder="이름 입력">
                                <span>이름을 입력하여 주십시오</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                E-mail
                            </th>
                            <td>
                                <input type="text" name="email" placeholder="E-mail 입력">
                                <span>가입할 때 사용하신 E-mail을 입력하여 주십시오</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                인증번호
                            </th>
                            <td>
                                <input type="text" name="key" placeholder="비밀번호 확인">
                                <span>이메일로 전송받은 인증번호를 입력하여 주십시오</span>
                            </td>
                        </tr>
                    </table>
                    <div class="find">
                        <span>
                            <a th:href="@{#}">로그인</a>
                            |
                            <a th:href="@{#}">비밀번호 찾기</a>
                            |
                            <a th:href="@{#}">회원가입</a>
                        </span>
                    </div>
                </section>
                <div>
                    <button class="submit">
                        ID 찾기
                    </button>
                </div>
            </article>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>