<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/member/swifter_logo.ico}">
    <title>PW 찾기</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
	$(document).ready(function(){
		let isEmailOk = false;
		$('#findPwEmailCheck').click(function(){
			let email = $('input[name=email]').val();
			
			$.ajax({
				url : '/swiftER/member/checkEmail',
   				method : 'get',
   				data : {"email":email},
   				dataType : 'json',
   				success : function(data){
   					console.log(email);
   				}
			});
		});
		
		$('#findPwCheckCode').click(function(){
			let code = $('input[name=code]').val();
			
			$.ajax({
				url : '/swiftER/member/checkCode',
				method : 'get',
				data : {"code":code},
				dataType : 'json',
				success : function(data){
					
					console.log('data : ' + data);
					
					if(data.result != 0){
						$('.resultCode').css('color', 'red').text('잘못된 인증번호입니다');
						console.log(data.result);
					}else{
						$('.resultCode').css('color', 'green').text('인증 되었습니다');
						$('input[name=code]').attr('readonly', true);
						isEmailAuthOk = true;
						console.log(data.result);
					}
				}
				
			})
		});
		
		$('#findPwSubmit').click(function(){
			// 이메일 검증
    		if(!isEmailOk){
    			alert('이메일 인증을 진행해야합니다.');
    			return false;
    		}else{
    			location.href="/swiftER/member/changePw";
    		}
		});
		
	});
	
	</script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="centerName">
                <div><img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        
                        swiftER <br> 비밀번호 찾기
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
                <a th:href="@{#}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="findId">
                <section>
                    <h4 class="find">아래의 정보를 입력하여 swiftER 비밀번호를 찾으십시오</h4>
                    <table>
                        <tr>
                            <th>
                                ID
                            </th>
                            <td>
                                <input type="text" name="id" placeholder="ID 입력">
                                <span>가입할 때 사용하신 ID를 입력하여 주십시오</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                E-mail
                            </th>
                            <td>
                                <input type="text" name="email" placeholder="E-mail 입력">
                                <span><button id="findPwEmailCheck">인증번호 전송</button></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                인증번호
                            </th>
                            <td>
                                <input type="text" name="code" placeholder="비밀번호 확인">
                                <span class="resultCode"><button id="findPwCheckCode">인증번호 확인</button>&nbsp;&nbsp;&nbsp;전송받은 인증번호를 입력해 주십시오</span>
                            </td>
                        </tr>
                    </table>
                    <div class="find">
                        <span>
                            <a th:href="@{#}">로그인</a>
                            |
                            <a th:href="@{#}">아이디 찾기</a>
                            |
                            <a th:href="@{#}">회원가입</a>
                        </span>
                    </div>
                </section>
                <div>
                    <button id="findPwSubmit">
                        비밀번호 찾기
                    </button>
                </div>
            </article>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>