<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>Kakao.init("74f5c3ca986c88f3d4df978bd57d6cbb");</script>
</head>
<body>
    <div>
        <header class="header_login">
            <div class="centerLogo">
                <h1 id="h1_login">
                    <a th:href="@{/}">
                        <img th:src="@{/img/member/swifter_logo_login.png}" alt="로고이미지" width="250px" height="185.5px">
                    </a>
                </h1>
            </div>
        </header>

        <!-- main -->
        <main class="login">
            <div class="loginForm">
                <div>
                    <form action="#" method="post">
                        <div class="login_user">   
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" name="uid" placeholder="switfER 아이디">
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="password" name="pass" placeholder="비밀번호">
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		<span id="error" th:if="${param.error}">
								                    <p id="errormessage" th:text="${exception}"></p>
											</span>
											<span id="error" th:unless="${param.error}">
								                    <p>&nbsp;</p>
											</span>
                                    	</td>
                                    </tr>
                                    <tr class="auto">
                                        <td>
                                            <span>
                                                <input type="checkbox" name="remember-me"> 자동 로그인
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="submit" id="login_button" value="로그인">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <span> 
                                <label>
                                    <a th:href="@{/member/findId}">아이디 찾기  | </a>
                                    <a th:href="@{/member/findPw}">비밀번호 찾기  | </a>
                                    <a th:href="@{/member/terms}">회원가입</a>
                                </label>
                            </span>

                            <h2>또는</h2>
                            <a th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=b59782950c07b248fe9ef97eacdd98a1&redirect_uri=http://localhost:8181/swiftER/kakao/kakaoAuth&response_type=code}"
   onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;">
                            	<img alt="네이버" th:src="@{/img/member/naver.jpg}" width="60px" height="60px"></a>
                            <a th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=b59782950c07b248fe9ef97eacdd98a1&redirect_uri=http://localhost:8181/swiftER/kakao/kakaoAuth&response_type=code}">
                            	<img alt="카카오" th:src="@{/img/member/kakao.jpg}" width="60px" height="60px"></a>
                            <a>
                            			
                            	<img id="google" alt="구글" th:src="@{/img/member/google.jpg}" width="60px" height="60px"></a>
<script>
$(function(){
	$('#google').click(function(){
		$.ajax({
			  url: 'https://kauth.kakao.com/oauth/authorize',
			  type: 'GET',
			  data: {
			    client_id: 'b59782950c07b248fe9ef97eacdd98a1',
			    redirect_uri: '/swiftER/kakao/kakaoAuth',
			    response_type: 'code'
			  },
			  success: function(response) {
			    // 성공적으로 요청을 보낸 후 수행할 동작
			    location.href= '/';
			  },
			  error: function(xhr, status, error) {
			    // 에러 처리
			    console.log(error);
			  }
			});
	});
});
</script>
                            <h2 class="go_home">
                                <a th:href="@{/}" class="home">홈으로</a>
                            </h2>
                        </div>
                    </form>
                </div>
            </div>    
        </main>
    </div>
</body>
</html>