<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="stylesheet" th:href="@{/css/member/calendar.css}">
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
    <script src="https://kit.fontawesome.com/bf3bc66abd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(function(){
    	$('#calendar').change(function(){
    		alert('!');
    	});
    });
    </script>
    <title>마이페이지</title>

   <style>
    #calendar {
      padding: 8px;
      border: none;
      border-bottom: 2px solid #ccc;
      font-size: 16px;
      font-family: Arial, sans-serif;
      color: #555;
      background-color: transparent;
    }

    #calendar::-webkit-calendar-picker-indicator {
      color: #555;
      font-size: 16px;
    }

    #calendar:focus {
      outline: none;
      border-bottom: 2px solid #1e87f0;
    }
    </style>
</head>
<body>
    <div id="wrapper">
        <header>
        <p class="p_Header">
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/terms}">회원가입</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
       	</p>
            <div class="centerName">
                <div>
                	<img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        
                        swiftER <br> 마이페이지
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
            	<a th:href="@{#}" class="logout"><img th:src="@{/img/member/logout.png}" alt="로그아웃" width="50px" height="50px"></a>
                <a th:href="@{/}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article>
                <section>
                    <h4 class="article_name">내정보</h4>
                    <table id="myInfo">
                        <tr>
                            <th th:if="${vo.grade == 1}">
                                활동명
                            </th>
                            <th th:if="${vo.grade == 2}">
                                인증여부
                            </th>
                            <td th:if="${vo.grade == 1}">
                                [[${vo.nickname}]]
                            </td>
                            <td th:if="${vo.grade == 2}">
                                <span th:if="${dvo.verified == 0}">[[${dvo.veriMsg}]]</span>
                                <span th:if="${dvo.verified == 1}">O</span>
                            </td>
                            <th th:if="${vo.grade == 1}">가입일</th>
                            <th th:if="${vo.grade == 2}">의사구분</th>
                            <td th:if="${vo.grade == 1}">[[${vo.rdate}]]</td>
                            <td th:if="${vo.grade == 2}">[[${dvo.specialty}]]<br>[[${dvo.kind}]]</td>
                        </tr>
                        <tr>
                            <th>
                                E-mail
                            </th>
                            <td>
                                [[${vo.email}]]
                            </td>
                            <th>
                                회원구분
                            </th>
                            <td th:if="${vo.grade == 1}">
                                일반회원
                            </td>
                            <td th:if="${vo.grade == 2}">
                                의사회원
                            </td>
                        </tr>
                        <tr>
                            <th>
                                휴대전화
                            </th>
                            <td>
                                [[${vo.contact}]]
                            </td>
                            <th>
                                작성한 글
                            </th>
                            <td>
                                [[${ca}]]
                            </td>
                        </tr>
                        <tr>
                            <th>
                                주소
                            </th>
                            <td>
                                [[${vo.addr1}]]
                            </td>
                            <th>상세주소</th>
                            <td>
                                [[${vo.addr2}]]
                            </td>
                            
                        </tr>
                    </table>
                </section>
                <div th:if="${vo.grade == 1}">
                    <button class="submit" onclick="location.href='changeNor'">
                        회원정보수정
                    </button>
                    <button class="submit" onclick="location.href='deleteMember'">
                        회원 탈퇴
                    </button>
                </div>
                <div th:if="${vo.grade == 2}">
                    <button class="submit" onclick="location.href='changeDoc'">
                        회원정보수정
                    </button>
                    <button class="submit" onclick="location.href='deleteMember'">
                        회원 탈퇴
                    </button>
                </div>
            </article>
            <article>
                <section>
                    <h4 class="article_name">내가 작성한 글 </h4>
                    <table>
                        <tr>
                            <th>
                                카테고리
                            </th>
                            <th>
                                제목
                            </th>
                            <th>
                                댓글
                            </th>
                            <th>
                                조회수
                            </th>
                            <th>
                                작성일
                            </th>
                        </tr>
                        <tr th:each="cas : ${cas}">
                            <td th:if="${cas.cateCode == 10}">자유 게시판</td>
                            <td th:if="${cas.cateCode == 11}">질문 게시판</td>
                            <td th:if="${cas.cateCode == 12}">내가 사는 동네</td>
                            <td><a th:href="@{#}">[[${cas.title}]]</a></td>
                            <td>[[${cas.comments}]]</td>
                            <td>[[${cas.view}]]</td>
                            <td>[[${cas.rdate}]]</td>
                        </tr>
                    </table>
                </section>
                <div>
                    <button class="submit" id="articleListAll" th:onclick="|location.href='@{articleList(uid=${vo.uid})}'|">
                        더보기
                    </button>
                </div>
            </article>
            <div class="calendarborder">
            	<h4 id="name">간편 이력</h4>
                <div id="selectDate">
                    <input type="date" id="calendar">
                </div>
                <div class="history">
                    <table class="historyTable">
                        <tr>
                            <th>날짜</th>
                            <th>병원명</th>
                            <th>질환/증상</th>
                        </tr>
                        <tr>
                            <td>2023.03.10</td>
                            <td>부산대병원</td>
                            <td>두드러기</td>
                        </tr>
                        <tr>
                            <td>2023.03.10</td>
                            <td>부산대병원</td>
                            <td>두드러기</td>
                        </tr>
                        <tr>
                            <td>2023.03.10</td>
                            <td>부산대병원</td>
                            <td>두드러기</td>
                        </tr>	
                    </table>
                    
                </div>
                <h4 id="s_name">기록</h4>
                <div class="note">
                	<form action="">
	                    <table class="noteTable">
	                    <!-- db 만들었으니 ajax 통신으로 주고받으면 될듯 -->
	                        <tr>
	                            <th>날짜</th>
	                            <th>병원명</th>
	                            <th>질환/증상</th>
	                        </tr>
	                        <tr>
	                            <td>
	                                <input type="date" class="noteTd" id="udate">
	                            </td>
	                            <td>
	                                <input type="text" class="noteTd" id="hos">
	                            </td>
	                            <td>
	                                <input type="text" class="noteTd" id="symptom">
	                            </td>
	                        </tr>
	                    </table>
	                    <button class="note-button">저장</button>
                    </form>
                </div>
            </div>
            <article class="reviewSection">
                <section>
                    <h4 class="article_name">
                        내가 작성한 리뷰
                    </h4>
                        <span><a href="#"><i class="fa-sharp fa-regular fa-keyboard"></i>&nbsp;리뷰 작성하기</a></span>
                    <table>
                        <tr>
                            <th>지역</th>
                            <th>세부지역</th>
                            <th>제목</th>
                            <th>평점</th>
                            <th>날짜</th>
                        </tr>
                        <tr th:each="ers : ${ers}">
                            <td>[[${ers.region_code}]]</td>
                            <td>[[${ers.subregion_code}]]</td>
                            <td><a th:href="@{#}">[[${ers.title}]]</a></td>
                            <td>[[${ers.rating}]]</td>
                            <td>[[${ers.rdate}]]</td>
                        </tr>
                    </table>
                </section>
                <div>
                    <button class="submit">더보기</button>
                </div>
            </article>
        </main>
    </div>
</body>
</html>