<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
    <title>
        작성한 리뷰 목록
    </title>
</head>
<body>
    <div id="wrapperList">
        <header>
        <p class="p_Header">
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/terms}">회원가입</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
       	</p>
            <div class="centerName">
                <div><img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        swiftER <br> 작성한 리뷰 목록
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
                <a th:href="@{#}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="list">
                <section>
                    <h4 class="title">작성한 리뷰 목록입니다</h4>
                    <table class="articleList">
                        <tr>
                            <th id="td1">
                                지역
                            </th>
                            <th id="td2">
                                세부지역
                            </th>
                            <th id="td3">
                                제목
                            </th>
                            <th id="td4">
                                평점
                            </th>
                            <th id="td5">
                                작성일
                            </th>
                        </tr>
                        
                        <tr>
                            <td>부산광역시</td>
                            <td>사상구</td>
                            <td><a th:href="@{#}">삼선병원 괜찮아요 좋아요 다시 가고 싶어요</a></td>
                            <td>5</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>부산광역시</td>
                            <td>사상구</td>
                            <td><a th:href="@{#}">삼선병원 괜찮아요 좋아요 다시 가고 싶어요</a></td>
                            <td>5</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>부산광역시</td>
                            <td>사상구</td>
                            <td><a th:href="@{#}">삼선병원 괜찮아요 좋아요 다시 가고 싶어요</a></td>
                            <td>5</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>부산광역시</td>
                            <td>사상구</td>
                            <td><a th:href="@{#}">삼선병원 괜찮아요 좋아요 다시 가고 싶어요</a></td>
                            <td>5</td>
                            <td>23.03.13</td>
                        </tr>
                        <tr>
                            <td>부산광역시</td>
                            <td>사상구</td>
                            <td><a th:href="@{#}">삼선병원 괜찮아요 좋아요 다시 가고 싶어요</a></td>
                            <td>5</td>
                            <td>23.03.13</td>
                        </tr>
                    </table>
                </section>
                <div class="page">
                    <a th:href="@{#}" class="prev">이전</a>
                    <a th:href="@{#}" class="num on">1</a>
                    <a th:href="@{#}" class="num">2</a>
                    <a th:href="@{#}" class="num">3</a>
                    <a th:href="@{#}" class="num">4</a>
                    <a th:href="@{#}" class="num">5</a>
                    <a th:href="@{#}" class="next">다음</a>
                </div>
            </article>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>