<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
    <title>
        작성한 리뷰 목록
    </title>
</head>
<body>
    <div id="wrapperList">
        <header>
        <p class="p_Header">
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/terms}">회원가입</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
       	</p>
            <div class="centerName">
                <div><img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        swiftER <br> 작성한 리뷰 목록
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
            	<a th:href="@{/member/myPage}" class="home"><img th:src="@{/img/member/cancel.png}" alt="취소" width="50px" height="50px"></a>
                <a th:href="@{/}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="list">
                <section>
                    <h4 class="title">작성한 리뷰 목록입니다</h4>
                    <table class="articleList">
                        <tr>
                            <th id="th1">
                                지역
                            </th>
                            <th id="th2">
                                세부지역
                            </th>
                            <th id="th3">
                            	병원명
                            </th>
                            <th id="th4">
                                제목
                            </th>
                            <th id="th5">
                                평점
                            </th>
                            <th id="th6">
                                작성일
                            </th>
                        </tr>
                        
                        <tr th:each="er : ${ers}">
                        	<td>[[${er.region}]]</td>
                        	<td>[[${er.subregion}]]</td>
                        	<td><a th:href="@{/er/erDetail(code=${er.hospital_code},city=${er.region},town=${er.subregion})}">[[${er.hospital_name}]]</a></td>
                        	<td><a th:href="@{/er/erDetail(code=${er.hospital_code},city=${er.region},town=${er.subregion})}">[[${er.title}]]</a></td>
                        	<td class="rating star" th:attrappend="class=${er.rating}">[[${er.rating}]]</td>
                        	<td>[[${er.rdate}]]</td>
                        </tr>
                    </table>
                </section>
                <div class="page">
                	<th:block th:if="${groups[0]>1}">
                    	<a th:href="@{/member/reviewList(uid=${uid},pg=${groups[0]-1})}" class="prev">이전</a>
                    </th:block>
                    
                    <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                    	<a th:href="@{/member/reviewList(uid=${uid},pg=${num})}"
	            			th:class="${num==currentPage?'num on':'num'}">[[${num}]]</a>
	                </th:block>
	                
	                <th:block th:if="${groups[1]<lastPageNum}">
                    	<a th:href="@{/member/reviewList(uid=${uid},pg=${groups[1]+1})}" class="next">다음</a>
                   	</th:block>
                </div>
            </article>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>