<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>약관</title>
    <script src="https://kit.fontawesome.com/bf3bc66abd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/swifter_logo_head.png">
	<script th:src="@{/js/terms.js}"></script>
</head>
<body>
    <div class="terms">
    <p class="p_Header">
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/terms}">회원가입</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
       	</p>
        <header id="terms_header">
            <div class="logoBox">
                <a th:href="@{/}">
                    <img th:src="@{/img/member/swifter_logo.png}" alt="메인 로고" width="250px" height="250px">
                </a>
            </div>
            <div class="message">
                <br> 고객님 <br> 환영합니다!
            </div>
        </header>
            
        <main id="terms_main">
            <h2>
                <a th:href="@{/}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <div>
                <section>
                        <ul>
                            <li>
                                <h3>이용총칙</h3>
                                <textarea name="이용총칙" id="use" disabled>
                                	[[${vo.termsOfUse}]]
                                </textarea>
                            </li>
                            <li>
                                <h3>개인정보이용</h3>
                                <textarea name="개인정보이용" id="privacy" disabled>
                                	[[${vo.privacy}]]
                                </textarea>
                            </li>
                                <h3>위치정보이용</h3>
                            <li>
                                <textarea name="위치정보이용" id="location" disabled>
                                	[[${vo.location}]]
                                </textarea>
                                
                            </li>
                            <li id="agree"><input type="checkbox">모두 동의합니다</li>
                            <li>
                                <button class="next" onclick="checkAgreeDoc()">
                                    <i class="fa-solid fa-user-doctor"> 의사 회원가입</i>
                                </button>
                                <button class="next" onclick="checkAgreeNor()">
                                    <i class="fa-solid fa-user"> 일반 회원가입</i>
                                </button>
                            </li>
                        </ul>
                        
                </section>
            </div>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>