<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/member/swifter_logo.ico}">
    <title>리뷰 작성하기</title>
</head>
<body>
    <div id="wrapper">
        <header>
        <p class="p_Header">
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/member/terms}">회원가입</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
       	</p>
            <div class="centerName">
                <div><img th:src="@{/img/member/swifter_logo.png}" alt="로고" width="200px" height="200px" class="logo">
                </div>
                <div>
                    <h1>
                        swiftER <br> 리뷰 작성하기
                    </h1>
                </div> 
            </div>
        </header>
        <main>
            <h2>
                <a th:href="@{#}" class="home"><img th:src="@{/img/member/home.png}" alt="홈으로" width="50px" height="50px"></a>
            </h2>
            <article class="reviewER">
                <section>
                    <h4 class="find">방문했던 병원의 리뷰를 남겨주세요</h4>
                    <table class="review">
                        <tr>
                            <th>
                                지역
                            </th>
                            <td>
                                <select name="region" class="selectBox" id="region">
                                    <option value="10">강원도</option>
                                    <option value="11">경기도</option>
                                    <option value="12">경상남도</option>
                                    <option value="13">경상북도</option>
                                    <option value="14">광주광역시</option>
                                    <option value="15">대구광역시</option>
                                    <option value="16">대전광역시</option>
                                    <option value="17">부산광역시</option>
                                    <option value="18">서울특별시</option>
                                    <option value="19">세종특별자치시</option>
                                    <option value="20">울산광역시</option>
                                    <option value="21">인천광역시</option>
                                    <option value="22">전라남도</option>
                                    <option value="23">전라북도</option>
                                    <option value="24">제주특별자치도</option>
                                    <option value="25">충청남도</option>
                                    <option value="26">충청북도</option>
                                </select>
                            </td>
                            <td>방문 병원의 지역</td>
                        </tr>
                        <tr>
                            <th>
                                세부지역
                            </th>
                            <td>
                                <select name="subregion" class="selectBox" id="subregion">
                                    <option value="10">강원도</option>
                                    <option value="11">경기도</option>
                                    <option value="12">경상남도</option>
                                    <option value="13">경상북도</option>
                                    <option value="14">광주광역시</option>
                                    <option value="15">대구광역시</option>
                                    <option value="16">대전광역시</option>
                                    <option value="17">부산광역시</option>
                                    <option value="18">서울특별시</option>
                                    <option value="19">세종특별자치시</option>
                                    <option value="20">울산광역시</option>
                                    <option value="21">인천광역시</option>
                                    <option value="22">전라남도</option>
                                    <option value="23">전라북도</option>
                                    <option value="24">제주특별자치도</option>
                                    <option value="25">충청남도</option>
                                    <option value="26">충청북도</option>
                                </select>
                            </td>
                            <td>방문병원의 세부지역</td>
                        </tr>
                        <tr>
                            <th>
                                병원명
                            </th>
                            <td>
                                <input type="text">
                            </td>
                            <td>방문병원의 세부지역</td>
                        </tr>
                        <tr>
                            <th>
                                방문일자
                            </th>
                            <td>
                                <input type="date">
                            </td>
                            <td>방문병원의 세부지역</td>
                        </tr>
                        <tr>
                            <th>
                                제목
                            </th>
                            <td>
                                <input type="text">
                            </td>
                            <td>리뷰 제목</td>
                        </tr>
                        <tr>
                            <th>
                                본문
                            </th>
                            <td>
                                <textarea name="content" id="content"></textarea>
                            </td>
                            <td>리뷰 본문</td>
                        </tr>
                        <tr>
                            <th>
                                평점
                            </th>
                            <td>
                                <select name="rating" class="selectBox" id="rating">
                                    <option value="1">1점</option>
                                    <option value="2">2점</option>
                                    <option value="3">3점</option>
                                    <option value="4">4점</option>
                                    <option value="5">5점</option>
                                </select>
                            </td>
                            <td>평점 ( 보통 : 3점 )</td>
                        </tr>
                    </table>
                </section>
                <div>
                    <button class="submit">
                        작성 완료
                    </button>
                </div>
            </article>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>